@import spbox.model.entity.location.Country
@import spbox.web.view.html.main
@import play.i18n._
@(message: String)(countries: List[Country])


@main(message) {

<div class="col-sm-12">
	<div class="control-label">
		<label><h1>@Messages.get("page.cityManager")</h1></label>
	</div>
</div>

<div class="col-sm-12">
	<div class="control-label">
		<a class="btn btn-lg btn-primary" href="/edit_city/new">@Messages.get("page.city.create")</a>
	</div>
</div>

<div class="col-sm-12 table-responsive">	
	<table class="table">
		<thead>
			<tr>
				<th>@Messages.get("city.action")</th>
				<th>@Messages.get("city.country.name.cn")</th>
				<th>@Messages.get("city.country.name.en")</th>
				<th>@Messages.get("city.city.name.cn")</th>
				<th>@Messages.get("city.city.name.cn")</th>
				<th>@Messages.get("city.timeZone")</th>
			</tr>
		</thead>
		<tbody>
			@if(countries!=null){
				@for(country <- countries) {
					@for(city <- country.cities) {
						<tr>
							<td><a class="btn btn-lg btn-info admin-controller" href="/edit_city/@city.bzid" role="button">@Messages.get("action.city.update")</a></td>
							<td>@country.CnName</td>
							<td>@country.EnName</td>
							<td>@city.CnName</td>
							<td>@city.EnName</td>
							<td>@city.timeZone</td>
						</tr>
					}
				}
			} else {
				<p>Read error: Countries</p>
			}
		</tbody>
	</table>
</div>
}
