@import spbox.model.entity.location.City
@import spbox.web.view.html.main
@import play.i18n._
@(message: String)(c: City)(zones: Array[String])

@main(message) {
	<script async src="@routes.Assets.at("javascripts/bootstrapValidator.js")" type="text/javascript"></script>
	<script async src="@routes.Assets.at("javascripts/zh_CN.js")" type="text/javascript"></script>

	<form autocomplete="off" class="form-horizontal" id="edit-article-form" onsubmit="return false;"
	data-bv-message="This value is not valid"
	data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
	data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
	data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
		
		<div class="form-group form-group-sm">
			    <label class="ol-md-5 col-md-offset-2 control-label" id="user-info"></label>
		</div>

		<div class="form-group form-group-sm">
				<label class="col-sm-2 control-label">ID:</label>
			<div class="col-sm-10">
				<input class="form-control" type="text" name="id" id="id"
					placeholder="自动分配" value="@if(c!=null){@c.bzid}" readonly>
			</div>
		</div>

		<div class="form-group form-group-sm">
			<label class="col-sm-2 control-label">@Messages.get("city.country.name.cn"):</label>
			<div class="col-sm-10">
				<input class="form-control" type="text" name="country_cn" id="country_cn"
				placeholder="" value="@if(c!=null){@c.country.CnName}">
			</div>
		</div>

		<div class="form-group form-group-sm">
			<label class="col-sm-2 control-label">@Messages.get("city.country.name.en"):</label>
			<div class="col-sm-10">
				<input class="form-control" type="text" name="country_en" id="country_en"
				placeholder="" value="@if(c!=null){@c.country.EnName}">
			</div>
		</div>

		<div class="form-group form-group-sm">
			<label class="col-sm-2 control-label">@Messages.get("city.city.name.cn"):</label>
			<div class="col-sm-10">
				<input class="form-control" type="text" name="city_cn" id="city_cn"
				placeholder="" value="@if(c!=null){@c.CnName}">
			</div>
		</div>

		<div class="form-group form-group-sm">
			<label class="col-sm-2 control-label">@Messages.get("city.city.name.en"):</label>
			<div class="col-sm-10">
				<input class="form-control" type="text" name="city_en" id="city_en"
				placeholder="" value="@if(c!=null){@c.EnName}">
			</div>
		</div>

		<div class="form-group form-group-sm">
			<label class="col-sm-2 control-label">@Messages.get("city.timeZone"):</label>
			<div class="col-sm-10">
				<select class="form-control" name="text" name="timezone" id="timezone" data-bv-notempty>
				@for(z <- zones) {
					@if(c != null && z == c.timeZone){
						<option value="@z" selected>@z</option>
					}
					else
					{
						<option value="@z">@z</option>
					}
				}
				</select>
			</div>
		</div>

		<div class="col-md-2 col-md-offset-5">
			<button id="city-confirm-button" class="btn btn-success">@Messages.get("action.city.submit")</button>
		</div>
		
	</form>
    		
	@if(c!=null){
		<button class="btn btn-danger" onclick="location.href = '/api/v1/deleteCity/@c.bzid'">@Messages.get("action.city.delete")</button>
	}
		
	<script language="JavaScript">

		$("#city-confirm-button").click(function(){

			$('#edit-article-form').bootstrapValidator().off('success.form.bv').on('success.form.bv', function(e, data) {

			    e.preventDefault();
				var theID = $("#id").val();
				var countryCN = $("#country_cn").val();
				var countryEN = $("#country_en").val();
				var cityCN = $("#city_cn").val();
				var cityEN = $("#city_en").val();
				var theTimezone = $("#timezone").val();

				var data = {"id": theID, "countryCN": countryCN, "countryEN": countryEN, "cityCN": cityCN, "cityEN": cityEN, "timezone": theTimezone};

				$.rest("POST", "/api/v1/editCity", data, function(data){
						window.location.href = "/city_manager";
					},
					function(data){
						if(data.status == 403){
							alert("@Messages.get("message.city.duplicate")");
						}
						else{
							alert("@Messages.get("message.city.createFailed")");
						}

					});

			  });
	 	});

	</script>

}
