@import spbox.model.entity.activity.Activity
@import spbox.model.entity.ticket.TicketType
@import spbox.model.entity.ticket.TicketTypeManual
@import spbox.web.view.html.main
@import play.i18n._
@(message: String)(ticketTypeMap:Map[Activity, Map[TicketType, TicketTypeManual]])

@main(message) {

	<div class="row" id="manual-ticket-manager">

	</div>
	<script>

	@if(ticketTypeMap!=null) {
			(function(){
				var html = '';
				@for((activity, ttMap) <- ticketTypeMap){
					html += "<div class='col-sm-12 centerAlign backendTitle2'>@activity.name</div>";
					html += "<div class='col-sm-12 table-responsive'>";
					html += "<table class='table table-striped'>";
					html += "<thead>";
					html += "<tr>";
					html += "<th>@Messages.get("manualTicket.action")</th>";
					html += "<th>@Messages.get("ticketType.name")</th>";
					html += "<th>@Messages.get("manualTicket.ticketType.totalQuantity")</th>";
					html += "<th>@Messages.get("manualTicket.ticketType.bookedQuantity")</th>";
					html += "<th>@Messages.get("manualTicket.bookedQuantity")</th>";
					html += "</tr>";
					html += "</thead>";
					html += "<tbody>";
					@for(tt <- ttMap.keys){
						html += "<tr>";
						html += "<td><a href= addOne?manDbid=@ttMap.get(tt).dbid>@Messages.get("action.manualTicketManager.add")</a></td>";
						html += "<td>@ttMap.get(tt).ticketType.name</td>";
						html += "<td>@ttMap.get(tt).ticketType.totalQuantity</td>";
						html += "<td>@ttMap.get(tt).ticketType.bookedQuantity</td>";
						html += "<td>@ttMap.get(tt).bookedQuantity</td>";
						html += "</tr>";
					}
					html += "</tbody>";
					html += "</table>";
					html += "</div>";
				}
				$('#manual-ticket-manager').append(html);
			}());
	} else {
		alert("Read error: ticketTypeMap");
	}
	</script>

}