@import spbox.model.entity.activity.Activity
@import spbox.model.entity.ticket.TicketType
@import spbox.model.entity.ticket.Ticket
@import spbox.web.view.html.main
@import play.i18n._

@(message: String)(aid:String)(activities:List[Activity])(ticketMap:Map[String, Map[TicketType,List[Ticket]]])(checked:Long)

@main(message) {

	<div class="jumbotron" id="ticket-manager">

		<div class="row" id="options-wrapper">
			<div class="col-xs-12 col-sm-offset-2 col-sm-5" id="list-wrapper">
				<select class="form-control selectpicker" id="activity_list">
					<option value="none">@Messages.get("action.ticketManager.select.activity")</option>
					@if(activities!=null){
						@for( a <- activities) {
							<option value="@a.bzid" @if(aid == a.bzid) {selected}>@a.name </option>
						}
					} else {
						<p>Read error: activity list</p>
					}
				</select>
			</div>
			<div class="col-sm-offset-1 col-sm-4" id="show-hide-cut-ticket-toggle">
				<input type='checkbox' id='no-checked-only' name='toggle-button'>
				<label for='no-checked-only'>@Messages.get("action.ticket.showOrHideCheckedTicket")</label>
			</div>
		</div>

		<div id="ticket-manager-page-loading">
			<img src="@routes.Assets.at("images/loading.svg")" alt="Loading..." />
		</div>

		<div class="row" id="ticket-manager-list-container">
		</div>

	</div>

	<script>

		(function() { // caching within scope

			var ticketManagerLoadingIcon = $('#ticket-manager-page-loading');

			$(document).ready(function () {
				// Loading icon fade after page load (DOM selector cached in index page)
			   ticketManagerLoadingIcon.fadeOut();

			});

			$("#activity_list").change(function(){
				ticketManagerLoadingIcon.fadeIn(); // loading icon
				var activity_id = $("#activity_list").val();
				window.location.assign("/ticket_manager/"+activity_id);
			});

			$("#no-checked-only").click(function(){
				$(".true").toggle();
			});

			var listContainer = document.getElementById('ticket-manager-list-container');

			@if(ticketMap!=null) {
				generateTicketManagerList();
			}

			function generateTicketManagerList(){
				var html = '';
				@if(ticketMap != null){
					@for((a, ttMap) <- ticketMap){
						@for(tt <- ttMap.keys){
							html += "<div class='col-sm-12 centerAlign ticket-name'>@tt.name</div>";
							html += "<div class='col-sm-12 table-responsive' id='tickets'>";
							html += "<table class='table table-striped'>";

							@if(ttMap.get(tt).size() != 0){
								html += "<thead>";
								html += "<tr>";
								if ($(window).width() >= 768 ){
									html += "<th>@Messages.get("user.name")</th>";
									html += "<th>@Messages.get("user.email")</th>";
									html += "<th>@Messages.get("user.mobile")</th>";
									html += "<th>@Messages.get("ticket.purchaseTime")</th>";
								} else {
									html += "<th class='title-user-name toggle'>@Messages.get("user.name")<span class='fa fa-sort'></span></th>";
								}
								html += "<th class='checked-info'>@Messages.get("ticket.checkedInfo")</th>";
								html += "</tr>";
								html += "</thead>";
								html += "<tbody>";
								@for(t <- ttMap.get(tt)) {
									html += "<tr class='@t.checked'>";
									html += "<td class='user-name'>@t.user.name</td>";
									html += "<td class='user-email'><a href='/userPersonalPage?email=@t.user.email'>@t.user.email</a></td>";
									html += "<td class='user-mobile'>@t.user.mobile</td>";
									html += "<td class='purchase-time'>@("%1$tY.%1$tm.%1$td %1$tH:%1$tM:%1$tS".format(t.GetPurchaseTimeInActivityLocal()))</td>";
									if(@t.checked==false){
										html += "<td class='cut-ticket'><a class='filter-href showHideBtn' href='/verifyTicket/@t.bzid' role='button'><span class='fa fa-scissors'> @Messages.get("action.ticket.cut")</span></a></td>";
									}else{
										html += "<td class='cut-ticket'>@t.GetCheckedTimeInCn(t.checkedTime)</td>";
									}
									html += "</tr>";
								}
								html += "</tbody>";
								html += "</table>";
							} else {
								html += "</table>";
								html += "<span id='empty-msg'><span class='fa fa-bullhorn'></span>@Messages.get("page.ticketManager.emptyList")</span>";
							}
						html += "</div>";
						}
					}
				} else {
					html += '<p>Read error: ticketMap</p>'
				}
				listContainer.innerHTML = html;
			}
		})();

		if ($(window).width() <= 767){
			$(function(){
				var $userName = $('.user-name');
				var $userEmail = $('.user-email');
				var $userMobile = $('.user-mobile');
				var $purchaseTime = $('.purchase-time');
				$userEmail.hide();
				$userMobile.hide();
				$purchaseTime.hide();
				var $this = $('.toggle');

				$this.click(function(){
					if($this.is('.title-user-name')) {
						$this.html("@Messages.get("user.email")<span class='fa fa-sort'>");
						$this.toggleClass("title-user-name title-user-email");
						$userName.hide();
						$userEmail.show();
					} else if($this.is('.title-user-email')) {
						$this.html("@Messages.get("user.mobile")<span class='fa fa-sort'>");
						$this.toggleClass("title-user-email title-user-mobile");
						$userEmail.hide();
						$userMobile.show();
					} else if($this.is('.title-user-mobile')) {
						$this.html("@Messages.get("ticket.purchaseTime")<span class='fa fa-sort'>");
						$this.toggleClass("title-user-mobile title-purchase-time");
						$userMobile.hide();
						$purchaseTime.show();
					} else if($this.is('.title-purchase-time')) {
						$this.html("@Messages.get("user.name")<span class='fa fa-sort'>");
						$this.toggleClass("title-purchase-time title-user-name");
						$purchaseTime.hide();
						$userName.show();
					}
				})
			});
		}

	</script>

}
