
body {
  color:#666;
}
.logo{
  margin: 3% 0 5%;
}

.logo img{
  min-width: 50px;
  max-width: 15%;
  margin: 0px 80% 0px 0%;
}

.center{
  text-align:center;
  margin: 0 auto;
}

.adv{
  width: 120%;
  margin-left: -10%;
}


/* =================== DETAIL ==================
============================================== */
.heading{
  font-size: 20px;
  font-weight: 350;
}

.title{
  font-size: 20px;
  font-weight: 350;
  color: #f8a63a;
}

.signiture{
  width: 25%;
}
/*.describe*/



/* =================== TICKET ==================
============================================== */

.ticket{
  padding: 5%;
  width: 100%;
  &Outline{
    width: 100%;
    margin-bottom: -15px;
  }
  &OutlineB{
    width: 100%;
    margin-top: -18px;
  }
}

.head{
  font-size: 20px;
}

.subHeading{
  font-size: 16px;
}
.divider{
  padding: 0 15px;
}
.ticketNumber{
  padding: 3% 0;
}

.clear{
  clear: both;
}

/* ================ FOOTER ===================
============================================== */

footer {
  font-weight: 200;
  clear:both;
  font-size: 12px;
  display:block;
  position: relative;
  text-align: center;
  width: 100%;
}

a.company:link{
  color:#888;
  text-decoration: underline;
}

