@import spbox.model.entity.user.User
@import spbox.model.entity.activity.Activity
@import spbox.model.entity.activity.ActivityImage
@import spbox.web.view.html.main
@import play.i18n._


@(message: String)(organizer: User)(organizerRating: Double)(expiredOrganizedActivities: Map[Activity, ActivityImage])(activeOrganizedActivities: Map[Activity, Map[Long, ActivityImage]])

@main(message) {
    <script src="@routes.Assets.at("javascripts/dragend.min.js")" type="text/javascript"></script>

    <div class="organizer-page">
        <div id="organizer-page-loading">
            <img src="@routes.Assets.at("images/loading.svg")" alt="Loading..." />
        </div>
        <div class="profile-sidebar">
            <div class="mobile-info-container dragend-page">
                <figure>
                    <img src="@organizer.userImage">
                </figure>
                <div id="organizer-info-container">
                    @if(organizer!=null) {
                        <div class="organizer-info">
                            <span id="name">@organizer.name</span>
                            <span id="address">@organizer.address</span>
                            <span id="email">@organizer.email</span>
                        </div>
                        <div class="organizer-rating">
                            <h>@Messages.get("page.organizer.organizerRating")</h>
                            <span class="stars">@organizerRating</span><span id="rating">@organizerRating</span>
                        </div>
                    } else {
                        <p>Read error: Orgainzer</p>
                    }
                </div>
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            </div>
            <div class="dragend-page">
                <div class="organizer-bibliography">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <div id="info-container">
                        <h>@Messages.get("user.bibliography")</h>
                        <div>@if(!organizer.bibliography){<div id="empty-bibliography">@Messages.get("page.organizer.noBibliography")</div>}else{<p>@organizer.bibliography</p>}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="organizer-activities">
            <div class="title">
                <h><span class="flaticon-cup55"></span>@organizer.name @Messages.get("page.organizer.hostedEvent")</h>
            </div>
            <h id="active-events">@Messages.get("page.organizer.activeEvents")<span>@activeOrganizedActivities.size()</span></h>
            <div class="active-activities">
                @if(activeOrganizedActivities!=null){
                    @for(a <- activeOrganizedActivities.keySet()){
                        @for(userCount <- activeOrganizedActivities.get(a).keySet()){
                            <figure class="tint">
                                <a href='/activity/@a.bzid?preview=false'>
                                    <img src="@activeOrganizedActivities.get(a).get(userCount).getContentString()">
                                    <h class="hover-title">@a.name</h>
                                    <div class="hover-text">
                                        <span id="name">@a.name</span>
                                        <span id="time">@a.dateTime</span>
                                        <span id="count">已有 @userCount 人参加</span>
                                    </div>
                                    <div class="mobile-event-info">
                                        <span class="date">@a.dateTime</span>
                                        <span class="count">已有<span> @userCount </span>人参加</span>
                                    </div>
                                </a>
                            </figure>
                        }
                    }
                } else {
                    <p>Read error: Active organized activities</p>
                }
            </div>
            <h id="expired-events">@Messages.get("page.organizer.expiredEvents")<span>@expiredOrganizedActivities.size()</span></h>
            <div class="expired-activities">
            @if(expiredOrganizedActivities!=null){
                @for(a <- expiredOrganizedActivities.keySet()){
                    <figure class="tint">
                        <a href='/activity/@a.bzid?preview=true'>
                            <img src="@expiredOrganizedActivities.get(a).getContentString()">
                            <h class="hover-title">@a.name</h>
                            <div class="hover-text">
                                <span id="name">@a.name</span>
                                <span id="time">@a.dateTime</span>
                            </div>
                            <div class="mobile-event-info">
                                <span class="date">@a.dateTime</span>
                            </div>
                        </a>
                    </figure>
                }
            } else {
                <p>Read error: Expired organized activities</p>
            }
            </div>
        </div>
    </div>
    <script>
        $.fn.stars = function() {
            return $(this).each(function() {
                // Get the value
                var size = parseFloat($(this).html()) * 21;
                // Create stars holder
                var $span = $('<span />').width(size);
                // Replace the numerical value with stars
                $(this).html($span);
            });
        };

        $(function() {
            $('span.stars').stars();
        });

        // activate swipe container on small devices < 767px
        if ($(window).width() < 767 ){
            $(".profile-sidebar").dragend();
        }

        $(document).ready(function () {
			// Loading icon fade after page load
        	$('#organizer-page-loading').fadeOut();
        	$('#loading-wrap').fadeIn();
        });

    </script>
}

