@import spbox.web.view.html.main
@import play.i18n._
@(message: String)(email: String)(token: String)

@main(message) {


        <h1>@Messages.get("page.user.resetPassword")</h1>
        <div class="">
            <div class=" col-sm-4 col-xs-11 ">
                <div class="form-group">
                    <input type="text" id="user" name="user" placeholder="User" class="form-control"  value="@email" disabled="true">
                </div>
                <div class="form-group">
                    <input type="password" id="new-password" name="password" placeholder="New Password" class="form-control" >
                </div>

                <div class="form-group">
                    <input type="password" id="new-password-repeat" name="password" placeholder="Repeat Password" class="form-control" >
                </div>
                <input type="hidden" name="token" id="reset-token" value="@token"/>
                <button class="btn btn-success btn-sm labelText" onclick="resetPassword()">@Messages.get("action.user.doResetPassword")</button>
            </div>

        </div>

    <script>
        function resetPassword()
        {
            var token = $("#reset-token").val();
            var password = $("#new-password").val();
            var passwordRepeat = $("#new-password-repeat").val();
            if(password !== passwordRepeat){
                alert("@Messages.get("message.user.newPassword.match.false")");
                return false;
            }

            password = Sha1.hash(password);

            $.rest("POST","/api/v1/resetPassword", {token: token, password: password},
            function(data){
                alert("@Messages.get("message.user.password.changed")");
                window.location.assign("/");
            }, function(error){
                alert(error.responseText);
            });
        }
    </script>
}