@import spbox.model.entity.user.User
@import spbox.web.view.html.main
@import play.i18n._
@(message: String)(u: User)(adminAction:Boolean)

@main(message) {
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrapValidator.css")">
	<script src="@routes.Assets.at("javascripts/bootstrapValidator.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/zh_CN.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/sha1.js")" type="text/javascript"></script>
	<div class="jumbotron" id="register-container">
		<div class="row">
			<div class="col-xs-12 col-sm-offset-2 col-sm-8">
				<form autocomplete="off" class="form-horizontal" id="register-form"
				data-bv-message="This value is not valid"
				data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
				data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
				data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">

					<div class="form-group form-group-sm">
						<label class="col-md-5 control-label" id="user-info"></label>
					</div>

					<div class="form-group form-group-sm">
						<div class="col-sm-12">
							<div class="eventHeader"><span>1</span>@Messages.get("user.field.required")</div>
						</div>
					</div>

					<div class="form-group form-group-sm">
						<div class="col-sm-2 control-label">
							<label class="control-label">@Messages.get("user.email") :</label>
						</div>
						<div class="col-sm-10">
							<input class="form-control" type="email" name="email" id="email"
								placeholder="@Messages.get("user.email")" value="@if(u!=null){@u.email}" @if(u!=null){readonly} data-bv-emailaddress data-bv-emailaddress-message="@Messages.get("user.bv.validEmail")" data-bv-notempty data-bv-notempty-message="@Messages.get("user.bv.notEmpty.email")">
						</div>
					</div>

					@if(u == null && !adminAction){

						<div class="form-group form-group-sm" id="password-div">
							<div class="col-sm-2 control-label">
								<label class="control-label">@Messages.get("user.password") :</label>
							</div>
							<div class="col-sm-10">
								<input class="form-control" type="password" name="password"
									id="password" placeholder="@Messages.get("user.password")" autocomplete="off" data-bv-notempty data-bv-stringlength="true" data-bv-stringlength-min="6">
							</div>
						</div>

						<div class="form-group form-group-sm" id="confirm-password-div">
							<div class="col-sm-2 control-label">
								<label class="control-label">@Messages.get("user.password.confirm") :</label>
							</div>
							<div class="col-sm-10">
								<input class="form-control" type="password" name="confirm-password"
									id="confirm-password" placeholder="@Messages.get("user.password.confirm")" data-bv-notempty data-bv-identical="true" data-bv-identical-field="password">
							</div>
						</div>
					}

					@if(u != null){

					    <div class="form-group form-group-sm">
						    <div class="col-sm-12">
							    <div class="eventHeader"><span>2</span>@Messages.get("user.field.optional")</div>
						    </div>
					    </div>

					    <div class="form-group form-group-sm">
							<div class="col-sm-2 control-label">
								<label class="control-label">@Messages.get("user.name") :</label>
							</div>
						    <div class="col-sm-10">
							    <input class="form-control" type="text" name="name" id="name"
							    placeholder="" value="@if(u!=null && u.name != null){@u.name}">
						    </div>
					    </div>

						<div class="form-group form-group-sm">
							<div class="col-sm-2 control-label">
								<label class="control-label">@Messages.get("user.bibliography") :</label>
							</div>
							<div class="col-sm-10">
								<input class="form-control" type="text" name="bibliography" id="bibliography"
								placeholder="@Messages.get("user.bv.format.bibliography")" value="@if(u!=null && u.bibliography != null){@u.bibliography}" maxlength="100">
							</div>
						</div>

						@if(u.userImage != null) {
						<div class="form-group form-group-sm no_feedback_icon">
							<div class="col-sm-2 control-label">
								<label class="control-label">@Messages.get("user.image") :</label>
							</div>
							<div class="col-sm-8 file_input_block text-center">
								<img class='user-image' id="user-image" src="@u.userImage" alt="@Messages.get("user.image")" />
							</div>
							<div class="col-sm-2 col-xs-12 text-center">
								<button type="button" id="delete" class ="btn deleteImage">@Messages.get("action.user.image.delete")</button>
							</div>
						</div>
						}

						<div class="form-group form-group-sm no_feedback_icon">
							<div class="col-sm-2 control-label">
								<label class="control-label">@Messages.get("user.image") :</label>
							</div>
							<div class="col-sm-8 file_input_block">
								<img class='file-preview-image' id="user-image-upload-preview" src="" alt="@Messages.get("user.image")" />
								<input type="file" id="upload-user-image" accept="image/*">
							</div>
							<div class="col-sm-2 file_input_block">
							<button type="button" id="cancel"class ="deleteImage">@Messages.get("action.user.image.cancel")</button>
							</div>
						</div>

					    <div class="form-group form-group-sm">
						    <div class="col-sm-2 control-label">
							    <label class="control-label">@Messages.get("user.mobile") :</label>
						    </div>
						    <div class="col-sm-10">
							<input class="form-control" type="text" name="mobile" id="tel"
								placeholder="" value="@if(u!=null){@u.mobile}">
						    </div>
					    </div>

					    <div class="form-group form-group-sm">
						    <div class="col-sm-2 control-label">
							    <label class="control-label">@Messages.get("user.gender") :</label>
						    </div>
						    <div class="col-sm-10">
							    <div>
								    <select class="form-control" name="gender" id="gender">
									    <option disabled @if(u!=null){@if(u.gender==""){selected}}>@Messages.get("action.user.select.gender")</option>
									    <option value="male" @if(u!=null){@if(u.gender=="male"){selected}}>@Messages.get("user.gender.male")</option>
									    <option value="female" @if(u!=null){@if(u.gender=="female"){selected}}>@Messages.get("user.gender.female")</option>
								    </select>
							    </div>
						    </div>
					    </div>

                        <div class="form-group form-group-sm">
                            <div class="col-sm-2 control-label">
                                <label class="control-label">@Messages.get("user.age") :</label>
                            </div>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" name="age" id="age"
                                    placeholder="" value="@if(u!=null){@if(u.age!=0){@u.age}}">
                            </div>
                        </div>

                        <div class="form-group form-group-sm">
                            <div class="col-sm-2 control-label">
                                <label class="control-label">@Messages.get("user.address") :</label>
                            </div>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" name="address" id="address"
                                    placeholder="" value="@if(u!=null){@u.address}">
                            </div>
                        </div>
					}

					@if(adminAction) {

						<div class="form-group form-group-sm">
							<div class="col-sm-2 control-label">
								<label>@Messages.get("user.role") :</label>
							</div>
							<div class="col-sm-10">
								<div>
									<select class="form-control" id="role">
										<option value="@User.UserRoleEnum.ADMIN" @if(u != null) {@if(u.role==User.UserRoleEnum.ADMIN){selected}}>@User.UserRoleEnum.ADMIN.getMsg()</option>
										<option value="@User.UserRoleEnum.GENERAL" @if(u != null) {@if(u.role==User.UserRoleEnum.GENERAL){selected}}>@User.UserRoleEnum.GENERAL.getMsg()</option>
										<option value="@User.UserRoleEnum.ORGANIZER" @if(u != null) {@if(u.role==User.UserRoleEnum.ORGANIZER){selected}}>@User.UserRoleEnum.ORGANIZER.getMsg()</option>
										<option value="@User.UserRoleEnum.BLOCKED" @if(u != null) {@if(u.role==User.UserRoleEnum.BLOCKED){selected}}>@User.UserRoleEnum.BLOCKED.getMsg()</option>
									</select>
								</div>
							</div>
						</div>
					}

					<div id="button-wrapper">

						@if(u == null){
							<div class="col-xs-5 col-sm-4 col-xs-centered">
								<button type= "submit" id="user-confirm-button" class="btn btn-success btn-block">@Messages.get("action.user.register")</button>
							</div>
						}

						@if(u != null){
							<div class="user-submit-button">
								<button type="submit" id="user-submit-button" class="btn btn-block">@Messages.get("action.user.submitAndUpdateUser")</button>
							</div>
						}

						@if(u != null && adminAction){
							<div class="user-delete-button">
								<button type="button" id="user-delete-button" class="btn btn-block btn-danger" onclick="location.href = '/api/v1/deleteUser/@u.email'">@Messages.get("action.user.delete")</button>
							</div>
						}

					</div>

				</form>
			</div>
		</div>
	</div>


	<script language="JavaScript">
	$(document).ready(function(){
		var userImage = $('input[type=file]').val();
		if(userImage != null){
			$('#user-image-upload-preview').hide();
			$('#cancel').hide();
		}
    });
    $("#cancel").click(function(){
    	document.getElementById("upload-user-image").value = "";
    	document.getElementById("user-image-upload-preview").src = "";
    	$('#user-image-upload-preview').hide();
    	$('#cancel').hide();
    });

    $("#delete").click(function(){
    	document.getElementById("user-image").src = "";
    });

	$("#upload-user-image").change(function(){
		readURL(this);
	});

	function readURL(input) {
		if (input.files && input.files[0]) {
			var reader = new FileReader();

			reader.onload = function (e) {
				$('#user-image-upload-preview').attr('src', e.target.result);
				$('#user-image-upload-preview').show();
				$('#cancel').show();
			}
			reader.readAsDataURL(input.files[0]);
		}
	}

	var MAX_IMG_SIZE = 1200;
	var MIN_IMG_SIZE = 300;

	function compressImg(img){

		if(!img || !img.src){
			return null;
		}

		var width = img.width;
		var height = img.height;

		if (width < height) {
			height *= MIN_IMG_SIZE / width;
			width = MIN_IMG_SIZE;
		} else {
			width *= MIN_IMG_SIZE / height;
			height = MIN_IMG_SIZE;
		}

		if (width > height) {
			if (width > MAX_IMG_SIZE) {
				height *= MAX_IMG_SIZE / height;
				width = MAX_IMG_SIZE;
			}
		} else {
			if (height > MAX_IMG_SIZE) {
				width *= MAX_IMG_SIZE / height;
				height = MAX_IMG_SIZE;
			}
		}

		var canvas = document.createElement("canvas");
		canvas.width = width;
		canvas.height = height;
		canvas.getContext("2d").drawImage(img, 0, 0, width, height);

		return canvas.toDataURL("image/jpeg");

	}

	function sendPost(postUrl, data, redirectUrl){
		$.rest("POST", postUrl, data,
			function(data){
				$("#user-info").text(data.email + "@Messages.get("message.user.registerSucceed")");
				localStorage.setItem("userImage", data.userImage);
				window.location.assign(redirectUrl);
			},
			function(rsp){
				alert(rsp.responseText);
			}
		);
	}

	$("#confirm-password").keyup(function(){
		var thePassword = $("#password").val();
		var theConfirmPassword = $("#confirm-password").val();

		if(thePassword!=theConfirmPassword)
		{
			$("#user-info").text("@Messages.get("message.user.newPassword.match.false")");
			$("#user-confirm-button").attr('disabled', true);
		}else
		{
			$("#user-info").text("@Messages.get("message.user.newPassword.valid")");
			$("#user-confirm-button").attr('disabled', false);
		}
	});

	$('#register-form').bootstrapValidator().off('success.form.bv').on('success.form.bv', function(e, data) {

		var $form = $(e.target),
		$button = $form.data('bootstrapValidator').getSubmitButton();

		switch ($button.attr('id')){
			case 'user-confirm-button':
				e.preventDefault();
				var theEmail = $("#email").val();
				var password = $("#password").val();
				var role = $("#role").val();
				if(@adminAction){
					var data = {"email": theEmail, "role":role};
					sendPost("/api/v1/registerByAdmin", data, "/updateUserInfo?email="+theEmail);
				}else{
					var data = {"email": theEmail,  "password": Sha1.hash(password)};
					sendPost("/api/v1/registerByUser", data, "/updateUserInfo?email="+theEmail);
				}
				break;

			case 'user-submit-button':
				e.preventDefault();
				var theEmail = $("#email").val();
				var role = $("#role").val();
				var bibliography = $("#bibliography").val();
				var name = $("#name").val();
				var tel = $("#tel").val();
				var gender = $("#gender").val();
				var age = $("#age").val();
				var address = $("#address").val();

				var data = {"email": theEmail,  "bibliography": bibliography, "name": name, "tel": tel, "age": age, "gender":gender, "address":address, "image": "", "role":role};

				var uploadImages = $(".file_input_block .file-preview-image");

				var userImg = uploadImages[0];
				var compressedUserImg = compressImg(userImg);
				if(compressedUserImg.length>10){
					data.image = compressedUserImg;
				}else{
					var preserveImage = $("#user-image").attr('src');
					if(preserveImage != undefined && preserveImage.length > 0){
						data.image = preserveImage;
					}else{
						data.image = "";
					}
				}

				sendPost("/api/v1/updateUser", data, "/");
				break;
		}
	});

	function fixBinary (bin) {
		var length = bin.length;
		var buf = new ArrayBuffer(length);
		var arr = new Uint8Array(buf);
		for (var i = 0; i < length; i++) {
		  arr[i] = bin.charCodeAt(i);
		}
	    return buf;
	}
	</script>

}
