@import spbox.model.entity.activity.Activity
@import spbox.model.entity.email.Article
@import spbox.model.entity.ticket.TicketType
@import spbox.model.entity.user.User
@import spbox.model.entity.activity.Review
@import spbox.web.view.html.main
@import play.i18n._
@import play.Play
@(message: String)
    <!-- user login Modal -->
    <div class="modal fade modal-fullscreen" id="signin-modal" tabindex="-1" role="dialog" aria-labelledby="userSigninModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4><span> 登入有趣IO </span></h4>
                </div>
                    <div class="modal-body">
                        <div class="login-dialog">
                            <div class="form-group row">
                                <span class='flaticon-envelope54 col-xs-2'></span>
                                <input type="email" id="login-email" name="email" placeholder="@Messages.get("action.user.email")" class="form-control col-xs-10">
                            </div>

                            <div class="form-group row">
                                <span class='flaticon-password19 col-xs-2'></span>
                                <input type="password" id="login-password" name="password" placeholder="@Messages.get("action.user.password")" class="form-control col-xs-10">
                            </div>

                            <div class="form-group login-confirm-button">
                                <button id="login-button" type="button" class="btn btn-sm">@Messages.get("action.user.login")</button>
                            </div>

                            <div class="login-footer row">
                                <a href="/register" id="register-button" class="nav-user-register col-xs-4 col-xs-offset-2">@Messages.get("page.user.create")</a>
                                <a href="#" data-toggle="modal" data-target="#forget-password" class="nav-user-forget-pwd col-xs-4 ">@Messages.get("action.user.forgetPassword")</a>
                            </div>
                        </div>

                        <div class="form-group row third-party-login">
                            <div class="form-group col-xs-6">
                                <h4><span> 或者第三方账号注册登录 </span></h4>
                            </div>
                            <div class="row col-xs-6">
                                <div class="form-group col-xs-12 col-sm-6" style="text-align:center">
                                    <fb:login-button scope="public_profile, email" onlogin="checkLoginState();" data-size="large">
                                    </fb:login-button>
                                </div>
                                <div class="form-group col-xs-12 col-sm-6">
                                    <div id="googleLoginBtn" class="customGPlusSignIn">
                                        <span class="buttonText">Google</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-modal" data-dismiss="modal">@Messages.get("action.close")</button>
                </div>
            </div>
        </div>
    </div>

    <script language="javascript">
        $(document).ready(function(){
           if(is_weixin()){
           $(".third-party-login").addClass("hidden");
           }
        });
        function is_weixin(){
             var ua = navigator.userAgent.toLowerCase();
             return (/micromessenger/.test(ua)) ? true : false ;
        }
        $("#login-button").click(function(){
            var theEmail = $("#login-email").val();
            var thePassword = $("#login-password").val();
            var user_data = { "user": theEmail, "password":Sha1.hash(thePassword) };

            $.rest("GET", "/api/v1/login", user_data,
                function(data){
                    window.loginUser = data.email;
                    localStorage.setItem("userRole", data.role);
                    localStorage.setItem("userImage", data.userImage);
                    location.reload();
                },
                function(data){
                    if (data.status == 400){
                        swal({
                            title:"邮箱或密码错误！",
                            type: "error"
                        });
                    } else if (data.status == 404){
                        swal({
                            title:"邮箱/用户不存在",
                            type: "error"
                        });
                    } else if (data.status == 403){
                        swal({
                            title:"用户帐号已进黑名单，请联络我",
                            type: "error"
                        });
                    }
                }
            );
        });

        googleLogin("@Play.application().configuration().getString("google.client.id")");

    </script>