@import spbox.model.entity.activity.Activity
@import play.i18n._

@(message: String)(attendedActivities: List[Activity])(organizedActivities: List[Activity])

<div class="organized-container">
    <div class="my-events-heading">
        <h>@Messages.get("message.user.event.organized")</h>
    </div>
    @if(organizedActivities !=null && organizedActivities.size() != 0){
        @for(a <- organizedActivities) {
            <div class="row event-container">
                <div class="col-xs-12 event-name">
                    <a href="/activity/@a.bzid?preview=false"><h>@a.name</h></a>
                </div>
                <div class="col-xs-12 event-details">
                    <h>@Messages.get("activity.dateTime"): @a.dateTime</h>
                </div>
                <div class="col-xs-12 event-details">
                    <h>@Messages.get("activity.venueFull"): @a.venue.name</h>
                </div>
                @*<div class="col-xs-12 event-buttons">*@
                @*<a role="button" href="/create/@a.bzid"><span class="flaticon-pencil124">@Messages.get("page.user.edit")</span></a>*@
                @*<a role="button" onclick="deleteEvent('@a.bzid')"><span class="flaticon-bin9"></span>@Messages.get("page.user.delete")</a>*@
                @*</div>*@
            </div>
        }
    } else {
        <h4 class="zero-event-notice">@Messages.get("page.user.zeroOrganizedEvents")</h4>
    }
</div>
<div class="attended-container" id="attended-container">
    <div class="my-events-heading">
        <h>@Messages.get("message.user.event.attended")</h>
    </div>
    @if(attendedActivities!=null && attendedActivities.size() != 0){

        @for(a <- attendedActivities) {
            <div class="row event-container">
                <div class="col-xs-12 event-name">
                    <a href="/activity/@a.bzid?preview=false"><h>@a.name</h></a>
                </div>
                <div class="col-xs-12 event-details">
                    <h>@Messages.get("activity.dateTime"): @a.dateTime</h>
                </div>
                <div class="col-xs-12 event-details">
                    <h>@Messages.get("activity.venueFull"): @a.venue.name</h>
                </div>
            </div>
        }
    } else {
        <h4 class="zero-event-notice">@Messages.get("page.user.zeroAttenededEvents")</h4>
    }
</div>

<script>
    $(document).ready(function () {
        $('#personal-center-loading').fadeOut();
    });
</script>


