@import spbox.model.entity.user.User
@import play.i18n._

@(message: String)(u: User)


<div class="jumbotron" id="update-password-page">

    <form autocomplete="off" class="form-horizontal" id="login-form">

        <div class="form-group form-group-sm">
            <div class="col-sm-3 control-label">
                <label class="control-label">@Messages.get("user.email"):</label>
            </div>
            <div class="col-sm-9">
                <input class="form-control" type="text" name="email" id="email"
                placeholder="" value="@if(u!=null){@u.email}" @if(u!=null){readonly}>
            </div>
        </div>

        <div class="form-group form-group-sm">
            <div class="col-sm-3 control-label">
                <label class="control-label">@Messages.get("user.name"):</label>
            </div>
            <div class="col-sm-9">
                <input class="form-control" type="text" name="name" id="name"
                placeholder="" value="@if(u!=null){@u.name}" @if(u!=null){readonly}>
            </div>
        </div>

        <div class="form-group form-group-sm" id="old-password-div">
            <div class="col-sm-3 control-label">
                <label class="control-label">@Messages.get("user.password.old"):</label>
            </div>
            <div class="col-sm-9">
                <input class="form-control" type="password" name="old-password"
                id="old-password" placeholder="" autocomplete="off">
            </div>
        </div>

        <div class="form-group form-group-sm" id="new-password-div">
            <div class="col-sm-3 control-label">
                <label class="control-label">@Messages.get("user.password.new"):</label>
            </div>
            <div class="col-sm-9">
                <input class="form-control" type="password" name="new-password"
                id="new-password" placeholder="" autocomplete="off"/>
            </div>
        </div>

        <div class="form-group form-group-sm" id="confirm-password-div">
            <div class="col-sm-3 control-label">
                <label class="control-label">@Messages.get("user.password.confirm"):</label>
            </div>
            <div class="col-sm-9">
                <input class="form-control" type="password" name="confirm-password"
                id="confirm-password" placeholder=""/>
            </div>
        </div>

        <div class="button-container">
            <button id="password-update-button" type="submit" class="btn">@Messages.get("action.user.doUpdatePassword")</button>
        </div>

    </form>
</div>


<script>

    (function(){
        var $loginForm = $("#login-form");
        var email = $("#email").val();
        var $oldPassword = $("#old-password");
        var $newPassword = $("#new-password");
        var $confirmPassword = $("#confirm-password");

        $(document).ready(function () {
            $('#personal-center-loading').fadeOut();
        });

        $loginForm.submit(function(e){

            e.preventDefault();

            if($oldPassword.val() == ''){ // If current password is empty

                swal({
                    title:"@Messages.get("page.user.bv.currentPassword.empty")",
                    type: "warning"
                });

            }else if ($newPassword.val() == ''){ // If new password is empty

                swal({
                    title:"@Messages.get("page.user.bv.passwordCannotBeEmpty")",
                    type: "warning"
                });

            } else if ($newPassword.val().length <= 5){ // If new password length is less than 6 characters

                swal({
                    title:"@Messages.get("page.user.bv.passwordLessThanSixCharacters")",
                    type: "warning"
                });

            } else if ($confirmPassword.val() == $newPassword.val()) { // If all validates

                var oldPassword = Sha1.hash($oldPassword.val());

                var data = {"email": email, "password": oldPassword};

                $.rest("GET", "/api/v1/authenticateUser", data, function(data){

                    var newPassword = Sha1.hash($newPassword.val());
                    var updateData = {"email": email, "oldPassword": oldPassword, "newPassword": newPassword};

                    $.rest("PUT", "/api/v1/changePassword", updateData, function(){
                        swal({
                            title:"@Messages.get("page.user.bv.passwordUpdate.success")",
                            type: "success"
                        });
                        location.assign("/userPersonalPage?email=@java.net.URLEncoder.encode(User.GetCurrentUserEmail(), "UTF-8")");
                    },function(error){
                        console.log(error);
                        swal({
                            title:"@Messages.get("page.user.bv.passwordUpdate.fail")",
                            type: "error"
                        });
                    });

                }, function(error){

                    swal({
                        title:"@Messages.get("page.user.bv.currentPassword.incorrect")",
                        type: "error"
                    });

                    $newPassword.val('');
                    $('#confirm-password').val('');
                });


            } else { // If new and confirm password mismatches

                swal({
                    title:"@Messages.get("page.user.bv.passwordMismatch")",
                    type: "warning"
                });

            }

        });
    }());


</script>


