@import spbox.model.entity.user.User
@import spbox.model.entity.activity.Activity
@import spbox.web.view.html.main
@import play.i18n._

@(message: String)(u: User)(attendedActivities: List[Activity])(organizedActivities : List[Activity])

@main(message) {

	<script src="@routes.Assets.at("javascripts/color-thief.js")" type="text/javascript"></script>

	<div class="personal-page-container">
		<div class="profile-sidebar">
			<div class="user-profile">
				<div class="profile-img">
					<img id="user-image" src="@if(u.userImage != null){@u.userImage}else{@routes.Assets.at("images/people.png")}" alt="@Messages.get("user.image")" />
				</div>
				<div class="user-info-container">
					<h1 id="user_name">@if(u.name != null){@u.name}else{User}</h1>
					<h1 id="user_address">@if(u.address !=null){@u.address}else{}</h1>
				</div>
				@*<label><span>@Messages.get("user.email"): </span>@if(u.email != null){@u.email}</label>*@
				@*<label><span>@Messages.get("user.gender"): </span>@if(u.gender != null && u.gender == "female"){@Messages.get("user.gender.female")} @if(u.gender != null && u.gender == "male"){@Messages.get("user.gender.male")}</label>*@
				@*<label><span>@Messages.get("user.age"): </span>@u.age</label>*@

			</div>
			<div class="user-option-list">
				<ul>
					<a onclick="switchToMyTickets()"><li class="highlighted-option" id="personal-my-tickets"><i class="flaticon-wallet35"></i><span>@Messages.get("page.user.tickets")</span></li></a>
					<a onclick="switchToMyEvents()"><li id="personal-my-events"><i class="flaticon-cup55"></i><span>@Messages.get("page.user.myEvents")</span></li></a>
					<a onclick="switchToUpdateUserInfo()"><li id="personal-update-information"><i class="flaticon-profile29"></i><span>@Messages.get("action.user.update")</span></li></a>
					<a onclick="switchToUpdateUserPassword()"><li id="personal-update-password"><i class="flaticon-setting5"></i><span>@Messages.get("page.user.changePassword")</span></li></a>
					@if(u.role.equals(User.UserRoleEnum.ORGANIZER) || u.role.equals(User.UserRoleEnum.ADMIN)){
						<a onclick="switchToOrganizerSetting()"><li id="organizer-setting"><i class="flaticon-bulb19"></i><span>@Messages.get("page.user.organizerSetting")</span></li></a>
					}
				</ul>
			</div>
		</div>
		<div class="profile-main">
			<div class="personal-my-events hidden" id="personal-my-events-container">
					<!-- Personal events displayed here from user_personal_page_events.html -->
			</div>
			<div id="personal-center-loading">
				<img src="@routes.Assets.at("images/loading.svg")" alt="Loading..." />
			</div>
			<div class="personal-my-tickets" id="personal-my-tickets-container">
				<!-- Personal ticket displayed here from user_personal_page_tickets.html -->
			</div>
			<div class="personal-update-information hidden" id="personal-update-information-container">
					<!-- Personal information update form displayed here from register.html -->
			</div>
			<div class="personal-update-password hidden" id="personal-update-password-container">
					<!-- Personal password update form displayed here from user_personal_page_update_password.html -->
			</div>
			<div class="personal-update-organizer-setting hidden" id="personal-update-organizer-setting-container">
					<!-- Personal password update form displayed here from user_personal_page_update_password.html -->
			</div>
		</div>
	</div>

	<script>

			var $personalMyTicketsContainer = $('#personal-my-tickets-container');
			var $personalMyEventsContainer = $('#personal-my-events-container');
			var $personalUpdateInformationContainer = $('#personal-update-information-container');
			var $personalUpdatePasswordContainer= $('#personal-update-password-container');
			var $personalUpdateOrganizerSettingContainer = $('#personal-update-organizer-setting-container');
			var personalMyEvents = $('.personal-my-events');
			var $personalMyEvents = $('#personal-my-events');
			var $personalMyTickets = $('#personal-my-tickets');
			var $personalUpdateInformation = $('#personal-update-information');
			var $personalUpdatePassword = $('#personal-update-password');
			var $personalUpdateOrganizerSetting = $('#personal-update-organizer-setting');

			$personalMyTicketsContainer.load("/userPersonalPage/showUserTickets");
			$personalMyEventsContainer.load("/userPersonalPage/showUserActivities");
			$personalUpdateInformationContainer.load("/userPersonalPage/updateUserInformation");
			$personalUpdatePasswordContainer.load("/userPersonalPage/updateUserPassword");
			$personalUpdateOrganizerSettingContainer.load("/userPersonalPage/updateOrganizerSetting");

			function switchToMyEvents () {
				personalMyEvents.removeClass("hidden");
				$personalMyTicketsContainer.addClass("hidden");
				$personalUpdateInformationContainer.addClass("hidden");
				$personalUpdatePasswordContainer.addClass("hidden");
				$personalUpdateOrganizerSettingContainer.addClass("hidden");
				$personalMyEvents.addClass('highlighted-option');
				$personalMyTickets.removeClass('highlighted-option');
				$personalUpdateInformation.removeClass("highlighted-option");
				$personalUpdatePassword.removeClass("highlighted-option");
				$personalUpdateOrganizerSetting.removeClass("highlighted-option");
				document.body.scrollTop = document.documentElement.scrollTop = 0;
			}
			function switchToMyTickets () {
				$personalMyTicketsContainer.removeClass("hidden");
				personalMyEvents.addClass("hidden");
				$personalUpdateInformationContainer.addClass("hidden");
				$personalUpdatePasswordContainer.addClass("hidden");
				$personalUpdateOrganizerSettingContainer.addClass("hidden");
				$personalMyTickets.addClass('highlighted-option');
				$personalMyEvents.removeClass('highlighted-option');
				$personalUpdateInformation.removeClass("highlighted-option");
				$personalUpdatePassword.removeClass("highlighted-option");
				$personalUpdateOrganizerSetting.removeClass("highlighted-option");
				document.body.scrollTop = document.documentElement.scrollTop = 0;
			}
			function switchToUpdateUserInfo(){
				$personalUpdateInformationContainer.removeClass("hidden");
				$personalMyTicketsContainer.addClass("hidden");
				personalMyEvents.addClass("hidden");
				$personalUpdatePasswordContainer.addClass("hidden");
				$personalUpdateOrganizerSettingContainer.addClass("hidden");
				$personalUpdateInformation.addClass('highlighted-option');
				$personalMyTickets.removeClass('highlighted-option');
				$personalMyEvents.removeClass('highlighted-option');
				$personalUpdatePassword.removeClass("highlighted-option");
				$personalUpdateOrganizerSetting.removeClass("highlighted-option");
			}
			function switchToUpdateUserPassword(){
				$personalUpdatePasswordContainer.removeClass("hidden");
				$personalUpdateInformationContainer.addClass("hidden");
				$personalMyTicketsContainer.addClass("hidden");
				personalMyEvents.addClass("hidden");
				$personalUpdateOrganizerSettingContainer.addClass("hidden");
				$personalUpdatePassword.addClass('highlighted-option');
				$personalMyTickets.removeClass('highlighted-option');
				$personalUpdateInformation.removeClass('highlighted-option');
				$personalMyEvents.removeClass('highlighted-option');
				$personalUpdateOrganizerSetting.removeClass("highlighted-option");
			}
			function switchToOrganizerSetting(){
				$personalUpdateOrganizerSettingContainer.removeClass("hidden");
				$personalUpdatePasswordContainer.addClass("hidden");
				$personalUpdateInformationContainer.addClass("hidden");
				$personalMyTicketsContainer.addClass("hidden");
				personalMyEvents.addClass("hidden");
				$personalUpdateOrganizerSetting.addClass('highlighted-option');
				$personalUpdatePassword.removeClass('highlighted-option');
				$personalMyTickets.removeClass('highlighted-option');
				$personalUpdateInformation.removeClass('highlighted-option');
				$personalMyEvents.removeClass('highlighted-option');
			}

			function deleteEvent(bzid){
				if(confirm("您确定要删除此活动吗？此动作无法再复原！")){
					location.href = '/api/v1/deleteActivity/'+bzid;
				}
			}

	</script>
}
