@import spbox.model.entity.user.User
@import spbox.web.view.html.main
@import play.i18n._
@(message: String)(role:String)(user: List[User])
@main(message) {

<div class="form-group form-group-sm">
	<div class="col-sm-2 control-label">
		<label>@Messages.get("user.role")：</label>
	</div>
	<div class="col-sm-10">
		<div>
			<select class="form-control" id="role_list">
				<option value="all" @if(role == "all"){selected}>@Messages.get("action.user.select.all")</option>
				<option value="@User.UserRoleEnum.ADMIN" @if(role == User.UserRoleEnum.ADMIN.name()){selected}>@User.UserRoleEnum.ADMIN.getMsg()</option>
				<option value="@User.UserRoleEnum.ORGANIZER" @if(role == User.UserRoleEnum.ORGANIZER.name()){selected}>@User.UserRoleEnum.ORGANIZER.getMsg()</option>
				<option value="@User.UserRoleEnum.GENERAL" @if(role == User.UserRoleEnum.GENERAL.name()){selected}>@User.UserRoleEnum.GENERAL.getMsg()</option>
				<option value="@User.UserRoleEnum.BLOCKED" @if(role == User.UserRoleEnum.BLOCKED.name()){selected}>@User.UserRoleEnum.BLOCKED.getMsg()</option>
			</select>
		</div>
	</div>
</div>
<br>
<div class="col-sm-12 table-responsive">	
	<table class="table">
		<thead>
			<tr>
				<th>@Messages.get("user.email")</th>
				<th>@Messages.get("user.name")</th>
				<th>@Messages.get("user.role")</th>
				<th>@Messages.get("user.action")</th>
			</tr>
		</thead>
		<tbody>
			@for(u <- user) {
			<tr>
				<td>@u.email @if(u.verified){ <span class="glyphicon glyphicon-ok"></span>}</td>
				<td>@u.name</td>
				<td>@u.role.getMsg</td>
				<td><a class="btn btn-lg btn-info admin-controller"
					href='/updateUserInfo?email=@java.net.URLEncoder.encode(u.email, "UTF-8")' role="button">@Messages.get("action.user.update")</a></td>
			</tr>
			}
	
		</tbody>
	</table>
</div>

<script language="JavaScript">

$("#role_list").change(function(){
	var role = $("#role_list").val();
	window.location.assign("/user_manager/"+ encodeURIComponent(role));
});

</script>


}
