@import spbox.model.entity.ticket.Ticket
@import java.util.Calendar
@import java.text.SimpleDateFormat
@import play.i18n._

@(message: String)(validTicketMaps: Map[Integer, Map[Integer, List[Ticket]]])(invalidTicketList: List[Ticket])
@if(validTicketMaps != null && invalidTicketList != null){
    @if(validTicketMaps.keySet().size() > 0 || invalidTicketList.size() > 0){ @*check if there are any tickets*@

        @for((year, ticketMap) <- validTicketMaps){


            @for(month <- ticketMap.keySet()){

                <div class="month-section">
                    <span class="month">@month 月｜</span><span class="year">@year</span>
                </div>

                @for(t <- ticketMap.get(month)){
                    <div class="ticket-container active-tickets">
                        <a class="qrCode-link" data-toggle="modal" data-target="#qrCode-modal" data-internalId="@t.qrcode">
                            <div class="count-down-timer">
                                <h>@Messages.get("page.user.myTickets.countdown")</h>
                                <i id="clock-icon" class="flaticon-alarm68"></i>
                                <span id="timeleft-@t.bzid"></span>
                                <script>
                                    $(function() {
                                        moment.locale('zh-cn');
                                        var timeLeft = moment.utc("@t.activity.startTime").fromNow();
                                        $("#timeleft-@t.bzid").append(timeLeft + '');
                                    });
                                </script>
                            </div>
                            <div id="left-separator">&bull;<br>&bull;<br>&bull;<br>&bull;<br>&bull;<br>&bull;<br>&bull;<br>&bull;<br>&bull;<br>&bull;<br>&bull;<br>&bull;<br>&bull;<br>&bull;
                            </div>
                            <div class="ticket-info">
                                <h id="event-title">@t.activity.name</h>
                                <h id="event-ticket-name">@t.ticketType.name</h>
                                <h id="event-time">@t.activity.dateTime</h>
                                <h id="event-venue">@t.activity.GetVenueFull()</h>
                            </div>
                            <img class="example-qr" src="@routes.Assets.at("images/havefun_QR.jpg")">
                        </a>
                    </div>
                }
            }
        }

        @for(invalidT <- invalidTicketList){
            <div class="ticket-container expired-tickets">
                <div class="ticket-info">
                    <h id="event-title">@invalidT.activity.name</h>
                    <h id="event-ticket-name">@invalidT.ticketType.name</h>
                    <h id="event-time">@invalidT.activity.dateTime</h>
                    <h id="event-venue">@invalidT.activity.GetVenueFull()</h>
                </div>
                <div class="expired-stamp-container">
                    <img class="expired-stamp" src="@routes.Assets.at("images/expired_stamp.png")">
                </div>
            </div>
        }

            @*@if(new Date().before(t.activity.endTime)){ active tickets*@

            @*<div class="ticket-container active-tickets">*@
                @*<a class="qrCode-link" data-toggle="modal" data-target="#qrCode-modal" data-internalId="@t.qrcode">*@
                    @*<div class="count-down-timer">*@
                        @*<h>@Messages.get("page.user.myTickets.countdown")</h>*@
                        @*<i id="clock-icon" class="flaticon-alarm68"></i>*@
                        @*<span id="timeleft-@t.bzid"></span>*@
                        @*<script>*@
                            @*$(function() {*@
                                @*moment.locale('zh-cn');*@
                                @*var timeLeft = moment("@t.activity.startTime").fromNow();*@
                                @*$("#timeleft-@t.bzid").append(timeLeft + '');*@
                            @*});*@
                        @*</script>*@
                    @*</div>*@
                    @*<div id="left-separator">&bull;<br>&bull;<br>&bull;<br>&bull;<br>&bull;<br>&bull;<br>&bull;<br>&bull;<br>&bull;<br>&bull;<br>&bull;<br>&bull;<br>&bull;<br>&bull;*@
                    @*</div>*@
                    @*<div class="ticket-info">*@
                        @*<h id="event-title">@t.activity.name</h>*@
                        @*<h id="event-ticket-name">@t.ticketType.name</h>*@
                        @*<h id="event-time">@t.activity.dateTime</h>*@
                        @*<h id="event-venue">@t.activity.GetVenueFull()</h>*@
                    @*</div>*@
                @*</a>*@
            @*</div>*@

            @*} else { expired tickets*@
                @*<div class="ticket-container expired-tickets">*@
                    @*<div class="ticket-info">*@
                        @*<h id="event-title">@t.activity.name</h>*@
                        @*<h id="event-ticket-name">@t.ticketType.name</h>*@
                        @*<h id="event-time">@t.activity.dateTime</h>*@
                        @*<h id="event-venue">@t.activity.GetVenueFull()</h>*@
                    @*</div>*@
                    @*<div class="expired-stamp-container">*@
                        @*<img class="expired-stamp" src="@routes.Assets.at("images/expired_stamp.png")">*@
                    @*</div>*@
                @*</div>*@
            @*}*@
        @*}*@


        <div class="my-ticket-qrcode-modal">
            <div class="modal fade" id="qrCode-modal" tabindex="-1" role="dialog" aria-labelledby="qrCodeLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="qrCodeLabel">QR码</h4>
                        </div>
                        <div class="modal-body text-center">
                            <img id="qrCode" src="">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            $('#qrCode-modal').on('show.bs.modal', function (event) {
                var qrcode = $(event.relatedTarget); // Button that triggered the modal
                $('#qrCode').attr('src', qrcode.attr('data-internalId'));
            })
        </script>

    }else{

        <div class="jumbotron">

            <h2 id="no-ticket">@Messages.get("message.ticket.noTicket")</h2>

        </div>

    }
} else {
    <p>Read error: Bought tickets</p>
}

<script>
    $(document).ready(function () {
        $('#personal-center-loading').fadeOut();
    });
</script>


