@import spbox.model.entity.user.User
@import spbox.model.entity.PaymentMethod
@import play.i18n._

@import spbox.model.entity.user.UserPaymentRequirement
@(message: String)(u: User)(paymentMethods:List[PaymentMethod])(userPaymentRequirement:UserPaymentRequirement)
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrapValidator.css")">
<script src="@routes.Assets.at("javascripts/bootstrapValidator.js")" type="text/javascript"></script>


<div class="jumbotron" id="update-organizer-setting-page">

    <form autocomplete="off" class="form-horizontal" id="organizer-setting-form"
    data-bv-message="This value is not valid"
    data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
    data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
    data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">

        <div class="form-group form-group-sm">
            <div class="col-sm-3 control-label">
                <label class="control-label">@Messages.get("user.email"):</label>
            </div>
            <div class="col-sm-9">
                <input class="form-control" type="text" name="email" id="email"
                placeholder="" value="@if(u!=null){@u.email}" @if(u!=null){readonly}>
            </div>
        </div>

        <div class="form-group form-group-sm">
            <div class="col-sm-3 control-label">
                <label class="control-label">@Messages.get("user.name"):</label>
            </div>
            <div class="col-sm-9">
                <input class="form-control" type="text" name="name" id="name"
                placeholder="" value="@if(u!=null){@u.name}" @if(u!=null){readonly}>
            </div>
        </div>

        <div class="form-group form-group-sm" id="payment-method-div">
            <div class="col-sm-3 control-label">
                <label class="control-label">@Messages.get("user.organizer.setting.paymentMethod"):</label>
            </div>
            <div class="col-sm-9">
                <select class="form-control" name="payment-method" id="payment-method" data-bv-notempty data-bv-notempty-message="@Messages.get("user.bv.notEmpty.organizer.setting.paymentMethod")">
                    <option selected disabled>@Messages.get("user.organizer.setting.paymentMethod.select")</option>
                    @for(pm <- paymentMethods) {
                        <option value="@pm.dbid" @if(u != null && userPaymentRequirement != null && userPaymentRequirement.paymentMethod.equals(pm)){selected}>@pm.CnName</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group form-group-sm">
            <div class="col-sm-3 control-label">
                <label class="control-label">@Messages.get("user.organizer.setting.paymentEmail"):</label>
            </div>
            <div class="col-sm-9">
                <input class="form-control" type="text" name="payment-email" id="payment-email"
                placeholder="" value="@if(u!=null && userPaymentRequirement != null){@userPaymentRequirement.paymentEmail}" data-bv-emailaddress data-bv-emailaddress-message="@Messages.get("user.bv.notEmpty.organizer.setting.validPaymentEmail")" data-bv-notempty data-bv-notempty-message="@Messages.get("user.bv.notEmpty.organizer.setting.paymentEmail")">
            </div>
        </div>

        <div class="button-container">
            <button id="organizer-setting-update-button" type="submit" class="btn">@Messages.get("action.user.doUpdateOrganizerSetting")</button>
        </div>

    </form>
</div>


<script>

    (function(){

        $(document).ready(function () {
            $('#personal-center-loading').fadeOut();
        });

        $('#organizer-setting-form').bootstrapValidator().off('success.form.bv').on('success.form.bv', function(e, data) {

            e.preventDefault();

            var email = $("#email").val();
            var paymentMethodDbid = $("#payment-method").val();
            var paymentEmail = $("#payment-email").val();

            var updateData = {"email": email, "paymentMethodDbid": paymentMethodDbid, "paymentEmail": paymentEmail};

            $.rest("PUT", "/api/v1/user/organizerSetting", updateData, function(){
                swal({
                    title:"@Messages.get("page.user.bv.organizerSetting.success")",
                    type: "success"
                });
                location.assign("/userPersonalPage?email=@java.net.URLEncoder.encode(User.GetCurrentUserEmail(), "UTF-8")");
            },function(error){
                console.log(error);
                swal({
                    title:"@Messages.get("page.user.bv.organizerSetting.fail")",
                    type: "error"
                });
            });
        });
    }());

</script>


