@import spbox.model.entity.email.Article
@import spbox.web.view.html.main
@import play.i18n._
@(message: String)(article: List[Article])


@main(message) {

<div class="col-sm-12">
	<div class="control-label">
		<label><h1>@Messages.get("page.articleManager")</h1></label>
	</div>
</div>

<div class="col-sm-12">
	<div class="control-label">
		<a class="btn btn-lg btn-primary" href="/edit_article/new">@Messages.get("page.article.create")</a>
	</div>
</div>

<div class="col-sm-12 table-responsive">	
	<table class="table">
		<thead>
			<tr>
				<th>@Messages.get("article.action")</th>
				<th>@Messages.get("article.title")</th>
				<th>@Messages.get("article.name")</th>
			</tr>
		</thead>
		<tbody>
			@if(article!=null) {
				@for( a <- article) {
					<tr>
						<td><a class="btn btn-lg btn-info admin-controller" href="/edit_article/@a.bzid" role="button">@Messages.get("action.article.update")</a></td>
						<td>@a.title</td>
						<td>@a.name</td>
					</tr>
				}
			} else {
				<p>Read error: Article</p>
			}
		</tbody>
	</table>
</div>



}
