@import spbox.model.entity.email.Article
@import spbox.web.view.html.main
@import play.i18n._
@(message: String)(a: Article)

@main(message) {
	<script async src="@routes.Assets.at("javascripts/bootstrapValidator.js")" type="text/javascript"></script>
	<script async src="@routes.Assets.at("javascripts/zh_CN.js")" type="text/javascript"></script>

	<!-- include summernote css/js-->
	<script src="@routes.Assets.at("javascripts/summernote.min.js")" type="text/javascript"></script>
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/summernote.css")">

	<form autocomplete="off" class="form-horizontal" id="edit-article-form" onsubmit="return false;"
	data-bv-message="This value is not valid"
	data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
	data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
	data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
		
		<div class="form-group form-group-sm">
			    <label class="ol-md-5 col-md-offset-2 control-label" id="user-info"></label>
		</div>

		<div class="form-group form-group-sm">
				<label class="col-sm-2 control-label">@Messages.get("article.id"):</label>
			<div class="col-sm-10">
				<input class="form-control" type="text" name="id" id="id"
					placeholder="自动分配" value="@if(a!=null){@a.bzid}" readonly>
			</div>
		</div>

		<div class="form-group form-group-sm">
			<label class="col-sm-2 control-label">@Messages.get("article.articleType"):</label>
			<div class="col-sm-10">
				<input class="form-control" type="text" name="name" id="name"
				placeholder="" value="@if(a!=null){@a.name}" @if(a!=null && a.articleType.equals(Article.ArticleType.BUILTIN)){ readonly } />
			</div>
		</div>

		<div class="form-group form-group-sm">
			<label class="col-sm-2 control-label">@Messages.get("article.title"):</label>
			<div class="col-sm-10">
				<input class="form-control" type="text" name="title" id="title"
				placeholder="" value="@if(a!=null){@a.title}">
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">@Messages.get("article.content"):</label>
			<div class="col-sm-10">
				<div id="summernote" name="content"></div>
				<textarea class="form-control" id="summernote_text" rows="13" name="content" placeholder="@Messages.get("article.content")" required data-bv-notempty-message="@Messages.get("article.bv.notEmpty.content")" >@if(a != null) {@a.content}</textarea>
			</div>
		</div>

		<div class="col-md-2 col-md-offset-5">
			<button id="article-confirm-button" class="btn btn-success">@Messages.get("action.article.submit")</button>
		</div>
		
	</form>
    		
	@if(a!=null){
		<button class="btn btn-danger" onclick="location.href = '/api/v1/deleteArticle/@a.bzid'">@Messages.get("action.article.delete")</button>
	}
		
	<script language="JavaScript">

	$(document).ready(function(){

	   $('#summernote').summernote({
		height: 500,
		toolbar: [
		['style', ['style']],
		['font', ['bold', 'italic', 'underline', 'clear']],
		['fontname', ['fontname']],
		['color', ['color']],
		['para', ['ul', 'ol', 'paragraph']],
		['height', ['height']],
		['table', ['table']],
		['insert', ['link', 'picture', 'hr']],
		['view', ['fullscreen', 'codeview']],
		['help', ['help']]
		],
		onImageUpload: function(files) {
			var data = new FormData();
			data.append("file", files[0]);
			$.ajax({
				data: data,
				type: "POST",
				url: "/api/v1/image",
				cache: false,
				contentType: false,
				processData: false,
				success: function(url) {
					$('#summernote').summernote('editor.insertImage', url);
				},
				error: function(){
					alert("Failed to upload image");
				}
			});
		}
		});
		$('#summernote').on('summernote.change', function(customEvent, contents, $editable) {
			$("#summernote_text").val($("#summernote").code());
		});
		$("#summernote").code($("#summernote_text").val());
     });


		$("#article-confirm-button").click(function(){

			$('#edit-article-form').bootstrapValidator().off('success.form.bv').on('success.form.bv', function(e, data) {

			    e.preventDefault();
				var theID = $("#id").val();
				var theName = $("#name").val();
				var theTitle = $("#title").val();
				var theContent = $("#summernote_text").val();

				var data = {"id": theID, "name": theName, "title": theTitle, "content": theContent};

				$.rest("POST", "/api/v1/editArticle", data, function(data){

					window.location.href = "/article_manager";
					},
					function(data){
						if(data.status == 403){
							alert("@Messages.get("message.article.articleType.duplicate")");
						}
						else{
							alert("@Messages.get("message.article.createFailed")");
						}

					});
			  });
	 	});

	</script>

}
