@import spbox.model.entity.activity.Activity
@import play.i18n._
@(message: String)(a: Activity)(customizedEmailTemplateContent: String)
<script async src="@routes.Assets.at("javascripts/bootstrapValidator.js")" type="text/javascript"></script>
<script async src="@routes.Assets.at("javascripts/zh_CN.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/summernote.min.js")" type="text/javascript"></script>
<style>.btn{height:inherit;}</style>
<form class="form-horizontal" onsubmit="return false;" id="setting-form"
data-bv-message="This value is not valid"
data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">

	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title" id="myModalLabel">@Messages.get("page.email.setting") - @if(a!=null){@a.name}</h4>
	</div>
	<div class="modal-body">

			<div class="form-group form-group-sm">
				<label class="col-sm-2 control-label" for="emailToBuyer">@Messages.get("message.email.setting.toBuyer")</label>
				<div class="col-lg-9">
					<div class="btn-group" data-toggle="buttons">
						<label class="btn btn-default @if(a.property.emailToBuyerEnabled){ active }">
							<input type="radio" name="emailToBuyer" value="true"   @if(a.property.emailToBuyerEnabled){ checked } data-fv-notempty /> @Messages.get("action.email.setting.setToTrue")
						</label>
						<label class="btn btn-default @if(!a.property.emailToBuyerEnabled){ active }">
							<input type="radio" name="emailToBuyer" value="false" @if(!a.property.emailToBuyerEnabled){ checked }  data-fv-notempty/> @Messages.get("action.email.setting.setToFalse")
						</label>
					</div>
				</div>
			</div>
			<div class="form-group form-group-sm">
				<label class="col-sm-2 control-label" for="emailToOrganizer">@Messages.get("message.email.setting.toOrganizer")</label>
				<div class="col-lg-9">
					<div class="btn-group" data-toggle="buttons">
						<label class="btn btn-default @if(a.property.emailToOrganizerEnabled){ active }">
							<input type="radio" name="emailToOrganizer" value="true" @if(a.property.emailToOrganizerEnabled){ checked }  data-fv-notempty/> @Messages.get("action.email.setting.setToTrue")
						</label>
						<label class="btn btn-default @if(!a.property.emailToOrganizerEnabled){ active }">
							<input type="radio" name="emailToOrganizer" value="false" @if(!a.property.emailToOrganizerEnabled){ checked }  data-fv-notempty/> @Messages.get("action.email.setting.setToFalse")
						</label>
					</div>
				</div>
			</div>
		@*
			<div class="form-group form-group-sm">
				<label class="col-sm-2 control-label" for="isEmailCustomized">@Messages.get("message.email.setting.format")</label>
				<div class="col-lg-9">
					<div class="btn-group" data-toggle="buttons">
						<label class="btn btn-default @if(a.property.emailCustomized){ active }">
							<input type="radio" name="isEmailCustomized" value="true" @if(a.property.emailCustomized){ checked }  data-fv-notempty/> @Messages.get("action.email.setting.format.customize")
						</label>
						<label class="btn btn-default @if(!a.property.emailCustomized){ active }">
							<input type="radio" name="isEmailCustomized" value="false" @if(!a.property.emailCustomized){ checked }  data-fv-notempty/> @Messages.get("action.email.setting.format.default")
						</label>
					</div>
				</div>
			</div>

			<div id="customized-email-group" class="form-group  @if(!a.property.emailCustomized){ hidden }">
				<label class="col-sm-2 control-label">@Messages.get("message.email.setting.customizeFormat")</label>
				<div class="col-sm-10">
					<div id="summernote" name="content"></div>
					<textarea class="form-control" style="display:none" id="summernote_text" rows="13" name="content" placeholder="@Messages.get("article.content")" required  data-fv-notempty data-bv-notempty-message="@Messages.get("article.bv.notEmpty.content")" >@customizedEmailTemplateContent</textarea>
				</div>
			</div>
		*@

	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">@Messages.get("action.email.setting.cancel")</button>
		<button type="button" class="btn btn-primary" onclick="save()">@Messages.get("action.email.setting.save")</button>
	</div>

</form>
<script>

	function save(){
		var validator = $('#setting-form').data('bootstrapValidator');
		validator.validate();
		if(!validator.isValid())
		{
		    return;
		}
		var payload = {
			emailToBuyer: $('input[name=emailToBuyer]:checked', '#setting-form').val() === "true",
			emailToOrganizer: $('input[name=emailToOrganizer]:checked', '#setting-form').val()=== "true"
			@*isEmailCustomized: $('input[name=isEmailCustomized]:checked', '#setting-form').val()=== "true"*@
		};
		@*
		if(payload.isEmailCustomized){
			payload.content = $('#summernote_text').val();
		}
		*@
		$.rest("PUT", '/api/v1/activity/@a.bzid/email-settings', payload,
			function(){
				 $('#emailSettings').modal('hide');
			},
			function(error)
			{
				alert("@Messages.get("message.email.setting.saveFailed")");
			}
		);
	}

	$('#setting-form').bootstrapValidator()

@*
	$(function(){
		 $('input[type=radio][name=isEmailCustomized]').change(function() {
			if (this.value === 'true') {
				$("#customized-email-group").removeClass("hidden");
			}
			else if (this.value === 'false') {
				$("#customized-email-group").addClass("hidden");
			}
		});


		$('#summernote').summernote({
		  height: 500,
		  toolbar: [
			['style', ['style']],
			['font', ['bold', 'italic', 'underline', 'clear']],
			['fontname', ['fontname']],
			['color', ['color']],
			['para', ['ul', 'ol', 'paragraph']],
			['height', ['height']],
			['table', ['table']],
			['insert', ['link', 'picture', 'hr']],
			['view', ['fullscreen', 'codeview']],
			['help', ['help']]
		  ],
		  onImageUpload: function(files) {
			var data = new FormData();
			data.append("file", files[0]);
			$.ajax({
				data: data,
				type: "POST",
				url: "/api/v1/image",
				cache: false,
				contentType: false,
				processData: false,
				success: function(url) {
					$('#summernote').summernote('editor.insertImage', url);
				},
				error: function(){
					alert("Failed to upload image");
				}
			});
		  }
		});
		$('#summernote').on('summernote.change', function(customEvent, contents, $editable) {
			$("#summernote_text").val($("#summernote").code());
		});
		$("#summernote").code($("#summernote_text").val());

	});
*@
	</script>


