@import spbox.model.entity.activity.Review
@import spbox.model.entity.user.User
@import play.i18n._
@(message: String)(user:User)(review:List[Review])

<div class="col-xs-12 col-sm-12 reviewList">
    @if(review != null){
        @if(review.size == 0) {

            <div id="no-review-warning"> @Messages.get("page.activity.noReview") </div>

        } else {

            @for(r <- review){
                <div class='individualReview'>
                    <div class='reviewUserName'>
                        <h4>@r.user.name</h4>
                    </div>
                    <span class='stars'>@r.rating</span>
                    <div class='reviewUserComment'>
                        <h5>@r.reviewContent</h5>
                    </div>
                    <div class='reviewCommentTime'>
                        @if(user != null && user.role.equals(User.UserRoleEnum.ADMIN)) {
                            <button type="button" class="btn red_btn" onclick="deleteEvent(this, '@r.dbid')"><span class="glyphicon glyphicon-trash"></span>@Messages.get("page.activity.deleteReview")</button>
                        }
                    <h6 id="review-time-@r.dbid">
                        <script type="text/javascript">
                            $(function() {
                                $('#review-time-@r.dbid').append(moment('@r.creationTime').locale('zh-cn').format('YYYY-MM-DD'));
                            });
                        </script>
                    </h6>
                    </div>
                </div>
            }
        }
    } else {
        <p>Read error: Reviews</p>
    }
</div>

<script>

    $(document).ready(function () {
        reviewLoadingIcon.fadeOut();
    });

    $(function() {
        $('.individualReview .stars').stars();
    });


</script>





