@import spbox.model.entity.activity.ActivityCategory
@import spbox.web.view.html.main
@import play.i18n._
@(message: String)(activityCategory: List[ActivityCategory])


@main(message) {

<div class="col-sm-12">
	<div class="control-label">
		<label><h1>@Messages.get("page.activityCategoryManager.list")</h1></label>
	</div>
</div>

<div class="col-sm-12">
	<div class="control-label">
		<a class="btn btn-lg btn-primary" href="/edit_activity_category/new">@Messages.get("page.activityCategory.create")</a>
	</div>
</div>

<div class="col-sm-12 table-responsive">	
	<table class="table">
		<thead>
			<tr>
				<th>@Messages.get("activityCategory.action")</th>
				<th>@Messages.get("activityCategory.CnName")</th>
				<th>@Messages.get("activityCategory.EnName")</th>
				<th>@Messages.get("activityCategory.idx")</th>
			</tr>
		</thead>
		<tbody>
			@if(activityCategory!=null) {
				@for( ac <- activityCategory) {
					<tr>
						<td><a class="btn btn-lg btn-info admin-controller" href="/edit_activity_category/@ac.dbid" role="button">@Messages.get("action.activityCategory.update")</a></td>
						<td>@ac.CnName</td>
						<td>@ac.EnName</td>
						<td>@ac.idx</td>
					</tr>
				}
			} else {
				<p>Read error: activityCategory</p>
			}
		</tbody>
	</table>
</div>



}
