@import spbox.UserContext
@import spbox.model.entity.activity.Activity
@import spbox.web.view.html.main
@import play.i18n._
@(message: String)(activity: List[Activity])

@main(message) {
    <script>
function starChange(id)
{
	$.rest("PUT", "/api/v1/changeStar/" + id, {}, function(data){
		window.location.href="/activity_manager";
	    },
		function(data){
			alert("置顶出错！");
		});
}
</script>

<div class="jumbotron" id="activity-manager">

    <div class="row activity-manager-controller btn-group" data-toggle="buttons">
        <label class="btn filter-quarter @if(!UserContext.isCurrentUserAdministrator()){active}">
            <input type="checkbox" autocomplete="off" id="tag-@Activity.ActivityStatusEnum.UNPUBLISH.name()"  @if(!UserContext.isCurrentUserAdministrator()){checked}> @Activity.ActivityStatusEnum.UNPUBLISH.getMsg()
        </label>
        <label class="btn filter-quarter active">
            <input type="checkbox" autocomplete="off" id="tag-@Activity.ActivityStatusEnum.REQUEST_PUBLISH.name()"  checked> @Activity.ActivityStatusEnum.REQUEST_PUBLISH.getMsg()
        </label>
        <label class="btn filter-quarter active">
            <input type="checkbox" autocomplete="off" id="tag-@Activity.ActivityStatusEnum.PUBLISH.name()"  checked> @Activity.ActivityStatusEnum.PUBLISH.getMsg()
        </label>
        <label class="btn filter-quarter">
            <input type="checkbox" autocomplete="off" id="tag-@Activity.ActivityStatusEnum.EXPIRED.name()"> @Activity.ActivityStatusEnum.EXPIRED.getMsg()
        </label>
    </div>

    <div>
        @if(activity!=null){
            @for(a <- activity) {
                <div class="activity-underline row @a.status @a.deleted">

                    <div class="col-sm-5 activity-manager-title">
                        <a class="admin-controller star_@a.star" id="star-activity-@a.bzid" href="javascript:starChange('@a.bzid');" role="button">@if(a.star == true) {<span class="glyphicon glyphicon-star"></span>} else {<span class="glyphicon glyphicon-star-empty"></span>}</a>
                        <label>
                            @a.name
                            @if(a.status == Activity.ActivityStatusEnum.REQUEST_PUBLISH) {
                                (@Activity.ActivityStatusEnum.REQUEST_PUBLISH.getMsg())}
                            @if(a.status == Activity.ActivityStatusEnum.UNPUBLISH) {
                                (@Activity.ActivityStatusEnum.UNPUBLISH.getMsg())}
                        </label>
                    </div>

                    <div class="col-sm-7 manager-options">

                        <div class="col-xs-4">
                            <a class="btn btn-block admin-controller" href="/create/@a.bzid" role="button"><span class="fa fa-pencil"></span>@Messages.get("action.activity.update")</a>
                        </div>

                        @if(a.status == Activity.ActivityStatusEnum.UNPUBLISH) {

                            <div class="col-xs-4">
                                <a class="btn btn-block admin-controller" href="/activity/@a.bzid?preview=true" target="_blank"  role="button"><span class="fa fa-eye"></span>@Messages.get("action.activity.preview")</a>
                            </div>

                            <div class="col-xs-4">
                                @if(!UserContext.isCurrentUserAdministrator && a.status == Activity.ActivityStatusEnum.UNPUBLISH){
                                    <button class="btn btn-block admin-controller" onclick="requestPublish('@a.bzid')" role="button"><span class="fa fa-bullhorn"></span>@Messages.get("action.activity.publish")</button>
                                }
                            </div>
                        }

                        @if(a.status == Activity.ActivityStatusEnum.EXPIRED) {

                            <div class="col-xs-4 expired-time">
                                <span class="fa fa-clock-o"></span><p>@a.dateTime</p>
                            </div>

                            <div class="col-xs-4">
                                <a class="btn btn-block admin-controller" href="/activity/@a.bzid?preview=true" target="_blank"  role="button"><span class="fa fa-history"></span>@Messages.get("action.activity.review")</a>
                            </div>
                        }

                        @if(a.status == Activity.ActivityStatusEnum.REQUEST_PUBLISH) {

                            <div class="col-xs-4">
                                <a class="btn btn-block admin-controller" onclick="GetEmailSettingsPage(this, '/activity/@a.bzid/email-settings')" role="button"  data-toggle="modal" data-loading-text="Loading..." ><span class="fa fa-cog"></span>@Messages.get("page.email.setting")</a>
                            </div>

                            <div class="col-xs-4">
                                <a class="btn btn-block admin-controller" href="/activity/@a.bzid?preview=true" target="_blank"  role="button"><span class="fa fa-eye"></span>@Messages.get("action.activity.preview")</a>
                            </div>
                        }

                        @if(a.status == Activity.ActivityStatusEnum.PUBLISH) {

                            <div class="col-xs-4">
                                <a class="btn btn-block admin-controller" onclick="GetEmailSettingsPage(this, '/activity/@a.bzid/email-settings')" role="button"  data-toggle="modal" data-loading-text="Loading..." ><span class="fa fa-cog"></span>@Messages.get("page.email.setting")</a>
                            </div>

                            <div class="col-xs-4">
                                <a class="btn btn-block admin-controller" href="/activity/@a.bzid?preview=false" target="_blank"  role="button"><span class="fa fa-eye"></span>@Messages.get("action.activity.view")</a>
                            </div>
                        }

                    </div>
                </div>
            }
        } else {
            <p>Read error: Activity</p>
        }
    </div>
</div>

    <!-- Modal -->
    <div class="modal fade" id="emailSettings" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" id="email-setting-page">

            </div>
        </div>
    </div>

</div>

<script language="JavaScript">

    function requestPublish(acvitityId)
    {
        $.rest("GET", "/api/v1/publish/" + acvitityId, {}, function(result){ location.reload(true); }, function(error){ alert(error.responseText);});
    }

    function GetEmailSettingsPage(button, emailUrl){
        var $btn = $(button).button('loading');
        $( "#email-setting-page" ).load(emailUrl, function() {
            $('#emailSettings').modal('show');
            $btn.button('reset')
        });
    }


    $(".@Activity.ActivityStatusEnum.UNPUBLISH.name()").toggle( $("#tag-@Activity.ActivityStatusEnum.UNPUBLISH.name()").is(':checked'));
    $(".@Activity.ActivityStatusEnum.REQUEST_PUBLISH.name()").toggle( $("#tag-@Activity.ActivityStatusEnum.REQUEST_PUBLISH.name()").is(':checked'));
    $(".@Activity.ActivityStatusEnum.PUBLISH.name()").toggle( $("#tag-@Activity.ActivityStatusEnum.PUBLISH.name()").is(':checked'));
    $(".@Activity.ActivityStatusEnum.EXPIRED.name()").toggle( $("#tag-@Activity.ActivityStatusEnum.EXPIRED.name()").is(':checked'));
    $("#tag-@Activity.ActivityStatusEnum.UNPUBLISH.name()").change(function(){$(".@Activity.ActivityStatusEnum.UNPUBLISH.name()").toggle(this.checked);});
    $("#tag-@Activity.ActivityStatusEnum.REQUEST_PUBLISH.name()").change(function(){$(".@Activity.ActivityStatusEnum.REQUEST_PUBLISH.name()").toggle(this.checked);});
    $("#tag-@Activity.ActivityStatusEnum.PUBLISH.name()").change(function(){$(".@Activity.ActivityStatusEnum.PUBLISH.name()").toggle(this.checked);});
    $("#tag-@Activity.ActivityStatusEnum.EXPIRED.name()").change(function(){$(".@Activity.ActivityStatusEnum.EXPIRED.name()").toggle(this.checked);});


</script>

}
