@import spbox.model.entity.activity.Activity
@import spbox.model.entity.activity.ActivityImage
@import spbox.model.entity.email.Article
@import spbox.model.entity.ticket.TicketType
@import spbox.model.entity.user.User
@import spbox.model.entity.activity.Review
@import spbox.web.view.html.main

@import play.i18n._
@(message: String)(a: Activity)(indexImages: ActivityImage)(activityImages: List[ActivityImage])(terms: Article)(tt: List[TicketType])(apiKey: String)(user:User)(review:List[Review])(recommendedActivities:List[Activity])(organizer:User)(organizerRate:Double)(reviewCount:Long)

@main(a.name) {
    <style>.btn{height:inherit;}</style>
    <script src="@routes.Assets.at("javascripts/bootstrapValidator.js")" type="text/javascript"></script>
    <script src="//checkout.stripe.com/checkout.js"></script>
    <script>
        // See through navbar trigger
        if ($(window).width() > 768){
            $("#main-nav").addClass('see-through-nav');
            $("#main-container").addClass('see-through-nav');
            $(window).scroll(function(){
                if($(window).scrollTop() >= 320) {
                    $("#main-nav").removeClass('see-through-nav');
                } else {
                    $("#main-nav").addClass('see-through-nav');
                }
            });
        }

        var ticketTypeDataMap = [];
        function registerTicket(ticketType){
            ticketTypeDataMap[ticketType.name] = ticketType;
        }

        function configureStripe(){
            return StripeCheckout.configure({key: '@apiKey',image: '/assets/images/havefun_icon.png'});
        }

        function quantitySelectionListener(selectedTicketType){
            var numberCouldSelect = ticketTypeDataMap[selectedTicketType].remain;

            var quantityOptions = "";
            for(var i = 1 ; i<= numberCouldSelect; i++){
                quantityOptions += "<option value = " + i + ">" + i +"</option>";
            }

            $("#quantity_"+ticketTypeDataMap[selectedTicketType].id).append(quantityOptions);
        }

        function calculateTotalAmount(selectedTicketType, quantity){
		    if(ticketTypeDataMap[selectedTicketType].taxIncluded == false)
		        return Math.round(ticketTypeDataMap[selectedTicketType].price * 1.05 * quantity * 100);
		    else
		        return Math.round(ticketTypeDataMap[selectedTicketType].price * quantity * 100);
        }

        function getUserInfoData(){
            var userInfoType = ["name", "tel", "gender", "age", "address"];
		    var userInfoField = {};

		    for(var type in userInfoType)
		    {
			    var name = userInfoType[type];
			    if(!name) continue;
			    var val = $("#"+(userInfoType[type])).val();
			    if(val == null) continue;
			    userInfoField[name]=val;
		    }
		    return userInfoField;
        }

        document.onkeypress = stopRKey;
        $('purchase_form').attr('autocomplete', 'off');

        // Close Checkout on page navigation
//        $(window).on('popstate', function() {
//
//            if(handler != undefined){
//                handler.close();
//            }
//        });

        @if(apiKey == "preview") {
            function publish(){
                $.rest(
                    "GET", "/api/v1/publish/@a.bzid", {},
                    function(){ location.reload(true); },
                    function(error){ alert(error.responseText);}
                );
            }
            function edit(){
                window.location.href = "/create/@a.bzid";
            }
        }

        @for(t <- tt) {
            registerTicket(
                {
                   id: "@t.bzid",
                   name: "@t.name",
                   price: @t.price,
                   text: "@t.name ($@t.price)"  @if(!t.taxIncluded) {+ " +5% Tax"},
                   currency:'@t.currency',
                   remain:'@(t.totalQuantity - t.bookedQuantity)',
                   taxIncluded: @t.taxIncluded
                }
            );
        }

        var stripeHandler = configureStripe();

        $(function(){
            $('input[name="type"]:checkbox').change(function(){
                var selectedTicketType = $(this).val();
                if($(this).is(':checked')) {
                    quantitySelectionListener(selectedTicketType);
                } else {
                    $("#quantity_"+ticketTypeDataMap[selectedTicketType].id+" option").remove();
                }

            });
        });

        function confirmSelection(){
            $('#payment-modal').modal('hide');

            var selectedTicketType = [];
            var quantity;

            $("input:checkbox[name=type]:checked").each(function(){
                quantity = parseInt($("#quantity_"+ticketTypeDataMap[$(this).val()].id).val());
                if (isNaN(quantity))
                {
                    swal({
                        title:"@Messages.get("message.activity.ticketQuantityNotSufficient")",
                        type: "warning"
                    });
                    return false;
                }
                selectedTicketType.push({ticketType: $(this).val(), ticketQuantity: quantity});
            });

            if (selectedTicketType.length == 0){ // If user doesn't select any tickets
                swal({
                    title:"@Messages.get("message.activity.chooseTicketType")",
                    type: "warning"
                });
                return false;
            }

            var html = '';
            var amount;
            var totalAmount = 0;

            selectedTicketType.forEach(function(ticket){ // Calculate total ticket cost

                amount = calculateTotalAmount(ticket.ticketType, ticket.ticketQuantity);
                totalAmount += amount;

                html += ticket.ticketType + ' X ' + ticket.ticketQuantity + ' --- $' + amount/100;
                html += ' \n ';
            });

            if (totalAmount == 0){
                html += ' \n @Messages.get("page.activity.totalAmount"): @Messages.get("page.activity.free")!';
            } else {
                html += ' \n @Messages.get("page.activity.totalAmount"): $' + totalAmount/100;
            }

            swal({
                title: "@Messages.get("page.activity.confirm.cart")",
                text: html,
                showCancelButton: true,
                confirmButtonColor: "#417505",
                confirmButtonText: "@Messages.get("page.activity.confirm")",
                cancelButtonText: "@Messages.get("action.page.goBack")",
                closeOnConfirm: true
            },
            function(){
                processPayment(selectedTicketType, totalAmount);
            });
        }

        //the function that interact with stripe to buy the tickets
        function processPayment(selectedTicketType, totalAmount){

            var handlePaymentInfo = function(token){
                $('#payment').modal('show');

                $("#payment_label").html("@Messages.get("message.user.onHold")");
                $("#payment_message").html("@Messages.get("message.user.updating")");

                if(@a.property.bname || @a.property.bage || @a.property.btel || @a.property.bgender || @a.property.baddress){
                    updateUserInfo();
                    createTicket(selectedTicketType, token, totalAmount);
                }else{
                    createTicket(selectedTicketType, token, totalAmount);
                }
            };

            if(totalAmount >0) {
                stripeHandler.open({
                    name: '@a.name',
                    amount: totalAmount,
                    currency: 'CAD',
                    allowRememberMe: false,
                    locale: 'zh',
                    token: handlePaymentInfo
                });
            } else {
                handlePaymentInfo({id:Math.random()*100000});
            }
        }

        function updateUserInfo(){

            var data = getUserInfoData();

            $.rest("PUT", "/api/v1/user/info", data, function(data){}, function(data){ $("#payment_label").html("@Messages.get("info.error.user.update")");
                            $("#payment_message").html("@Messages.get("info.error.user.update")"); });
        }

        function createTicket(selectedTicketType, token, totalAmount){
            $("#payment_label").html("@Messages.get("message.ticket.onHold")");
            $("#payment_message").html("@Messages.get("message.ticket.creating")");

            var transactionInfo = {"activity_id": "@a.bzid", "token": token.id};
            var data = [];
            var isFree = '';

            selectedTicketType.forEach(function(ticket){
                data.push({"type_name": ticket.ticketType, "quantity": ticket.ticketQuantity});
            });

            if (totalAmount == 0) {
                isFree = "&amount=0";
            }else{
                isFree = "&amount="+totalAmount;
            }

            $.rest("GET", "/api/v1/createTicket?transactionInfo=" + JSON.stringify(transactionInfo) + "&ticketsArray=" + JSON.stringify(data) + isFree, {}, function(data){
                if(data.success){
                    console.log("payment successful");
                    var ticketPage = "/userPersonalPage?email=@java.net.URLEncoder.encode(User.GetCurrentUserEmail(), "UTF-8")"
                    $("#payment_message").html("<a class='btn btn-lg btn-info btn-block' href='"+ticketPage+"' role='button'>@Messages.get("action.page.goto")@Messages.get("page.ticket")</a>");
                    $("#payment_label").html("@Messages.get("info.success.ticket.purchase")");
                }
            },
            function(data){
                $("#payment_label").html("@Messages.get("info.error.ticket.purchase")");
                $("#payment_message").html("@Messages.get("info.error.ticket.insufficient")");
            });
        }

        function squareCutV2(imgNode, imgSrc, ratio){
            var tmp = document.createElement("img");
			tmp.src = imgSrc;
			tmp.onload = function(){
				var w = tmp.width;
				var h = tmp.height;
				var dx = 0;
				var dy = 0;
				var rW = w;
				var rH = h;
				if (w > h * ratio){
				    dx = (w - h * ratio)/2;
				    dy = 0;
				    rW = h * ratio;
				    rH = h;
				}
				else{
				    dx = 0;
				    dy = (h - w / ratio)/2;
				    rW = w;
				    rH = w / ratio;
				}

				var canvas = document.createElement("canvas");
				canvas.width = rW;
				canvas.height = rH;

				canvas.getContext("2d").drawImage(tmp,dx, dy, rW, rH, 0, 0, rW, rH);
				imgNode.src = canvas.toDataURL();
			}
        }

        function squareCut(imgNode, imgSrc){
			var tmp = document.createElement("img");
			tmp.src = imgSrc;
			tmp.onload = function(){
				var w = tmp.width;
				var h = tmp.height;
				var size = w < h ? w : h;

				var canvas = document.createElement("canvas");
				canvas.width = size;
				canvas.height = size/3*2;

				var dx = w - size;
				var dy = h - size;

				canvas.getContext("2d").drawImage(tmp, -dx/3*2, -dy/3*2,w,h/3*2);
				imgNode.src = canvas.toDataURL();
			}
		}

		function reloadPage(){
		    location.reload();
		}

    </script>

    <div class="row" style="margin-left: 0px; margin-right: 0px;">
        <div id="activity-cover-image-div" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <a data-toggle="modal" data-target="#imgModal">
                @if(indexImages != null) {
                    <img id="activity-cover-image" src="@indexImages.getContentString()"/>
                }
            </a>
        </div>
        <div class="activity-main-text col-xs-10 col-sm-6 col-md-6 col-lg-6">
            <div class="text-center">
                <h1>
                @a.name
                </h1>
            </div>
        </div>
    </div>


    <div class="modal fade" id="payment" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" onclick="reloadPage()" data-dismiss="modal"
                        aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="payment_label">@Messages.get("message.ticket.onHold")</h4>
                    </div>
                    <div class="modal-body" id="payment_message">@Messages.get("message.ticket.creating")</div>
                        <!--<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>-->
                </div>
            </div>
        </div>
    </div>

    <div id="activity-page-main-body" class="row section col-xs-12 col-sm-10 col-md-8 col-centered">
        <div class="col-xs-12">
            <div class="jumbotron activityJumbo" id="activity-jumbo">
                <div class="formMargin row">
                    @if(apiKey == "preview") { @* Preview notification after activity is created *@
                        @if(a.status == Activity.ActivityStatusEnum.EXPIRED){
                            <div class="alert alert-warning centerAlign" id="activity-preview" role="alert"><strong>@Messages.get("page.activity.expired")</strong>
                        } else {
                            <div class="alert alert-warning centerAlign" id="activity-preview" role="alert"><strong>@Messages.get("page.activity.preview")</strong>
                        }
                        @if(user != null) {
                            @if(!User.UserRoleEnum.ADMIN.equals(user.role) && a.status == Activity.ActivityStatusEnum.UNPUBLISH) {
                                <div>
                                    <button class="btn btn-sm btn-primary" onclick="edit()" role="button">@Messages.get("action.activity.returnToUpdate")</button>
                                    <button class="btn btn-sm btn-primary admin-controller" onclick="publish()" role="button">@Messages.get("page.activity.submit")</button>
                                </div>
                            }
                            @if(!User.UserRoleEnum.ADMIN.equals(user.role) && a.status == Activity.ActivityStatusEnum.REQUEST_PUBLISH) {
                                (@Activity.ActivityStatusEnum.REQUEST_PUBLISH.getMsg())
                            }
                            @if(User.UserRoleEnum.ADMIN.equals(user.role) && a.status == Activity.ActivityStatusEnum.REQUEST_PUBLISH) {
                                <button class="btn btn-sm btn-primary admin-controller" onclick="publish()" role="button">@Messages.get("action.activity.publishRequest.grant")</button>
                            }
                        }
                        </div>
                    }
                    <div class="activity-brief-description-container col-xs-12 col-centered">
                        <div class="activity-brief-description">
                            <div class="activity-title text-center">
                                <h>@Messages.get("activity.page.briefDescription")</h>
                            </div>
                        </div>
                        <div class="activity-brief-description-content col-md-12">
                            <label>
                                @a.briefDescription
                            </label>
                        </div>
                    </div>
                    <div class="activity-date-location">
                        <div class="col-xs-12 col-sm-5 col-md-5">
                            <span class="flaticon-calendar1 col-xs-2 col-sm-2 col-md-2"></span>
                            <label class="col-xs-9 col-xs-offset-1 col-sm-9 col-sm-offset-1 col-md-9 col-md-offset-1">@a.dateTime</label>
                        </div>
                        <div class="col-xs-12 col-sm-7 col-md-7">
                            <span class="flaticon-pin60 col-xs-2 col-sm-2 col-md-2"></span>
                            <label class="col-xs-9 col-xs-offset-1 col-sm-9 col-md-9" for="venueLocation" @*onclick="mapExpand()"*@>@a.GetVenueFull()</label>
                        </div>
                        <div class="col-xs-12 col-centered" id="activity-location-map">
                            @*<script>
                                // Google Map Static Map
                                var venueAddress = encodeURIComponent("@a.venue.streetAddress");
                                var zoomLevel = 13;
                                var gMapApiKey = "AIzaSyCnWENOlWDkP8uNUbhPzP5xdEZYPfJNFqQ";
                                var mapSize = "600x300";
                                var mapScale = 2;
                                var html = "<img class='img-responsive' src='https://maps.googleapis.com/maps/api/staticmap?markers=color:red%7C"+venueAddress+"&scale="+mapScale+"&zoom="+zoomLevel+"&size="+mapSize+"&key="+gMapApiKey+"'>";
                                document.write(html);
                            </script>*@
                        </div>
                    </div>
                    <div class="ticket-sales-window">
                        <div class="activity-title text-center">
                            <h>@Messages.get("page.activity.section.ticket")</h>
                        </div>
                        <div class="ticketFloat">
                            <div class="col-xs-12 ticket-title text-center">
                                    <h5 class="title col-xs-7">@Messages.get("ticketType")</h5>
                                    <h5 class="title col-xs-2">@Messages.get("ticketType.price")</h5>
                                    <h5 class="title col-xs-3">@Messages.get("ticketType.quantity")</h5>
                                <div id="ticket-title-border"></div>
                            </div>
                            @for(t <- tt) {
                                <div class="col-xs-12 ticket-list">
                                    <div class="col-xs-7">
                                        <div class="checkbox">
                                            <label><input type="checkbox" name="type" value="@t.name" @if(tt.size()==1){checked}>
                                                @t.name <br>
                                                @Messages.get("ticketType.quantity.remain"):@(t.totalQuantity - t.bookedQuantity)&nbsp;
                                                @Messages.get("ticketType.quantity.booked"):@t.bookedQuantity
                                            </label>
                                        </div>
                                    </div>
                                    <div class="text-center col-xs-2">
                                        $@t.price
                                    </div>
                                    <div class="col-xs-3">
                                        <select class="form-control quantity" id="quantity_@t.bzid">
                                        </select>
                                    </div>
                                </div>
                            }
                            <div class="row">
                                @if(user == null){
                                    <div class="col-xs-12 text-center">
                                        <button type="button" class="btn btn-lg booking-btn" data-toggle="modal" data-target="#signin-modal">@Messages.get("ticket.reserve")</button>
                                    </div>
                                }else {
                                    @if(apiKey == "preview") {
                                        <div class="col-xs-12 text-center">
                                            <button
                                            class="btn btn-lg booking-btn" id="" @if(a.status == Activity.ActivityStatusEnum.EXPIRED){disabled}>@Messages.get("action.ticket.purchase.preview")</button>
                                        </div>
                                    } else {
                                        @if(!a.property.bname && !a.property.baddress && !a.property.bage && !a.property.bgender && !a.property.btel) {
                                            <div class="col-xs-12 text-center">
                                                <button onclick="confirmSelection()" class="btn btn-lg booking-btn">@Messages.get("action.ticket.purchase")</button>
                                            </div>
                                        }else {
                                            <div class="col-xs-12 text-center">
                                                <button type="button" id="activity-payment-button" class="btn btn-lg booking-btn" data-toggle="modal" data-target="#payment-modal">@Messages.get("action.ticket.purchase")</button>
                                            </div>
                                        }
                                    }
                                }
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 activity-description-container col-centered">
                        <div class="activity-title text-center">
                            <h>@Messages.get("activity.page.description")</h>
                        </div>
                        <!--
                        <label class="col-md-12 control-label" for="formGroupInputSmall">@Messages.get("activity.description")：</label>
                        -->
                        <div class="activity-description col-md-12">
                            <label class="">@Html(a.description)</label>
                        </div>
                        @if(activityImages != null && !activityImages.isEmpty()) {
                            @for(i <- 0 to activityImages.size() - 1) {
                                <div class="activity-description-image col-sm-12 ">
                                    <img id="activity_image_@i" class="img-responsive hidden activity_image" src="@activityImages.get(i).getContentString()"/>
                                    <a data-toggle="modal" data-target="#imgModal">
                                        <img id="@i" class="img-responsive"/>
                                    </a>
                                    <script>
                                        squareCutV2($("#@i")[0],"@activityImages.get(i).getContentString()", 1.5)
                                    </script>
                                </div>
                            }
                        }
                    </div>

                </div>
            </div>

            <div class="jumbotron reviewJumbo col-md-12 col-centered">
                <div class="activity-title text-center">
                    <h>@Messages.get("page.activity.organiser.message")</h>
                </div>
                <!--review list-->
                <div class="review-organiser row">
                    <a href="/organizer/@organizer.dbid">
                        <div class="organizer-review-block col-xs-12 col-xs-centered">
                            <img id="organizer-image" src="@if(organizer.userImage != null){@organizer.userImage}else{@routes.Assets.at("images/people.png")}" alt="@Messages.get("user.image")" />
                        </div>
                        <div clas="col-xs-12 col-xs-centered">
                            <label class="text-left" id="organizer-name">@organizer.name</label>
                            <span class='stars'>@organizerRate</span>
                        </div>
                        <div class="organiser-info col-xs-12 col-xs-centered">
                            @if(organizer.bibliography != null && organizer.bibliography != ""){
                                @organizer.bibliography
                            }else {
                                Organiser Info
                            }
                        </div>
                    </a>
                </div>

                <div class="row section col-xs-12 col-sm-12 col-md-12 col-centered" id="activity-review">
                    <div id="activity-page-review-loading">
                        <img src="@routes.Assets.at("images/loading.svg")" alt="Loading..." />
                    </div>
                    <div class="row" id="user-reviews">

                    </div>

                    @if(reviewCount > 4){
                        <div class="pager">
                            <button class="btn previous-page" onclick="reviewPreviousPage()">@Messages.get("page.activity.page.previous")</button>
                            <button class="btn next-page" onclick="reviewNextPage()">@Messages.get("page.activity.page.next")</button>
                        </div>
                    }

                    <!--create review-->
                    <div class="col-sm-12" id="add-review-form">
                        <div class="col-md-12 reviewRating">
                            <span class="starRating">
                                <input id="rating5" type="radio" name="rating" value="5">
                                <label for="rating5">5</label>
                                <input id="rating4" type="radio" name="rating" value="4">
                                <label for="rating4">4</label>
                                <input id="rating3" type="radio" name="rating" value="3">
                                <label for="rating3">3</label>
                                <input id="rating2" type="radio" name="rating" value="2">
                                <label for="rating2">2</label>
                                <input id="rating1" type="radio" name="rating" value="1">
                                <label for="rating1">1</label>
                            </span>
                        </div>
                        <div>
                            <textarea name="review_content" id="review_content" placeholder="写下你对此次活动的感受，评价，吐槽等.." rows=4"></textarea>
                        </div>
                        <div class="review-button">
                            <button id="review-submit-button" class="btn">@Messages.get("page.activity.submitReview")</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @if(recommendedActivities != null && !recommendedActivities.isEmpty()) {
        <div class="row section col-xs-12 col-sm-12 col-md-12 col-centered activity-page-recommendation">
            @spbox.web.view.activity.html.activity_recommendation(Messages.get("message.user.event.recommend"))(recommendedActivities)
        </div>
    }
    @spbox.web.view.activity.html.activity_payment_modal("")(a)(user)(apiKey)


    <!-- View Image Modal -->
    <div class="img-modal">
        <div class="modal fade" id="imgModal" tabindex="-1" role="dialog" aria-labelledby="imgModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <img id="focused-image" src="">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>

        var reviewLoadingIcon = $('#activity-page-review-loading');

        var page = 0;
        var queryRoute = "/activity/@a.bzid/review";
        var activityReviewContainer = $('#user-reviews');
        activityReviewContainer.load(queryRoute); // initialise page with all activity
        var previousPageButton = $('.previous-page');
        var nextPageButton = $('.next-page');

        var pageNumber = Math.floor(@reviewCount/ 4);
        previousPageButton.attr("disabled", true);

        function reviewPreviousPage(){
            page = page - 1;

            activityReviewContainer.load(queryRoute + "?page=" + page); // call query with selected category

            reviewLoadingIcon.fadeIn();

            if (page == 0) {
                previousPageButton.attr("disabled", true);
                nextPageButton.attr("disabled", false);
            }
        }

        function reviewNextPage(){
            page = page + 1;

            activityReviewContainer.load(queryRoute + "?page=" + page); // call query with selected category

            reviewLoadingIcon.fadeIn();

            if (page == pageNumber) {
                nextPageButton.attr("disabled", true);
                previousPageButton.attr("disabled", false);
            }
        }

        $("#review-submit-button").click(function(){
            $("#review-submit-button").attr("disabled", true);
            @if(user!=null) {
                if (typeof $("input:radio[name='rating']:checked").val() === 'undefined') {
                    var userRating = "5";
                } else {
                    var userRating = $("input:radio[name='rating']:checked").val();
                }

                var reviewContent = document.getElementById("review_content").value;
                var currentActivity = @a.dbid;
                var currentUser = @user.dbid;

                var data = {"activityDbid": currentActivity, "userDbid": currentUser, "reviewContent": reviewContent, "rating": userRating};

                $.rest("POST", "/createReview", data,
                    function(data){
                        window.location.href = "/activity/@a.bzid?preview=false";
                    },
                    function(data){
                        if(data.status == 400){
                            swal({
                                title:"評論提交失败",
                                type: "error"
                            });
                        } else {
                            swal({
                                title:"Error with review submit",
                                type: "error"
                            });
                        }
                    }
                );
            } else {
                $('#signin-modal').modal('show');
            }
        });

        function deleteEvent(button, dbid){
            if(confirm("您确定要删除此评论吗？此动作无法再复原！")){
                $.rest("DELETE", '/api/v1/deleteReview/'+dbid, {},
                    function(data){
                        window.location.href = "/activity/@a.bzid?preview=false";
                    },
                    function(data){
                        if(data.status == 404){
                            swal({
                                title:"評論不存在",
                                type: "error"
                            });
                        } else {
                            swal({
                                title:"error with review delete",
                                type: "error"
                            });
                        }
                    }
                );
            }
        }

        var imgModal = $('#imgModal');
        var focusedImage = $('#focused-image');

        imgModal.on('show.bs.modal', function (event) {
            if($(event.relatedTarget).children().attr('id') === 'activity-cover-image'){
                focusedImage.attr('src', $(event.relatedTarget).children().attr('src'));
            }else {
                var img = $(event.relatedTarget).siblings('.activity_image'); // Button that triggered the modal
                focusedImage.attr('src', img.attr('src'));
            }
        });

        $.fn.stars = function() {
            return $(this).each(function() {
                // Get the value
                var size = parseFloat($(this).html()) * 21;
                // Create stars holder
                var $span = $('<span />').width(size);
                // Replace the numerical value with stars
                $(this).html($span);
            });
        };

        $(function() {
            $('.review-organiser .stars').stars();
        });

        $(document).ready(function () { // pre-select ticket if there is only one
            @if(tt.size()==1){quantitySelectionListener('@tt.get(0).name')};
        });


        /*
        function mapExpand() {
            var growDiv = document.getElementById('activity-location-map');
            if (growDiv.clientHeight != 0) {
                growDiv.style.height = 0;
            } else {
                growDiv.style.height = "300px";
            }
        }
        */

        /* Javascript Google Map API (to be completed)
            var venueAddress= "@a.venue.streetAddress";
            var map = null;
            latLng = {lat: 49.282729, lng: -123.120738} //default vancouver coordinate

            $.ajax({
                url: 'https://maps.googleapis.com/maps/api/geocode/json?address=%23150-4731+Garden+City+Rd,+Richmond&sensor=true',
                dataType: 'json',
                success: function(results){
                    if (results.status == 'OK'){
                        latLng = results.results[0].geometry.location;
                    } else {
                        console.log("error retrieving google map location request");
                        console.log(results.status);
                    }
                }
            });

            function initMap() {
                map = new google.maps.Map(document.getElementById('activity-location-map'), {
                    center: latLng,
                    zoom: 10
                });
            }
        */

    </script>
}