@import spbox.model.entity.activity.Activity
@import spbox.model.entity.user.User
@import play.i18n._
@(message: String)(activity: Activity)(user: User)(apiKey: String)
<!-- activity payment Modal -->
<div class="modal fade modal-fullscreen" id="payment-modal" tabindex="-1" role="dialog" aria-labelledby="activityPaymentModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4><span> 欢迎购票 </span></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="purchase_form"
                data-bv-message="This value is not valid"
                data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
                data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
                data-bv-feedbackicons-validating="glyphicon glyphicon-refresh"
                data-bv-live="enabled"
                data-bv-excluded="disabled">
                    @if(activity.property.bname){
                        <div id="name-div" class="form-group form-group-sm row">
                            <label class="col-md-1 col-md-offset-1 col-sm-1 col-sm-offset-1 col-xs-12 control-label">@Messages.get("user.name")：</label>
                            @if(user == null){
                                <div class="col-md-9 col-sm-8 col-xs-12">
                                    <input class="form-control" type="text" name="name" id="name" placeholder="@Messages.get("user.name")" data-bv-notempty data-bv-notempty-message="@Messages.get("user.bv.notEmpty.name")">
                                </div>
                            }else{
                                <div class="col-md-9 col-sm-8 col-xs-12">
                                    <input class="form-control" type="text" name="name" id="name" placeholder="@Messages.get("user.name")" value="@user.name" data-bv-notempty data-bv-notempty-message="@Messages.get("user.bv.notEmpty.name")">
                                </div>
                            }
                        </div>
                    }

                    @if(activity.property.btel){

                        <div id="tel-div" class="form-group form-group-sm row">
                            <label class="col-md-1 col-md-offset-1 col-sm-1 col-sm-offset-1 col-xs-12 control-label">@Messages.get("user.mobile")：</label>
                            @if(user == null){
                                <div class="col-md-9 col-sm-8 col-xs-12">
                                    <input class="form-control" type="text" name="tel" id="tel" placeholder="@Messages.get("user.mobile")"
                                    data-bv-notempty data-bv-notempty-message="@Messages.get("user.bv.notEmpty.mobile")"
                                    minLength="10" maxlength="10" data-bv-stringlength-message="@Messages.get("user.bv.format.mobile")">
                                </div>
                            }else{
                                <div class="col-md-9 col-sm-8 col-xs-12">
                                    <input class="form-control" type="text" name="tel" id="tel" placeholder="@Messages.get("user.mobile")" value="@user.mobile"
                                    data-bv-notempty data-bv-notempty-message="@Messages.get("user.bv.notEmpty.mobile")"
                                    minLength="10" maxlength="10" data-bv-stringlength-message="@Messages.get("user.bv.format.mobile")">
                                </div>
                            }
                        </div>
                    }

                    @if(activity.property.bgender){
                        <div id="gender-div" class="form-group form-group-sm row">
                            <label class="col-md-1 col-md-offset-1 col-sm-1 col-sm-offset-1 col-xs-12 control-label">@Messages.get("user.gender")：</label>
                            @if(user == null) {
                                <div class="col-md-9 col-sm-8 col-xs-12">
                                    <div>
                                        <select class="form-control" name="gender" id="gender" data-bv-notempty>
                                            <option disabled selected>@Messages.get("action.select.gender")</option>
                                            <option value="male">@Messages.get("user.gender.male")</option>
                                            <option value="female">@Messages.get("user.gender.female")</option>
                                        </select>

                                    </div>
                                </div>
                            }else{
                                <div class="col-md-9 col-sm-8 col-xs-12">
                                    <div>
                                        <select class="form-control" name="gender" id="gender" data-bv-notempty>
                                            <option value="male" @if(("male").equals(user.gender)){selected})>@Messages.get("user.gender.male")</option>
                                            <option value="female" @if(("female").equals(user.gender)){selected}>@Messages.get("user.gender.female")</option>
                                        </select>

                                    </div>
                                </div>
                            }
                        </div>
                    }

                    @if(activity.property.bage){
                        <div id="age-div" class="form-group form-group-sm row">
                            <label class="col-md-1 col-md-offset-1 col-sm-1 col-sm-offset-1 col-xs-12 control-label">@Messages.get("user.age")：</label>
                            @if(user == null){
                                <div class="col-md-9 col-sm-8 col-xs-12">
                                    <input class="form-control" type="text" name="age" id="age"
                                    min="0"
                                    data-bv-greaterthan-message="@Messages.get("user.bv.valid.age")"
                                    max="150"
                                    data-bv-lessthan-message="@Messages.get("user.bv.valid.age")"  placeholder="" data-bv-notempty data-bv-notempty-message="@Messages.get("user.bv.notEmpty.age")">
                                </div>
                            }else{
                                <div class="col-md-9 col-sm-8 col-xs-12">
                                    <input class="form-control" type="text" name="age" id="age"
                                    min="0"
                                    data-bv-greaterthan-message="@Messages.get("user.bv.valid.age")"
                                    max="150"
                                    data-bv-lessthan-message="@Messages.get("user.bv.valid.age")"  value="@user.age" data-bv-notempty data-bv-notempty-message="@Messages.get("user.bv.notEmpty.age")">
                                </div>
                            }
                        </div>
                    }

                    @if(activity.property.baddress){
                        <div id="address-div" class="form-group form-group-sm row">
                            <div class="col-md-1 col-md-offset-1 col-sm-1 col-sm-offset-1 col-xs-12 control-label">
                                <label class="control-label">@Messages.get("user.address")：</label>
                            </div>
                            @if(user == null){
                                <div class="col-md-9 col-sm-8 col-xs-12">
                                    <input class="form-control" type="text" name="address" id="address" placeholder="" data-bv-notempty data-bv-notempty-message="@Messages.get("user.bv.notEmpty.address")">
                                </div>
                            }else{
                                <div class="col-md-9 col-sm-8 col-xs-12">
                                    <input class="form-control" type="text" name="address" id="address" value="@user.address" data-bv-notempty data-bv-notempty-message="@Messages.get("user.bv.notEmpty.address")">
                                </div>
                            }
                        </div>
                    }

                @if(user != null && !user.verified) {
                    <div class="form-group form-group-sm centerAlign" id="user-verify-div">
                        <label class="col-sm-12 control-label" id="user-alert" style="display : block ; text-align : center ;"><span class='warning'>
                        @Messages.get("message.user.notVerified")</span></label>
                        <label class="col-sm-12 control-label" id="verification-email-resent" style="display : block ; text-align : center ;"><a href="/user/@user.email/resendUserVerificationEmail">
                        @Messages.get("action.user.verificationEmail.resend")</a></label>
                    </div>
                }

                @if(apiKey == "preview") {
                    <div class="row">
                        <div class="col-md-offset-5 col-md-2 col-sm-offset-4 col-sm-2 col-xs-offset-3 col-xs-5">
                            <button class="btn btn-modal payment-btn">@Messages.get("action.ticket.purchase.preview")</button>
                        </div>
                    </div>
                }else{
                    <div class="row">
                        <div class="row col-md-offset-5 col-md-2 col-sm-offset-4 col-sm-2 col-xs-offset-3 col-xs-5">
                            <button type="submit" class="btn btn-modal payment-btn">@Messages.get("action.ticket.purchase")</button>
                        </div>
                    </div>
                }
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-modal" data-dismiss="modal">@Messages.get("action.close")</button>
            </div>
        </div>
    </div>
</div>

<script language="javascript">
        $("#purchase_form").submit(function(e){

            e.preventDefault();
        });

         $('#purchase_form').bootstrapValidator().on("error.form.bv",function(e,data){
                console.log(e,data);
            }).on("success.form.bv",function(e,data){
                confirmSelection();

            });
</script>







