@import spbox.model.entity.activity.Activity
@import spbox.model.entity.activity.ActivityImage
@import play.i18n._
@(message: String)(recommendedActivities:List[Activity])

@if(recommendedActivities != null && !recommendedActivities.isEmpty()){
    <script>
        var html = '';
        html += "<div class='form-group form-group-sm'>";
        html += "<div class='col-sm-12'>";
        html += "<div class='eventHeader'>@Messages.get("message.user.event.recommend")</div>";
        html += "</div>";
        html += "</div>";
        html += "<div class='carousel' id='recommendedActivities'>";
        html += "<div class='carousel-inner'>";
        var acount = 0;
        var atotal = @recommendedActivities.size();
        var windowWidth = $( window ).width();
        var alinemax = 3;

        if(windowWidth < 768){
            alinemax = 1;
        }
        @if(recommendedActivities!= null){
            @for(a <- recommendedActivities) {
                @if(a.indexPreviewImage != null){
                    if(acount  % alinemax == 0){
                        if(acount == 0){
                            html += "<div class='item active'>";
                            html += "<div class='row'>";
                        }else{
                            html += "<div class='item'>";
                            html += "<div class='row'>";
                        }
                    }
                    html += "<div class='recommended-event-activity-block col-xs-centered margin'>";
                    html += "<div class='activity-block grid-view'>";
                    html += "<a href='/activity/@a.bzid?preview=false' >";

                    html += "<div class='event' id='event_@a.bzid'>";

                    html += "<h class='venue-name-title'>@a.name </h>";

                    html += "<div class='logo_image'>";
                    html += "<img class='activityCoverImage img-responsive desaturate' src='@a.indexPreviewImage.getContentString()'/>";
                    html += "</div>";

                    html += "<div class='list-title'>";
                    html += "<h3>@a.name</h3>";
                    html += "</div>";

                    //<!--<div class="hr"></div>-->
                    html += "</div>";
                    html += "</a>";
                    /*
                        <!--
                        <div class="admin-controller">
                        <a class="btn btn-lg btn-info admin-controller" href="/create?id=@a.bzid" role="button">编辑活动</a>
                        </div>
                        -->
                    */
                    html += "</div>";
                    html += "</div>";
                    if(acount == atotal-1){
                        html += "</div>";
                        html += "</div>";
                    }else {
                        if(acount % alinemax == alinemax - 1) {
                            html += "</div>";
                            html += "</div>";
                        }
                    }
                    acount = acount + 1;
                }
            }
        } else {
            html += '<p>Read error: Recommended activities</p>';
        }
        html += "</div>";
        html += "<a class='left carousel-control' href='#recommendedActivities' data-slide='prev'><span class='glyphicon glyphicon-chevron-left' aria-hidden='true'></span></a>";
        html += "<a class='right carousel-control' href='#recommendedActivities' data-slide='next'><span class='glyphicon glyphicon-chevron-right' aria-hidden='true'></a>";
        html += "</div>";

        $('.activity-page-recommendation').append(html);

        </script>
}



