@import spbox.model.entity.activity.Activity
@import spbox.model.entity.email.Article
@import spbox.model.entity.ticket.TicketType
@import spbox.model.entity.user.User
@import spbox.model.entity.location.Country
@import spbox.web.view.html.main
@import play.i18n._
@import spbox.model.entity.activity.ActivityCategory
@import spbox.model.entity.activity.ActivityImage
@(message: String)(a: Activity)(indexImage:ActivityImage)(activityImage:List[ActivityImage])(terms: Article)(ticketType: List[TicketType])(organizer:User)(selectableLocation: List[Country])(selectableActivityCategory: List[ActivityCategory])

@main(message) {
    <!-- Main component for a primary marketing message or call to action -->
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-datetimepicker.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/summernote.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/fileinput.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrapValidator.css")">
    <link rel="stylesheet" media="screen" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <script src="@routes.Assets.at("javascripts/bootstrap-datetimepicker.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/summernote.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/bootstrapValidator.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/zh_CN.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/jquery.bootstrap3-money-field.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/canvas-to-blob.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/fileinput.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/summernote-pasteclean.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/load-image.all.min.js")"></script>


    <div class="row text-center create-event-title-container">
        <h3 id="create-event-page-title">@if(a == null){@Messages.get("page.activity.createTitle")}else{@Messages.get("page.activity.update")}</h3>
    </div>

    <div class="panel panel-group create-event-panel col-centered">

        <form autocomplete="off" class="form-horizontal" enctype="multipart/form-data" id="create-form"
        data-bv-message="This value is not valid"
        data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
        data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
        data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">

            @if(a != null && a.status != Activity.ActivityStatusEnum.UNPUBLISH) {
                <div class="alert alert-warning" style="text-align:center" role="alert"><strong>@Messages.get("message.alert")</strong>@Messages.get("message.activity.toBecomeUnpublished")</div>
            }

            @if(terms != null) {
                <div id="termModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                            <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">@terms.title</h4>
                            </div>
                            <div class="modal-body"> @Html(terms.content)</div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">@Messages.get("action.term.consent")</button>
                            </div>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                        $("#termModal").modal('show');
                </script>
            }

            <input type="hidden" name="id" placeholder="自动分配" value="@if(a != null) {@a.bzid}" readonly>
            @*First section*@
            <div>
                <div class="eventHeader">
                    <span>1</span>@Messages.get("page.activity.sectionOneHeader")
                </div>
                <div class="col-sm-10 col-centered" id="section-one-wrapper">
                    <label class="col-sm-12 control-label hidden-xs">@Messages.get("activity.name")*</label>
                    <div class="form-group form-group-sm col-sm-8">
                        <input class="form-control" type="text" name="name" id="name" placeholder="@Messages.get("activity.bv.format.name")" value="@if(a != null) {@a.name}" data-bv-notempty data-bv-notempty-message="@Messages.get("activity.bv.notEmpty.name")" maxlength="18">
                    </div>
                    <div class="form-group form-group-sm col-sm-4">
                        <select class="form-control" name="category" id="category" data-bv-notempty data-bv-notempty-message="@Messages.get("activity.bv.notEmpty.category")">
                            <option value="" disabled selected>---@Messages.get("activity.category.select")---</option>
                            @for(category <- selectableActivityCategory) {
                                <option value="@category.dbid" @if(a != null && a.category.equals(category)){selected}>@category.CnName</option>
                            }
                        </select>
                    </div>

                    <div class="form-group form-group-sm hidden">
                        <label class="col-sm-12 control-label hidden-xs">@Messages.get("activity.venue")</label>
                        <div class="col-sm-12">
                            <input class="form-control" type="text" name="venue_brief" id="venue_ brief" placeholder="@Messages.get("activity.venue")" value="@if(a != null) {@a.GetVenueBrief()}" readonly>
                        </div>
                    </div>

                    <div class="form-group form-group-sm">
                        <label class="col-sm-12 control-label hidden-xs">@Messages.get("activity.venue")</label>
                        <div class="col-sm-12">
                            <input class="form-control" type="text" name="venue_street_address" id="venue_street_address" placeholder="@Messages.get("activity.venue.streetAddress")" value="@if(a != null) {@a.venue.streetAddress}">
                        </div>
                    </div>

                    <div class="form-group form-group-sm row" id="address-input-wrapper">
                        <div class="col-sm-12">
                            <input class="form-control" type="text" name="venue_name" id="venue_name" placeholder="@Messages.get("activity.venue.name")" value="@if(a != null) {@a.venue.name}" data-bv-notempty data-bv-notempty-message="@Messages.get("activity.bv.notEmpty.venue.name")">
                        </div>
                    </div>
                    <div class="form-group form-group-sm row">
                        <div class="col-sm-12">
                            <select class="form-control" name="venue_country" id="venue_country"
                            data-bv-callback="true"
                            data-bv-callback-message="@Messages.get("activity.bv.callback.selectCountry")"
                            data-bv-callback-callback="validateCountry">
                                <option selected disabled>@Messages.get("activity.venue.country")</option>
                                @for(country <- selectableLocation) {
                                    <option value="@country.EnName" @if(a!=null){ @if(a.venue.city.country.equals(country)){selected} }>@country.CnName</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group form-group-sm col-sm-6">
                            <select class="form-control" name="venue_city" id="venue_city"
                            data-bv-callback="true"
                            data-bv-callback-message="@Messages.get("activity.bv.callback.selectCity")"
                            data-bv-callback-callback="validateCity" >
                                <option selected disabled>@Messages.get("activity.venue.city.SelectCountryFirst")</option>
                                @for(country <- selectableLocation) {
                                    @for(c <- country.cities) {
                                        @if(a != null && a.venue.city.country.equals(country)) {
                                            <option value="@c.bzid" @if(a != null){@if(a.venue.city.equals(c)) {selected}}>@c.CnName</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                        <div class="form-group form-group-sm col-sm-6">
                            <input class="form-control" type="text" name="venue_postal_code" id="venue_postal_code" placeholder="@Messages.get("activity.venue.postalCode")" value="@if(a != null) {@a.venue.postalCode}">
                        </div>
                    </div>

                    <script>
                        $("#venue_country").change(function() {
                            var $dropdown = $(this);
                            var key = $dropdown.val();
                            var $secondChoice = $("#venue_city");
                            $secondChoice.empty();

                            @for(country <- selectableLocation){
                              @for(c <- country.cities){
                                 $secondChoice.append("<option value='@c.bzid' > @c.CnName </option>");
                               }
                            }
                            $('#create-form').bootstrapValidator('revalidateField', 'venue_city');
                        });
                        function validateCity(){
                            return $("#venue_city").val() != null && $("#venue_city").val()!="城市";
                        }
                        function validateCountry(){
                            return $("#venue_country").val() != null &&  $("#venue_country").val()!="国家";
                        }
                    </script>

                    <!--new data time-->
                    <div class="row">
                        <div class="form-group form-group-sm no_feedback_icon col-sm-6">
                            <label class="control-label hidden-xs">@Messages.get("activity.startTime")*</label>
                            <div class='input-group date' id='datetimepicker_start'>
                                <input type='text'
                                    class="form-control"
                                    name="start_datetime"
                                    id="start_datetime"
                                    placeholder="@Messages.get("activity.startTime.select")"

                                    data-bv-notempty
                                    data-bv-notempty-message="@Messages.get("activity.bv.notEmpty.startTime")">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>

                            <script type="text/javascript">
                                $(function () {
                                    @if(a == null){
                                        $('#datetimepicker_start').datetimepicker({startDate:new Date(), minuteStep:15}).on('changeDate', function(e) {
                                            var TimeZoned = new Date(e.date.getTime() + (e.date.getTimezoneOffset() * 60000));
                                            $('#datetimepicker_end').datetimepicker({startDate: TimeZoned, minuteStep:15});
                                            $(this).datetimepicker('hide');
                                            // Revalidate the date field
                                            $('#create-form').bootstrapValidator('revalidateField', 'start_datetime');
                                        });
                                    }else{
                                        var startTimeUTC = moment.tz('@a.startTime', 'UTC');
                                        var TimeZonedInitDate = startTimeUTC.clone().tz('@a.venue.city.timeZone').format('YYYY-MM-DD HH:mm');
                                        $('#start_datetime').val(TimeZonedInitDate);
                                        $('#datetimepicker_end').datetimepicker({startDate: TimeZonedInitDate, minuteStep:15});

                                        $('#datetimepicker_start').datetimepicker({startDate:new Date(), minuteStep:15}).on('changeDate', function(e) {
                                            var TimeZoned = new Date(e.date.getTime() + (e.date.getTimezoneOffset() * 60000));
                                            $('#datetimepicker_end').datetimepicker('remove');
                                            $('#datetimepicker_end').datetimepicker({startDate: TimeZoned, minuteStep:15});
                                            $(this).datetimepicker('hide');
                                            // Revalidate the date field
                                            $('#create-form').bootstrapValidator('revalidateField', 'start_datetime');
                                        });
                                    }
                                });
                            </script>
                        </div>
                        <div class="form-group form-group-sm no_feedback_icon col-sm-6">
                            <label class="control-label hidden-xs">@Messages.get("activity.endTime")*</label>
                            <div class='input-group date' id='datetimepicker_end'>
                                <input type='text'
                                    class="form-control"
                                    name="end_datetime"
                                    id="end_datetime"
                                    placeholder="@Messages.get("activity.endTime.select")"
                                    data-bv-notempty
                                    data-bv-notempty-message="@Messages.get("activity.bv.notEmpty.startTime")">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            <script type="text/javascript">
                                $(function () {
                                    @if( a != null){
                                        var endTimeUTC = moment.tz('@a.endTime', 'UTC');
                                        var TimeZonedInitDate = endTimeUTC.clone().tz('@a.venue.city.timeZone').format('YYYY-MM-DD HH:mm');
                                        $('#end_datetime').val(TimeZonedInitDate);
                                    }
                                    $('#datetimepicker_end').on('changeDate', function(e) {
                                    $(this).datetimepicker('hide');
                                    // Revalidate the date field
                                    $('#create-form').bootstrapValidator('revalidateField', 'end_datetime');
                                    });
                                });
                            </script>
                        </div>
                    </div>

                    <div class="form-group form-group-sm no_feedback_icon">
                        <label class="col-sm-12 control-label">@Messages.get("activity.activityCoverImage")</label>
                        <div class="col-sm-12 file_input_block" id="activity_image_upload_block">
                            <input type="file" id="upload-activity-image"
                            accept="image/*" data-bv-file-extension="jpeg,png,jpg"
                            name="activity_image"
                            data-bv-callback="true"
                            data-bv-callback-callback="validateActivityImage">
                        </div>
                    </div>

                    <script type="text/javascript">

                        function validateActivityImage(){

                            var isValid = $("#upload-activity-image").data("hasImg");
                            var message = "@Messages.get("message.activity.selectActivityImage")";
                            if (isValid){
                                isValid = $("#upload-activity-image").data("imageLandscape");
                                if (!isValid){
                                    message = "@Messages.get("message.activity.requireLandscapeActivityImage")";
                                }
                            }

                            return {valid: isValid, message:message};
                        }
                    </script>

                    <div class="form-group">
                        <label class="col-sm-12 control-label hidden-xs">@Messages.get("activity.briefDescription")</label>
                        <div class="col-sm-12">
                            <textarea
                                class="form-control"
                                rows="4"
                                name="brief_description"
                                id="brief_description"
                                placeholder="@Messages.get("activity.briefDescription.placeHolder")"
                                data-bv-notempty data-bv-notempty-message="@Messages.get("activity.bv.notEmpty.briefDescription")"
                                maxlength="100" >@if(a != null) {@a.briefDescription}</textarea>
                        </div>
                    </div>

                    <div class="form-group form-group-sm">
                        <div class="col-xs-12 col-sm-6">
                            <label class="control-label hidden-xs">@Messages.get("activity.organizer.name")*</label>
                            <div class="form-group form-group-sm">
                                <input id="organizer-name"
                                class="form-control"
                                type="text"
                                name="organizer-name"
                                placeholder="@Messages.get("activity.organizer.name")"
                                value="@if(organizer != null) {@organizer.name}"
                                data-bv-notempty>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <label class="control-label hidden-xs">@Messages.get("activity.organizer.mobile")*</label>
                            <div class="form-group form-group-sm">
                                <input id="organizer-phone"
                                class="form-control"
                                type="text"
                                name="organizer-phone"
                                placeholder="@Messages.get("activity.organizer.mobile")"
                                value="@if(organizer != null) {@organizer.mobile}"
                                data-bv-notempty>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12">
                            <label class="control-label hidden-xs">@Messages.get("activity.organizer.email")*</label>
                            <div class="form-group form-group-sm">
                                <input id="organizer"
                                class="form-control"
                                type="text"
                                name="organizer"
                                placeholder="@Messages.get("activity.organizer.email")"
                                value="@if(a != null) {@a.organizer}else{@organizer.email}"
                                readonly>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*Second Section*@
            <div class="form-group form-group-sm">
                <div class="eventHeader">
                    <span>2</span>@Messages.get("page.activity.sectionTwoHeader")
                </div>
                <div class="col-sm-10 col-centered" id="section-two-wrapper">
                    <div>
                        @* // Pure text form input with auto adjusting div container
                        <div class="form-group">
                            <label class="col-sm-12 control-label hidden-xs">@Messages.get("activity.description")</label>
                            <div class="col-sm-12">
                                <textarea class="form-control"
                                id="description"
                                rows="2"
                                name="description"
                                placeholder="@Messages.get("activity.description")">@if(a != null) {@a.description}</textarea>
                            </div>
                        </div>


                        <script>
                            var txt = $('#description'),
                                hiddenDiv = $(document.createElement('div')),
                                content = null;

                            txt.addClass('txtstuff');
                            hiddenDiv.addClass('hiddendiv common');

                            $('body').append(hiddenDiv);

                            txt.on('keyup', function () {

                                content = $(this).val();

                                content = content.replace(/\n/g, '<br>');
                                hiddenDiv.html(content + '<br class="lbr">');

                                $(this).css('height', hiddenDiv.height());

                            });
                        </script>
                        *@

                        @if(organizer.role.equals(User.UserRoleEnum.ADMIN) || User.GetCurrentUserRole().equals(User.UserRoleEnum.ADMIN.name())){
                            <div class="form-group">
                                <label class="col-sm-12 control-label hidden-xs">@Messages.get("activity.description")</label>
                                <div class="col-sm-12">
                                    <div id="summernote"></div>
                                    <textarea class="form-control"
                                    id="summernote_text"
                                    rows="8"
                                    name="description"
                                    id="description"
                                    placeholder="@Messages.get("activity.description")">@if(a != null) {@a.description}</textarea>
                                </div>
                                <script>
                                $('#summernote').summernote({
                                    height: 500,
                                     toolbar: [
                                    ['style', ['style']],
                                    ['font', ['bold', 'italic', 'underline', 'clear']],
                                    ['fontname', ['fontname']],
                                    ['color', ['color']],
                                    ['para', ['ul', 'ol', 'paragraph']],
                                    ['height', ['height']],
                                    ['table', ['table']],
                                    ['insert', ['link', 'picture', 'hr']],
                                    ['view', ['fullscreen', 'codeview']],
                                    ['help', ['help']],
                                    ['clean', ['pasteClean']]
                                    ],
                                    disableDragAndDrop: true
                                });
                                $('#summernote').on('summernote.change', function(customEvent, contents, $editable) {
                                    $("#summernote_text").val($("#summernote").code());
                                });
                                    $("#summernote").code($("#summernote_text").val());

                                </script>

                            </div>

                        }else{

                            <div class="form-group">
                                <label class="col-sm-12 control-label hidden-xs">@Messages.get("activity.description")</label>
                                <div class="col-sm-12">
                                    <div id="summernote"></div>
                                    <textarea class="form-control"
                                        id="summernote_text"
                                        rows="8"
                                        name="description"
                                        id="description"
                                        placeholder="@Messages.get("activity.description")" >@if(a != null) {@a.description}</textarea>
                                </div>
                                <script>
                                $('#summernote').summernote({
                                    height: 300,
                                    toolbar: [
                                            ['font', ['bold', 'italic', 'underline', 'clear']],
                                            ['para', ['ul', 'ol']],
                                            ['view', ['fullscreen' ]],
                                            ['help', ['help']],
                                            ['clean', ['pasteClean']]
                                            ],
                                });
                                $('#summernote').on('summernote.change', function(customEvent, contents, $editable) {
                                    $("#summernote_text").val($("#summernote").code());
                                });
                                $("#summernote").code($("#summernote_text").val());
                                </script>
                            </div>
                        }

                        <div class="form-group form-group-sm no_feedback_icon">
                            <label class="col-sm-12 control-label">@Messages.get("activity.activityImage")</label>

                            <div class="col-sm-12 file_input_block">
                                <input type="file" id="upload-description-image" name="descriptionImage[]" accept="image/*" multiple>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-12 user-info-required-text">
                        <span>@Messages.get("message.activity.isUserInfoRequired")</span>
                    </div>

                    <div class="row" id="compulsory-option-toggle">
                        <div class="form-group form-group-sm col-xs-12">
                            <input class="form-control" name="bname" id="bname" type="checkbox" value="true" @if(a != null && a.property.bname){checked}/>
                            <label class="control-label" id="compulsory-label" for="bname">@Messages.get("user.name")</label>
                        </div>

                        <div class="form-group form-group-sm col-xs-12">
                            <input class="form-control" name="btel" id="btel" type="checkbox" value="true" @if(a != null && a.property.btel){checked}/>
                            <label class="control-label" id= "compulsory-label" for="btel">@Messages.get("user.mobile")</label>
                        </div>

                        <div class="form-group form-group-sm col-xs-12">
                            <input class="form-control" name="bgender" id="bgender" type="checkbox" value="true" @if(a != null && a.property.bgender){checked}/>
                            <label class="control-label" id= "compulsory-label" for="bgender">@Messages.get("user.gender")</label>
                        </div>

                        <div class="form-group form-group-sm col-xs-12">
                            <input class="form-control" name="bage" id="bage" type="checkbox" value="true" @if(a != null && a.property.bage){checked}/>
                            <label class="control-label" id= "compulsory-label" for="bage">@Messages.get("user.age")</label>
                        </div>

                        <div class="form-group form-group-sm col-xs-12">
                            <input class="form-control" name="baddress" id="baddress" type="checkbox" value="true" @if(a != null && a.property.baddress){checked}/>
                            <label class="control-label" id= "compulsory-label" for="baddress">@Messages.get("user.address")</label>
                        </div>
                    </div>
                </div>
            </div>

            @*Third Section*@
            <div>
                <div class="eventHeader">
                    <span>3</span>@Messages.get("page.activity.sectionThreeHeader")
                </div>
                <div class="col-sm-12 col-centered" id="section-three-wrapper">
                    <div id="createTicketType" class="col-xs-12 @if(a != null){hidden}" data-toggle="buttons">
                        <div class="form-group">
                            <label class="col-xs-6 btn">
                                <input type="radio" name="ticketOptions" id="free" value="free" data-bv-choice="true" data-bv-choice-min="1">
                                <h class="col-xs-12">@Messages.get("activity.ticket.free")</h>
                            </label>
                            <label class="col-xs-6 btn">
                                <input type="radio" name="ticketOptions" id="paid" value="paid" data-bv-choice="true" data-bv-choice-min="1">
                                <h class="col-xs-12">@Messages.get("activity.ticket.paid")</h>
                            </label>
                        </div>
                    </div>

                    <script type="text/javascript">

                        $("input[type=radio]").on('change',function(){
                            if (this.value == "free"){
                                showFreeTicket();
                            } else if (this.value == "paid"){
                                showPaidTicket();
                            }
                            $("#createTicketType").addClass("hidden");
                        });

                        function showFreeTicket() {
                            if(tickets.length <=0){
                                addTicket("new",true);
                            }
                            $("#addFreeButton").removeClass('hidden');
                            $("#addPaidButton").addClass('hidden');
                        }

                        function showPaidTicket() {
                            if(tickets.length <=0){
                                addTicket("new",false);
                            }
                            $("#addFreeButton").addClass('hidden');
                            $("#addPaidButton").removeClass('hidden');
                        }
                    </script>

                    <div class="ticketTemplate hidden">
                        <div class="ticket">
                            <div class="row">
                                @*<label class="col-md-2 col-sm-3 control-label hidden-xs ticket_label">@Messages.get("ticket")</label>*@
                                <div class="col-sm-8 col-xs-12 form-group">
                                    <input type="text" class="form-control ticket_type" name="ticket_type" placeholder="@Messages.get("ticketType.name.placeHolder")" data-bv-notempty>
                                </div>
                                <div class="col-sm-4 col-xs-12 form-group">
                                    <input type="text" class="form-control ticket_count" name="ticket_count"
                                    data-bv-callback="true"
                                    data-bv-callback-callback="validateTicketCount">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-5 col-xs-12 form-group no_feedback_icon include_tax_div">
                                    <select class="include_tax form-control">
                                        <option value="false">@Messages.get("ticketType.taxNotIncluded")</option>
                                        <option value="true">@Messages.get("ticketType.taxIncluded")</option>
                                    </select>
                                </div>
                                @*<div class="col-sm-4 col-xs-12 form-group">*@
                                    @*<input type="text" class="form-control ticket_sold" readonly>*@
                                @*</div>*@
                                <div class="col-sm-5 col-xs-12 form-group ticket_price_div">
                                    <input  class="form-control ticket_price" name="ticket_price"
                                    data-bv-notempty pattern="^[0-9]*$" data-bv-regexp-message="请输入仅包含数字的正确价格">
                                </div>
                                <div id="delete_button_container" class="col-xs-12 col-sm-2 text-center form-group">
                                    <button type="button" class="btn delete_button"><span class="glyphicon glyphicon-trash" style="color:#d43f3a">  @Messages.get("action.ticket.delete")</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script>
                        function validateTicketCount(value, validator, $field)
                        {
                            var re = new RegExp(/^[0-9]+$/);
                            if(!re.test(value)){
                                return {valid:false, message:"@Messages.get("ticketType.bv.valid.quantity")"};
                            }

                            var count = parseInt(value);

                            var sold = $field[0].$sold.val()
                            sold = parseInt(sold);

                            var require = sold? sold : 1;

                            if(count < require){
                                return {valid:false, message:"@Messages.get("message.ticketType.quantity.total")".format(require)};
                            }
                            return true;
                        }
                    </script>
                    <div class="row no_ticket_error">
                        <div class="has-error col-sm-offset-2 col-md-offset-2 col-sm-8 text-center">
                            <small class="help-block">@Messages.get("message.ticketType.atLeastOne")</small>
                        </div>
                    </div>
                    <div id="ticket_container">
                    </div>

                    <script>
                         $(".no_ticket_error").hide()
                    </script>

                    <div id="addTicketButtons">
                        <div id="addPaidButton" class="col-sm-3 col-xs-6 col-centered hidden">
                            <button type="button" class="btn" onclick="addTicket('new',false)"><span class="glyphicon glyphicon-plus-sign"></span> @Messages.get("action.ticketType.add")</button>
                        </div>
                        <div id="addFreeButton" class="col-sm-3 col-xs-6 col-centered hidden">
                            <button type="button" class="btn" onclick=" addTicket('new',true)" ><span class="glyphicon glyphicon-plus-sign"></span> @Messages.get("action.ticketType.free.add")</button>
                        </div>
                    </div>
                    <script type="text/javascript">

                        var tickets = [];

                        function addTicket(type, isFree, id, ticketType, price, taxIncluded, count, sold){

                            var nd = $(".ticketTemplate").children().clone();
                            var createForm = $('#create-form');

                            nd.type = type;
                            nd.id = id;

                            var $ticketType = nd.find(".ticket_type");
                            var $ticketPrice = nd.find(".ticket_price");
                            var $includeTax = nd.find(".include_tax");
                            var $ticketCount = nd.find(".ticket_count");
                            var $ticketSold = nd.find(".ticket_sold");

                            $ticketType.val(ticketType).money_field({symbol:"@Messages.get("ticketType.name")*"});
                            $ticketPrice.val(price).money_field({symbol:"@Messages.get("ticketType.price")*", padding: "0 26px"});
                            $includeTax.val(taxIncluded).money_field({symbol:"@Messages.get("ticketType.isTaxIncluded")*"});
                            $ticketCount.val(count).money_field({symbol:"@Messages.get("ticketType.quantity.total")*", padding: "0 19px"});
                            $ticketSold.val(sold).money_field({symbol:"@Messages.get("ticketType.quantity.booked")*", padding: "0 26px"});

                            $ticketCount[0].$sold = $ticketSold;

                            createForm.bootstrapValidator('addField', $ticketType);
                            createForm.bootstrapValidator('addField', $ticketPrice);
                            createForm.bootstrapValidator('addField', $ticketCount);

                            var deleteBtn = nd.find(".delete_button");
                            deleteBtn.click(function(){
                                if(nd.type=="new"){
                                    nd.remove();

                                    var i = tickets.indexOf(nd);
                                    tickets.splice(i,1);
                                }else{
                                    nd.type="delete";
                                    nd.hide();
                                }

                                Array.prototype.allSameValue = function(){
                                    for(var i = 1; i < this.length; i++)
                                        {
                                            if(this[i].type !== this[0].type)
                                                return false;
                                        }
                                    return true;
                                };

                                // Different methods for resetting ticket type for create new event or edit event
                                @if(a != null){
                                    if(tickets.allSameValue())
                                } else {
                                    if(tickets.length <=0)
                                }
                                {
                                    $("#createTicketType").removeClass("hidden");
                                    $("#paid").parent().removeClass("active");
                                    $("#free").parent().removeClass("active");
                                    $("#addPaidButton").addClass('hidden');
                                    $("#addFreeButton").addClass('hidden');
                                }
                            });

                            if(type == "new"){
                                nd.find(".ticket_label").html("@Messages.get("action.ticketType.add")");
                            }else if(type == "update"){
                                nd.find(".ticket_price").prop('disabled', true);
                                nd.find(".include_tax").prop('disabled', true);
                            }

                            if(isFree){

                                $ticketPrice.attr("disabled", true).val(0);
                                nd.find(".ticket_price_div").addClass("hidden");
                                nd.find(".include_tax_div").addClass("hidden");
                                nd.find("#delete_button_container").addClass("delete_button_offset");
                            }

                            $("#ticket_container").append(nd);
                            tickets.push(nd);

                        }

                        @if(a != null) {
                            @for(tt <- ticketType) {
                                addTicket("update", @if(tt.price == 0) {true} else {false}, "@tt.bzid", "@tt.name","@tt.price", "@tt.taxIncluded","@tt.totalQuantity","@tt.bookedQuantity");
                                @if(tt.price == 0){
                                    $("#addFreeButton").removeClass('hidden');
                                } else {
                                    $("#addPaidButton").removeClass('hidden');
                                }
                            }
                        }

                        $(".fakeInput").each(function(){
                            var e = $(this);
                            var input = e.find("input");
                            input.focusin(function(){
                                e.addClass("focus");
                            });
                            input.focusout(function(){
                                e.removeClass("focus");
                            });
                        })
                    </script>
                </div>
            </div>

            @*Submit and Admin Section*@
            <div class="submit-section-wrapper">
                <div class="col-xs-12 col-sm-10 col-centered">
                    @if(User.GetCurrentUserRole.equals(User.UserRoleEnum.ADMIN.name()) || (organizer != null && organizer.role.equals(User.UserRoleEnum.ADMIN))) {
                        <label class="col-xs-12 control-label" id="activity-status-title" for="status">@Messages.get("activity.status")</label>
                        <div class="btn-group row" id="admin-publish-buttons" data-toggle="buttons">
                            <label class="btn col-xs-3 @if(a == null || a.status== Activity.ActivityStatusEnum.UNPUBLISH){ active}">
                                <input type="radio" name="status" value="@Activity.ActivityStatusEnum.UNPUBLISH" @if(a == null || a.status==Activity.ActivityStatusEnum.UNPUBLISH){checked}  data-fv-notempty/> @Activity.ActivityStatusEnum.UNPUBLISH.getMsg()
                            </label>
                            <label class="btn col-xs-3 @if(a != null) { @if(a.status==Activity.ActivityStatusEnum.REQUEST_PUBLISH){ active}}">
                                <input type="radio" name="status" value="@Activity.ActivityStatusEnum.REQUEST_PUBLISH" @if(a != null) {  @if(a.status==Activity.ActivityStatusEnum.REQUEST_PUBLISH){checked}}  data-fv-notempty/> @Activity.ActivityStatusEnum.REQUEST_PUBLISH.getMsg()
                            </label>
                            <label class="btn col-xs-3 @if(a != null) { @if(a.status==Activity.ActivityStatusEnum.PUBLISH){ active}}">
                                <input type="radio" name="status" value="@Activity.ActivityStatusEnum.PUBLISH" @if(a != null) {  @if(a.status== Activity.ActivityStatusEnum.PUBLISH){checked}}  data-fv-notempty/> @Activity.ActivityStatusEnum.PUBLISH.getMsg()
                            </label>
                            <label class="btn col-xs-3 @if(a != null) { @if(a.status==Activity.ActivityStatusEnum.EXPIRED){ active}}">
                                <input type="radio" name="status" value="@Activity.ActivityStatusEnum.EXPIRED" @if(a != null) {  @if(a.status==Activity.ActivityStatusEnum.EXPIRED){checked}}  data-fv-notempty/> @Activity.ActivityStatusEnum.EXPIRED.getMsg()
                            </label>
                        </div>
                    }
                </div>
                <div class="form-group form-group-sm ButtonWrapper">
                    <div class="@if(a == null){col-xs-6 col-sm-2 col-centered}else{col-xs-4 col-sm-2 col-md-2 col-sm-offset-3 col-md-offset-3 col-xs-offset-2}">
                        <button type="submit" class="btn submitBtn">
                            <span class="glyphicon glyphicon-ok-sign"></span> @if(a == null){ @Messages.get("page.activity.submit")}else{@Messages.get("page.activity.update")}
                        </button>
                    </div>
                    @if(a != null) {
                        <div class="col-sm-2 col-md-2 col-xs-4 col-sm-offset-2 col-md-offset-2">
                            <button type="button" class="btn red_btn delete-event-btn" onclick="deleteEvent(this, '@a.bzid')"><span class="glyphicon glyphicon-trash"></span> @Messages.get("action.activity.delete")</button>
                        </div>
                    }
                </div>
            </div>
        </form>
    </div>

        <!--div class="form-group form-group-sm">
            <div class="col-sm-offset-2 col-sm-10">
                <input class="btn btn-success" onclick="location.href = '/activity_manager'" value="返回活动管理页面"></input>
            </div>
        </div-->

    <script>
        function loadingBtn(e){
            var w = e.width();
            e.html('<i class="fa fa-spinner fa-spin"></i>');
            e.width(w);
        }

        function deleteEvent(button, bzid){
            window.onbeforeunload = null;
            swal({
                title: "您确定要删除此活动吗？此动作无法再复原！",
                type: "warning",
                showCancelButton: true,
                closeOnConfirm: true,
                confirmButtonText: "@Messages.get("page.activity.confirm")"
            }, function() {
                $.rest("GET", "/api/v1/deleteActivityCheck/"+bzid,'',
                    function(){
                        loadingBtn($(button));
                        location.href = "/api/v1/deleteActivity/"+bzid;
                    },
                    function(error){
                        console.log(error.status);
                        @if(User.GetCurrentUserRole.equals(User.UserRoleEnum.ADMIN.name())){
                            swal({
                                title: "@Messages.get("info.error.activity.delete.forbidden.adminOverride")",
                                type: "warning",
                                showCancelButton: true,
                                closeOnConfirm: true,
                                confirmButtonText: "@Messages.get("page.activity.confirm")"
                            }, function() {
                                loadingBtn($(button));
                                location.href = "/api/v1/deleteActivity/"+bzid;
                            });
                        } else {
                            if (error.status == 403){
                                swal("@Messages.get("info.error.activity.delete.forbidden")", "Error 403 Forbidden", "error");
                            }
                        }
                    }
                );
            });
        }

        $(document).ready(function(){
            $('.activity-image[src=""]').hide();
            $('.activity-image:not([src=""])').show();
            $('.description-image[src=""]').hide();
            $('.description-image:not([src=""])').show();

            $("#summernote_text").hide();

            setupImgUpload($("#upload-activity-image")@if(a!=null && indexImage!=null){ ,"@indexImage.getContentString()"});
            var descriptionImages = [];
            @if(a!=null && activityImage!=null && !activityImage.isEmpty()) {
                @for(i <- 0 to activityImage.size()-1){
                    descriptionImages.push({ Id: @activityImage.get(i).dbid , Url: '@activityImage.get(i).getContentString()' });
                }
            }
            setupMultipleImgUpload($("#upload-description-image") @if(a!=null && activityImage!=null && !activityImage.isEmpty()){ ,descriptionImages});

        });

        function setupImgUpload(inputNode, imgPreviewURL){
            var options = {
                showUpload: false,
                showRemove: false,
            };


            if(imgPreviewURL){
                options.initialPreview = ["<img src='{0}' class='file-preview-image'>".format(imgPreviewURL)];
            }
            inputNode.fileinput(options);

            if(imgPreviewURL){
                inputNode.data("hasImg",true);
                inputNode.data("imageLandscape", true);
            }

            function revalidate(){
                $("#create-form").bootstrapValidator('revalidateField',"activity_image");
            }

            registerFileLoadHandler(inputNode, revalidate);

            inputNode.on("fileclear", function(){
                inputNode.data("hasImg",false);
                revalidate();
            });
        }


        function setupMultipleImgUpload(inputNode, imgPreviewURL){
            var options = {
                showUpload: false,
                showRemove: false,
                initialPreviewShowDelete: true,
                overwriteInitial: false
            };

            if(imgPreviewURL){
                options.initialPreviewConfig = [];
                options.initialPreview = [];
                for(var i = 0; i < imgPreviewURL.length; i++){
                    options.initialPreview.push("<img src='{0}' class='file-preview-image'>".format(imgPreviewURL[i].Url));
                    options.initialPreviewConfig.push({url: '/api/v1/activity-image/' + imgPreviewURL[i].Id , key: imgPreviewURL[i].Id});
                }
            }

            inputNode.on('filedeleted', function(event, key) {
                console.log('Key = ' + key);

            });

            inputNode.fileinput(options);

            if(imgPreviewURL){
                inputNode.data("hasImg",true);
                inputNode.data("imageLandscape", true);
            }

            function revalidate(){
                $("#create-form").bootstrapValidator('revalidateField',"activity_image");
            }

            registerFileLoadHandler(inputNode, revalidate);

            inputNode.on("fileclear", function(){
                inputNode.data("hasImg",false);
                revalidate();
            });


        }
        var registerFileLoadHandler = function(inputNode, revalidate){
            inputNode.on("fileloaded", function(event, file, previewId, index, reader){
                var _options = {maxWidth: 1024, canvas: true}; //TODO: To configure max max image width
                $('#' + previewId).empty();
                loadImage.parseMetaData(file, function (data) {
                    if (data.exif) {
                        _options.orientation = data.exif.get('Orientation');
                    }
                    loadImage(
                        file,
                        function (img) {
                            inputNode.data("imageLandscape", img.width >= img.height ? true: false);
                            inputNode.data("hasImg",true);
                            revalidate();
                            if (img.toBlob){
                                img.toBlob(function (blob) {
                                    var objUrl = window.URL || window.webkitURL;
                                    var blobUrl = objUrl.createObjectURL(blob);
                                    var imageBlobs = inputNode.data("images");
                                    if (!imageBlobs){
                                        imageBlobs = [];
                                    }
                                    imageBlobs.push(blob);
                                    inputNode.data("images", imageBlobs);
                                    $('<img/>', {src: blobUrl, class: 'file-preview-image'}).appendTo($('#' + previewId));
                                },
                                 'image/jpeg');
                            }
                        },
                        _options
                    )
                });
            });
            inputNode.on("change", function(){
                inputNode.data("images", []);
            });
            inputNode.on("filereset", function(){
                inputNode.data("images", []);
            });
            inputNode.on("fileclear", function(){
                inputNode.data("images", []);
            });
        };

        function preValidate(){

            var count = 0;
            tickets.forEach(function(e){
                if(e.type == "new" || e.type == "update"){
                    count++;
                }
            });

            if(count > 0){
                $(".no_ticket_error").hide();
            }else{
                $(".no_ticket_error").show();
            }

        }

        var createForm = $("#create-form");

        createForm.submit(function(e){

            e.preventDefault();
            preValidate();

        });

        createForm.bootstrapValidator().on("error.form.bv",function(e,data){
            console.log(e,data);
        }).on('success.form.bv', function(e, data) {


            loadingBtn($(".submitBtn"));

            document.getElementById("upload-description-image").disabled = true;
            document.getElementById("upload-activity-image").disabled = true;

            var FD = new FormData($('#create-form')[0]);

            if(document.getElementById("upload-description-image").files.length > 0){
                FD.append("description_image_count", document.getElementById("upload-description-image").files.length);
            }

            if(document.getElementById("upload-activity-image").files.length > 0){
                FD.append("activity_image_count", document.getElementById("upload-activity-image").files.length);
            }

            // retrieve ticket values

            var ticket_new = [];
            var ticket_update = [];
            var ticket_delete = [];


            tickets.forEach(function(e){

                if(e.type == "new"){
                    ticket_new.push(e);
                }else if (e.type=="update"){
                    ticket_update.push(e);
                }else if(e.type=="delete"){
                    ticket_delete.push(e);
                }
            });

            FD.append("new_count", ticket_new.length);
            FD.append("update_count", ticket_update.length);
            FD.append("delete_count", ticket_delete.length);

            function addTicketData(arr, prefix){
                for(var i = 0; i < arr.length;i++){
                    var e = arr[i];
                    var id = e.id;
                    var type = $(e).find(".ticket_type").val();
                    var count = $(e).find(".ticket_count").val();
                    var price = $(e).find(".ticket_price").val();
                    var includeTax = $(e).find(".include_tax").val();

                    FD.append("{0}_{1}_id".format(prefix,i), id);
                    FD.append("{0}_{1}_type_name".format(prefix,i), type);
                    FD.append("{0}_{1}_price".format(prefix,i), price);
                    FD.append("{0}_{1}_quantity".format(prefix,i), count);
                    FD.append("{0}_{1}_include_tax".format(prefix,i), includeTax);
                }
            }

            addTicketData(ticket_new,"new");
            addTicketData(ticket_update,"update");
            addTicketData(ticket_delete,"delete");

            window.onbeforeunload = null;

            var XHR = new XMLHttpRequest();
            XHR.onreadystatechange=function(){
                if (XHR.readyState==4 && XHR.status==200){
                    var response = JSON.parse(XHR.responseText);
                    if(response.bzid && response.bzid != ""){

                        if(document.getElementById("upload-activity-image").files.length > 0){
                            sendIndexImageToServer(response.bzid);
                        }else if (document.getElementById("upload-description-image").files.length > 0){
                            sendImageToServer(response.bzid);
                        }
                    } else{
                        if(response.redirect != null && response.redirect != ""){
                            location.assign(response.redirect);
                        } else{
                             location.assign("/activity_manager");
                        }
                    }
                } else if (XHR.readyState==4) { // // Error handlers
                    if (XHR.status = 403){ //forbidden
                        if (XHR.responseText == "info.error.ticketType.delete.forbidden"){
                            swal({
                                title:'无法删除活动票，已有用户购买',
                                text: 'Error 403 Forbidden',
                                type: "error"
                            },function(){
                                location.reload(true);
                            });
                        } else if (XHR.responseText == "info.error.ticketType.update.forbidden"){
                            swal({
                                title:'已有人购买票，活动票无法更动',
                                text: 'Error 403 Forbidden',
                                type: "error"
                            },function(){
                                location.reload(true);
                            });
                        } else {
                            swal({
                                title:'无法上传/更改活动，请重新上传一次，如有同样问题出现，请联系我们',
                                type: "Error 403 Forbidden"
                            },function(){
                                location.reload(true);
                            });
                        }
                    } else if (XHR.status = 400) { // badRequest
                        if (XHR.responseText == "info.error.ticketType.notFound"){
                            swal({
                                title:'票务类型不存在',
                                text: 'Error 400 Bad Request',
                                type: "error"
                            },function(){
                                location.reload(true);
                            });
                        } else if (XHR.responseText == "info.error.ticketType.id.empty"){
                            swal({
                                title:'票务类型ID为空',
                                text: 'Error 400 Bad Request',
                                type: "error"
                            },function(){
                                location.reload(true);
                            });
                        } else if (XHR.responseText == "info.error.ticketType.delete"){
                            swal({
                                title:'删除票务类型出错',
                                text: 'Error 400 Bad Request',
                                type: "error"
                            },function(){
                                location.reload(true);
                            });
                        } else if (XHR.responseText == "info.error.activity.id.empty"){
                            swal({
                                title:'活动ID为空',
                                text: 'Error 400 Bad Request',
                                type: "error"
                            },function(){
                                location.reload(true);
                            });
                        } else { // uncaught error
                            swal({
                                title:'无法上传/更改活动，请重新上传一次，如有同样问题出现，请联系我们',
                                type: "error"
                            },function(){
                                location.reload(true);
                            });
                        }
                    } else { // uncaught error
                        swal({
                            title:'无法上传/更改活动，请重新上传一次，如有同样问题出现，请联系我们',
                            type: "error"
                        },function(){
                            location.reload(true);
                        });
                    }
                }
            };

            XHR.open("POST", "/createActivity",true);
            XHR.timeout = 60*1000; // Set timeout to 1 minute
            XHR.ontimeout = function(){ // timeout error action
                                swal({
                                    title:"@Messages.get("page.createActivity.timeout")",
                                    type: "error"
                                });
                                location.reload(true);
                            };
            XHR.send(FD);
        });

        function sendIndexImageToServer(bzid){
            var uploadFiles = document.getElementById("upload-activity-image");

            var XHR = new XMLHttpRequest();

            XHR.onreadystatechange=function(){
                if (XHR.readyState==4 && XHR.status==200){
                    if(document.getElementById("upload-description-image").files.length > 0){
                        sendImageToServer(bzid);
                    }else{
                        var response = JSON.parse(XHR.responseText);
                        if(response.redirect != null && response.redirect != ""){
                            location.assign(response.redirect);
                        } else{
                            location.assign("/activity_manager");
                        }

                    }
                }else if (XHR.readyState==4 && XHR.status!=200){

                    alert("image not acceptable");
                }
            };


           var images = $("#upload-activity-image").data("images");
            if (images){
                sendImage(XHR, "activity_image", images[0], bzid);
            }else{
                sendImage(XHR, "activity_image", uploadFiles.files[0], bzid);
            }

        }

        function sendImageToServer(bzid){
            var uploadFiles = document.getElementById("upload-description-image");

            var XHR = new XMLHttpRequest();

            var index = 0;

            var images = $("#upload-description-image").data("images");

            XHR.onreadystatechange=function(){
                if (XHR.readyState==4 && XHR.status==200){

                    index += 1;
                    if(index < uploadFiles.files.length){
                        sendImage(XHR, "description_image", images[index], bzid);
                    }else{
                        var response = JSON.parse(XHR.responseText);
                        if(response.redirect != null && response.redirect != ""){
                            location.assign(response.redirect);
                        } else{
                            location.assign("/activity_manager");
                        }

                    }
                }else if (XHR.readyState==4 && XHR.status!=200){
                    alert("image not acceptable");
                    location.assign("/activity_manager");
                }
            };

            sendImage(XHR, "description_image", images[index], bzid);

        }

        function sendImage(XHR, imageName, image, bzid){
            var FD = new FormData();

            FD.append(imageName, image);

            XHR.open("POST", "/uploadImage/"+bzid,true);
            XHR.send(FD);

        }



        window.onbeforeunload = function (){
            return "@Messages.get("page.activity.loseDataUponReload")";
        };

    </script>
}