@import spbox.web.view.html.main
@import play.i18n._
@import spbox.model.entity.activity.ActivityCategory
@(message: String)(ac: ActivityCategory)

@main(message) {
	<script async src="@routes.Assets.at("javascripts/bootstrapValidator.js")" type="text/javascript"></script>
	<script async src="@routes.Assets.at("javascripts/zh_CN.js")" type="text/javascript"></script>

	<form autocomplete="off" class="form-horizontal" id="edit-activityCategory-form" onsubmit="return false;"
	data-bv-message="This value is not valid"
	data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
	data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
	data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
		
		<div class="form-group form-group-sm">
			    <label class="ol-md-5 col-md-offset-2 control-label" id="user-info"></label>
		</div>

		<div class="form-group form-group-sm">
			<label class="col-sm-2 control-label">ID:</label>
			<div class="col-sm-10">
				<input class="form-control" type="text" name="id" id="id"
				placeholder="自动分配" value="@if(ac!=null){@ac.dbid}" readonly>
			</div>
		</div>

		<div class="form-group form-group-sm">
			<label class="col-sm-2 control-label">@Messages.get("activityCategory.CnName"):</label>
			<div class="col-sm-10">
				<input class="form-control" type="text" name="activityCategory_cn" id="activityCategory_cn"
				placeholder="" value="@if(ac!=null){@ac.CnName}" data-bv-notempty>
			</div>
		</div>

		<div class="form-group form-group-sm">
			<label class="col-sm-2 control-label">@Messages.get("activityCategory.EnName"):</label>
			<div class="col-sm-10">
				<input class="form-control" type="text" name="activityCategory_en" id="activityCategory_en"
				placeholder="" value="@if(ac!=null){@ac.EnName}" data-bv-notempty>
			</div>
		</div>

		<div class="form-group form-group-sm">
			<label class="col-sm-2 control-label">@Messages.get("activityCategory.idx"):</label>
			<div class="col-sm-10">
				<input class="form-control" type="text" name="activityCategory_en" id="activityCategory_idx"
				placeholder="" value="@if(ac!=null){@ac.idx}" data-bv-notempty>
			</div>
		</div>

		<div class="col-md-2 col-md-offset-5">
			<button id="activityCategory-confirm-button" class="btn btn-success">@Messages.get("action.activityCategory.submit")</button>
		</div>
		
	</form>
    		
	@if(ac!=null){
		<button class="btn btn-danger" onclick="location.href = '/api/v1/deleteActivityCategory/@ac.dbid'">@Messages.get("action.activityCategory.delete")</button>
	}
		
	<script language="JavaScript">

		$("#activityCategory-confirm-button").click(function(){

			$('#edit-activityCategory-form').bootstrapValidator().off('success.form.bv').on('success.form.bv', function(e, data) {

			    e.preventDefault();
				var theID = $("#id").val();
				var acCN = $("#activityCategory_cn").val();
				var acEN = $("#activityCategory_en").val();
				var idx = $("#activityCategory_idx").val();

				var data = {"id": theID, "activityCategoryCN": acCN, "activityCategoryEN": acEN, "activityCategoryIdx":idx};

				$.rest("POST", "/api/v1/editActivityCategory", data, function(data){
						window.location.href = "/activity_category_manager";
					},
					function(data){
						if(data.status == 403){
							alert("@Messages.get("message.activityCategory.duplicate")");
						}
						else{
							alert("@Messages.get("message.activityCategory.createFailed")");
						}
					});
			  });
	 	});

	</script>

}
