@import spbox.web.view.html.main
@import play.i18n._
@import spbox.model.entity.PaymentMethod
@(message: String)(pm: PaymentMethod)

@main(message) {
	<script async src="@routes.Assets.at("javascripts/bootstrapValidator.js")" type="text/javascript"></script>
	<script async src="@routes.Assets.at("javascripts/zh_CN.js")" type="text/javascript"></script>

	<form autocomplete="off" class="form-horizontal" id="edit-paymentMethod-form" onsubmit="return false;"
	data-bv-message="This value is not valid"
	data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
	data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
	data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
		
		<div class="form-group form-group-sm">
			    <label class="ol-md-5 col-md-offset-2 control-label" id="user-info"></label>
		</div>

		<div class="form-group form-group-sm">
			<label class="col-sm-2 control-label">ID:</label>
			<div class="col-sm-10">
				<input class="form-control" type="text" name="id" id="id"
				placeholder="自动分配" value="@if(pm!=null){@pm.dbid}" readonly>
			</div>
		</div>

		<div class="form-group form-group-sm">
			<label class="col-sm-2 control-label">@Messages.get("paymentMethod.CnName"):</label>
			<div class="col-sm-10">
				<input class="form-control" type="text" name="paymentMethod_cn" id="paymentMethod_cn"
				placeholder="" value="@if(pm!=null){@pm.CnName}" data-bv-notempty>
			</div>
		</div>

		<div class="form-group form-group-sm">
			<label class="col-sm-2 control-label">@Messages.get("paymentMethod.EnName"):</label>
			<div class="col-sm-10">
				<input class="form-control" type="text" name="paymentMethod_en" id="paymentMethod_en"
				placeholder="" value="@if(pm!=null){@pm.EnName}" data-bv-notempty>
			</div>
		</div>

		<div class="col-md-2 col-md-offset-5">
			<button id="paymentMethod-confirm-button" class="btn btn-success">@Messages.get("action.paymentMethod.submit")</button>
		</div>
		
	</form>
    		
	@if(pm!=null){
		<button class="btn btn-danger" onclick="location.href = '/api/v1/deletePaymentMethod/@pm.dbid'">@Messages.get("action.paymentMethod.delete")</button>
	}
		
	<script language="JavaScript">

		$("#paymentMethod-confirm-button").click(function(){

			$('#edit-paymentMethod-form').bootstrapValidator().off('success.form.bv').on('success.form.bv', function(e, data) {

			    e.preventDefault();
				var theID = $("#id").val();
				var pmCN = $("#paymentMethod_cn").val();
				var pmEN = $("#paymentMethod_en").val();

				var data = {"id": theID, "paymentMethodCN": pmCN, "paymentMethodEN": pmEN};

				$.rest("POST", "/api/v1/editPaymentMethod", data, function(data){
						window.location.href = "/payment_method_manager";
					},
					function(data){
						if(data.status == 403){
							alert("@Messages.get("message.paymentMethod.duplicate")");
						}
						else{
							alert("@Messages.get("message.paymentMethod.createFailed")");
						}
					});
			  });
	 	});

	</script>

}
