@import spbox.model.entity.activity.Activity
@import spbox.model.entity.activity.ActivityImage
@import play.i18n._

@(message: String)(activityList: List[Activity])

<script>
    $(document).ready(function () {
        // Loading icon fade after page load (DOM selector cached in index page)
        indexLoadingIcon.fadeOut();
        dummyLoader.html('');
        @if(activityList.size() == 9 ){ // activate listener if there are more activities
            scrollLogic = true;
        }
    });
    (function() { // caching within scope
        @if(activityList!=null){
            // Check if activities are empty
            if(@activityList.size() != 0){
                // Call function to loop and show activity blocks
                generateActivityBlocks();
            } else {
                activityBlock.innerHTML = "<span id='events-empty'> 此类别并无活动 </span>";
            }
            function generateActivityBlocks(){
            // DOM operation for activity blocks
                var html= '';
                // Main component for a primary marketing message or call to action
                @for(a <- activityList) {
                    html += "<div class='landing-page-activity-block grid-view @if(a.status.equals(Activity.ActivityStatusEnum.EXPIRED)){status_@a.status}'>";
                    @if(!a.status.equals(Activity.ActivityStatusEnum.EXPIRED)) {
                        html += "<a href='/activity/@a.bzid?preview=false' >";
                    } else {
                        html += "<a href='/activity/@a.bzid?preview=true' >";
                    }
                    @if(a.status.equals(Activity.ActivityStatusEnum.EXPIRED)){
                        html += "<img class='img-responsive expiredStamp' src='@routes.Assets.at("images/expired.png")'>";
                    }
                    html += "<div class='event activity-block'>";
                    html += "<h class='venue-name-title'>@a.name</h>";
                    html += "<div class='logo_image'>";
                    html += "<img class='activityCoverImage img-responsive desaturate' src='@a.indexPreviewImage.getContentString()'/>";
                    html += "</div>";
                    html += "<div class='list-title'>";
                    html += "<h3>@a.name</h3>";
                    html += "</div>";
                    html += "<div class='description'>";
                    // Activity details
                    html += "<div class='row venue-name'>";
                    html += "<span class='flaticon-pin60 col-xs-1'></span>";
                    html += "<h5 class='col-xs-10'>@a.venue.name</h5>";
                    html += "</div>";
                    html += "<div class='row'>";
                    html += "<span class='flaticon-calendar1 col-xs-1'></span>";
                    html += "<h5 class='col-xs-10'>@a.dateTime</h5>";
                    html += "</div>";
                    // Brief description word limit
                    html += "<div class='row' id='brief-description'>";
                    html += "<h5>@a.briefDescription</h5>";
                    html += "</div>";
                    // Price and quantity
                    html += "<div class='price'>";
                    html += "<h5 id='currentPrice'>@if(a.priceMost == 0) {免费活动} else {@if(a.priceMost == a.priceLeast){$@a.priceLeast} else {$@a.priceLeast - $@a.priceMost}}</h5>";
                    html += "</div>";
                    html += "</div>";
                    //<!--<div class="hr"></div>-->
                    html += "</div>";
                    html += "</a>";
                    html += "</div>";
                }
                activityBlock.append(html);
            }
        } else {
            alert("Read error: activities list");
        }
    })();

</script>