@import spbox.model.entity.activity.ActivityCategory
@import spbox.web.view.html.main
@import play.i18n._

@(message: String)(activityCategories: List[ActivityCategory])

@main(message) {

	<script src="@routes.Assets.at("javascripts/color-thief.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/jquery.mobile.touch.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/dragend.min.js")" type="text/javascript"></script>

	<div id="carousel-index-headline" class="carousel slide headline" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#carousel-index-headline" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-index-headline" data-slide-to="1"></li>
			<li data-target="#carousel-index-headline" data-slide-to="2"></li>
		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<div class="img-wrapper">
					<img src="@routes.Assets.at("images/activity1.jpg")" alt="Advert 1">
				</div>
				<div class="carousel-caption">
					<div class="carousel-title">
						<h1> 全民撸起来！大温lol邀请赛 </h1>
						<h5> 简单暴力！5 vs 5 lol 竞赛！ 就在列治文网鱼网咖！ 参赛即有奖品！ </h5>
					</div>
					<div class="carousel-details">
						<h3><span class="flaticon-pin60"></span> 网鱼网咖 richmond, 8555 sea island way，richmond, VANCOUVER, CANADA </h3>
						<h3><span class="flaticon-calendar1"></span> 2015年12月21日至2016年1月1日 </h3>
						<h3 class="price"><span class="fa fa-tag"></span> $99 </h3>
					</div>
					<a class="carousel-activity-link" href='/activity/07679166-1576-476b-a393-5df0347931a6?preview=false'>
						<div>立即预订</div>
					</a>
				</div>
			</div>
			<div class="item">
				<div class="img-wrapper">
					<img src="@routes.Assets.at("images/activity2.jpg")" alt="Advert 2">
				</div>
				<div class="carousel-caption">
					<div class="carousel-title">
						<h1> 户外生存游戏！真人cs气枪游戏 </h1>
						<h5> 穿上军装，拿上家伙！兄弟们我们去打战！ </h5>
					</div>
					<div class="carousel-details">
						<h3><span class="flaticon-pin60"></span> panther airsoft and paintball field, 19022 16 Ave, Surrey, BC V3S 9R9, V3S 9R9, VANCOUVER, CANADA </h3>
						<h3><span class="flaticon-calendar1"></span> 2015年12月21日 </h3>
						<h3 class="price"><span class="fa fa-tag"></span> $35 - $85 </h3>
					</div>
					<a class="carousel-activity-link" href='/activity/5d103786-44db-4ac6-869c-e523546595b1?preview=false'>
						<div>立即预订</div>
					</a>
				</div>
			</div>
			<div class="item">
				<div class="img-wrapper">
					<img src="@routes.Assets.at("images/activity3.jpg")" alt="Advert 3">
				</div>
				<div class="carousel-caption">
					<div class="carousel-title">
						<h1> 跑跑卡丁车！到底谁才是秋名山之王！ </h1>
						<h5> 谁才是秋名山之王？？赛一下？？ 比比才知道！ </h5>
					</div>
					<div class="carousel-details">
						<h3><span class="flaticon-pin60"></span> TBC indoor racing （Richmond）or Fast Track Go Kart（Langley）, Richmond or Langley, VANCOUVER, CANADA </h3>
						<h3><span class="flaticon-calendar1"></span> 2015年12月23日 </h3>
						<h3 class="price"><span class="fa fa-tag"></span> $35 </h3>
					</div>
					<a class="carousel-activity-link" href='/activity/82819203-8933-4c7a-8d8b-5880d502e819?preview=false'>
						<div>立即预订</div>
					</a>
				</div>
			</div>
		</div>
			<!-- Controls -->
		<a class="left carousel-control" href="#carousel-index-headline" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#carousel-index-headline" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>


	</div>

	@* Activities filter *@
	<div class="filter-bar">

		@* Desktop *@
		<form class="filter-bar-container">

		</form>

		@* Mobile *@
		<form class="mobile-filter-bar">

		</form>

		@*
		<form class="price-filter">  filter for price
			<input type="radio" id="price-all" value="all" name="activity-price" checked>
			<label for="price-all"><span class="price-all"></span>全部</label>
			<input type="radio" id="price-free" value="free" name="activity-price">
			<label for="price-free"><span class="price-free"></span>免费</label>
			<input type="radio" id="price-paid" value="paid" name="activity-price">
			<label for="price-paid"><span class="price-paid"></span>付费</label>
		</form>
		<form class="time-filter">  filter for time
			<div id="part-one">
				<input type="radio" id="time-all" value="all" name="activity-time" checked>
				<label for="time-all"><span class="time-all"></span>全部</label>
				<input type="radio" id="time-today" value="today" name="activity-time">
				<label for="time-today"><span class="time-today"></span>今天</label>
				<input type="radio" id="time-tomorrow" value="tomorrow" name="activity-time">
				<label for="time-tomorrow"><span class="time-tomorrow"></span>明天</label>
			</div>
			<div id="part-two">
				<input type="radio" id="time-one-week" value="one-week" name="activity-time">
				<label for="time-one-week"><span class="time-one-week"></span>一个星期内</label>
				<input type="radio" id="time-one-month" value="one-month" name="activity-time">
				<label for="time-one-month"><span class="time-one-month"></span>一个月内</label>
			</div>
		</form>
		<select name="activity-sort" id="activity-sort">
			<option value="default" disabled selected>排序方式</option>
			<option value="newest">最新活动</option>
			<option value="startingSoon">时间</option>
		</select>
		*@

	</div>

	<div class="jumbotron" id="index-page-jumbo">
		<div class="row responsive-index-page-container">

		</div>
		<div id="dummy-loader"></div>
	</div>

	<div id="index-page-loading">
		<img src="@routes.Assets.at("images/loading.svg")" alt="Loading..." />
	</div>

	@*<div class="pager">*@
		@*<button class="btn activity-previous-page hidden">@Messages.get("page.activity.page.previous")</button>*@
		@*<button class="btn activity-next-page hidden">@Messages.get("page.activity.page.next")</button>*@
	@*</div>*@

	<script>
		var page = 0;
		var indexLoadingIcon = $('#index-page-loading'); // cached outside scope for index_activities usage
		var activityBlock = $('.responsive-index-page-container');
		var activityJumbo = $('#index-page-jumbo');
		var dummyLoader = $('#dummy-loader');
		var scrollLogic = true;

		(function() { // caching within scope
			@if(activityCategories!=null){
				var filterRoute;
				var html = '';

				if ($(window).width() <= 767 ){ // mobile

					var filterAndSortContainer = $('.mobile-filter-bar');

					html += "<div class='filter-container-one dragend-page'>";
					html += "<div class='mobile-category'>";
					html += "<input type='radio' id='category-all' value='all' name='activity-category' checked>";
					html += "<label for='category-all'><span class='all'></span>全部</label>";
					@for(ac <- activityCategories) {
					html += "<input type='radio' id='category-@ac.EnName' value='@ac.EnName' name='activity-category'>";
					html += "<label for='category-@ac.EnName'><span class='@ac.EnName'></span>@ac.CnName</label>";
					}
					html += "</div>";
					html += "<span class='glyphicon glyphicon-chevron-right' aria-hidden='true'></span>";
					html += "</div>";
					html += "<div class='filter-container-two dragend-page'>";
					html += "<span class='glyphicon glyphicon-chevron-left' aria-hidden='true'></span>";
					html += "<div>";
					html += "<div class='mobile-time'>";
					html += "<input type='radio' id='price-all' value='all' name='activity-price' checked>";
					html += "<label for='price-all'><span class='price-all'></span>全部</label>";
					html += "<input type='radio' id='price-free' value='free' name='activity-price'>";
					html += "<label for='price-free'><span class='price-free'></span>免费</label>";
					html += "</div>";
					html += "<div class='mobile-price'>";
					html += "<input type='radio' id='time-all' value='all' name='activity-time' checked>";
					html += "<label for='time-all'><span class='time-all'></span>全部</label>";
					html += "<input type='radio' id='time-one-week' value='one-week' name='activity-time'>";
					html += "<label for='time-one-week'><span class='time-one-week'></span>一个星期内</label>";
					html += "</div>";
					html += "</div>";
					html += "</div>";
					filterAndSortContainer.html(html);

					filterAndSortContainer.dragend();

					$(".glyphicon-chevron-left").click(function() {
						filterAndSortContainer.dragend({
							scrollToPage: 1
						});
					});

					$(".glyphicon-chevron-right").click(function() {
						filterAndSortContainer.dragend({
							scrollToPage: 2
						});
					});

				} else if ($(window).width() >= 768){ //desktop
					var filterAndSortContainer = $('.filter-bar-container');
					html +="<input type='radio' id='category-all' value='all' name='activity-category' checked>";
					html +="<label for='category-all'><span class='all'></span>全部</label>";
					@for(ac <- activityCategories) {
					html +="<input type='radio' id='category-@ac.EnName' value='@ac.EnName' name='activity-category'>";
					html +="<label for='category-@ac.EnName'><span class='@ac.EnName'></span>@ac.CnName</label>";
					}
					html +="<input type='checkbox' id='price-free' value='free' name='activity-price'>";
					html +="<label for='price-free' id='price-checkbox'><span class='price-free'></span>免费</label>";
					html +="<input type='checkbox' id='time-one-week' value='one-week' name='activity-time'>";
					html +="<label for='time-one-week' id='time-checkbox'><span class='time-one-week'></span>一个星期内</label>";

					filterAndSortContainer.html(html);
				}
			} else {
				alert("Read error: categories");
			}

			// caching selectors to improve performance
			var category = $('input[name="activity-category"]');
			var eventTime = $('input[name="activity-time"]');
			var priceType = $('input[name="activity-price"]');
			//var sort = $('select[name="activity-sort"]');
			//var sortVal;


			activityBlock.load("/category"); // initialise page with all activity

			filterAndSortContainer.change(function(){

				page = 0;

				activityBlock.html(""); // reset container content

				indexLoadingIcon.fadeIn(); // loading icon

				@*
				if(!sort.val()){
					sortVal = "";
				} else {
					sortVal = "&sort=" + sort.val();
				}
				*@

				filterRoute = "/category?category=" + category.filter(":checked").val();

				if(!!eventTime.filter(":checked").val()){
					filterRoute += "&eventTime=" + eventTime.filter(":checked").val();
				}
				if(!!priceType.filter(":checked").val()){
					filterRoute += "&priceType=" + priceType.filter(":checked").val();
				}
					filterRoute += "&page=" + page;

				//activityBlock.load("/category?category=" + category.filter(":checked").val() + "&eventTime=" + eventTime.filter(":checked").val() + "&priceType=" + priceType.filter(":checked").val() + sortVal); // call query with selected category
				activityBlock.load(filterRoute); // call query with selected category

			});

			activityBlock.ready(function () {
				$(window).on('scroll', function() {
					if($(this).scrollTop() + $(this).height()/2 >= activityBlock[0].scrollHeight && scrollLogic == true) { // If user scrolls past a certain point
						dummyLoader.html('<span>@Messages.get("page.index.loading")</span>'); // Loading text
						scrollLogic = false; // pause listener
						page = page + 1;
						indexLoadingIcon.fadeIn(); // loading icon
						filterRoute = "/category?category=" + category.filter(":checked").val();
						if(!!eventTime.filter(":checked").val()){
							filterRoute += "&eventTime=" + eventTime.filter(":checked").val();
						}
						if(!!priceType.filter(":checked").val()){
							filterRoute += "&priceType=" + priceType.filter(":checked").val();
						}
						filterRoute += "&page=" + page;
						dummyLoader.load(filterRoute);
					}
				});
			});


			// Carousel options
			$('.carousel').carousel({
			  interval: 4000
			});

			$(document).ready(function () {

				var $carouselSelector = $("#carousel-index-headline");

				// Enables carousel swipe function on mobiles using jquery mobile
				$carouselSelector.swiperight(function() {
					  $(this).carousel('prev');
				});
				$carouselSelector.swipeleft(function() {
					$(this).carousel('next');
				});
			});

		})();

	</script>

}