@import play.i18n._
@import spbox.web.view.html.main

@(title: String)(information: Html)(redirectPath: String)(redirectName: String)

@main(Messages.get(title)) {

	<div class ="info-container row section col-xs-12 col-sm-10 col-md-8 col-centered">
		<div class="row">
			<div class="col-xs-12 text-center info-title">
				@if(information!=null){
					<h3>@information</h3>
				} else {
					<p>Read error: information</p>
				}
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-xs-centered col-sm-5 col-sm-offset-1 col-md-4 col-md-offset-1">
				<a class="btn btn-lg btn-warning btn-block" href="javascript:WeixinJSBridge.call('closeWindow');" role="button">@Messages.get("action.system.logout")</a><br><br>
			</div>

			<div class="col-xs-6 col-xs-centered col-sm-5 col-md-4 col-md-offset-2">
			@if(redirectPath == null) {
				<a class="btn btn-lg btn-success btn-block" href="/" role="button">@Messages.get("action.page.goBack")@Messages.get("page.index")</a>
			}else{
				<a class="btn btn-lg btn-success btn-block" href=@redirectPath role="button">@Messages.get("action.page.goBack")@Messages.get(redirectName)</a>
			}
			</div>
		</div>
	</div>

	<script>
		$('#index-page-loading').fadeOut();
		$('#personal-center-loading').fadeOut();
		$('#organizer-page-loading').fadeOut();
		$('#ticket-manager-page-loading').fadeOut();
		$('#activity-page-review-loading').fadeOut();
	</script>

}



