@import spbox.web.view.html.main
@import play.i18n._
@(message: String)

@main(message) {


	<div class="jumbotron">
		<div class="row">

			<div class="col-sm-5">

				<img class="img-responsive signin-img" src="@routes.Assets.at("images/signin.jpg")">

			</div>

			<div class="col-sm-offset-1 col-sm-6 text-center">
				<h3>请先登录</h3><br>
			</div>
			<script type="text/javascript">
                    $("#signin-modal").modal('show');
            </script>
		</div>
	</div>
}