@import spbox.model.entity.PaymentMethod
@import spbox.web.view.html.main
@import play.i18n._
@(message: String)(paymentMethod: List[PaymentMethod])


@main(message) {

<div class="col-sm-12">
	<div class="control-label">
		<label><h1>@Messages.get("page.paymentMethodManager.list")</h1></label>
	</div>
</div>

<div class="col-sm-12">
	<div class="control-label">
		<a class="btn btn-lg btn-primary" href="/edit_payment_method/new">@Messages.get("page.paymentMethodManager.create")</a>
	</div>
</div>

<div class="col-sm-12 table-responsive">	
	<table class="table">
		<thead>
			<tr>
				<th>@Messages.get("paymentMethod.action")</th>
				<th>@Messages.get("paymentMethod.CnName")</th>
				<th>@Messages.get("paymentMethod.EnName")</th>
			</tr>
		</thead>
		<tbody>
			@if(paymentMethod!=null){
				@for(pm <- paymentMethod) {
				<tr>
					<td><a class="btn btn-lg btn-info admin-controller" href="/edit_payment_method/@pm.dbid" role="button">@Messages.get("action.paymentMethod.update")</a></td>
					<td>@pm.CnName</td>
					<td>@pm.EnName</td>
				</tr>
				}
			} else {
				<p>Read error: No payment method</p>
			}
		</tbody>
	</table>
</div>



}
