@import spbox.web.view.html.main
@import play.i18n._
@(message: String)

@main(message) {

	<div class="jumbotron">
		<div class="row">
			<div class="col-sm-12">

				<div class="col-sm-12">
					<div class="control-label">
						<label><h3>@Messages.get("page.systemManager")</h3></label>
					</div>
				</div>

				<div class="col-sm-12 col-md-4">
					<h4>@Messages.get("page.userManager")</h4>
					<ul class="list-group">
						<li class="list-group-item"><a href="/user_manager/all">@Messages.get("page.userManager")</a></li>
						<li class="list-group-item"><a href="/register">@Messages.get("page.user.create")</a></li>
					</ul>
				</div>

				<div class="col-sm-12 col-md-4">
					<h4>@Messages.get("page.articleManager")</h4>
					<ul class="list-group">
						<li class="list-group-item"><a href="/article_manager">@Messages.get("page.articleManager")</a></li>
						<li class="list-group-item"><a href="/edit_article/new">@Messages.get("page.article.create")</a></li>
					</ul>
				</div>

				<div class="col-sm-12 col-md-4">
					<h4>@Messages.get("page.cityManager")</h4>
					<ul class="list-group">
						<li class="list-group-item"><a href="/city_manager">@Messages.get("page.cityManager")</a></li>
						<li class="list-group-item"><a href="/edit_city/new">@Messages.get("page.city.create")</a></li>
					</ul>
				</div>

				<div class="col-sm-12 col-md-4">
					<h4>@Messages.get("page.activityCategoryManager")</h4>
					<ul class="list-group">
						<li class="list-group-item"><a href="/activity_category_manager">@Messages.get("page.activityCategoryManager")</a></li>
						<li class="list-group-item"><a href="/edit_activity_category/new">@Messages.get("page.activityCategory.create")</a></li>
					</ul>
				</div>

				<div class="col-sm-12 col-md-4">
					<h4>@Messages.get("page.paymentMethodManager")</h4>
					<ul class="list-group">
						<li class="list-group-item"><a href="/payment_method_manager">@Messages.get("page.paymentMethodManager")</a></li>
						<li class="list-group-item"><a href="/edit_payment_method/new">@Messages.get("page.paymentMethodManager.create")</a></li>
					</ul>
				</div>

				<div class="col-sm-12 col-md-4">
					<h4>@Messages.get("page.lucene.indexManager")</h4>
					<ul class="list-group">
						<li class="list-group-item"><a href="/create_index">@Messages.get("page.lucene.create")</a></li>
					</ul>
				</div>

				<div class="col-sm-12 col-md-4">
					<h4>@Messages.get("page.manualDataManager")</h4>
					<ul class="list-group">
						<li class="list-group-item"><a href="/manual_data_manager">@Messages.get("page.manualDataManager")</a></li>
					</ul>
				</div>

				<div class="col-sm-12 col-md-4">
					<h4>@Messages.get("page.statistics")</h4>
					<ul class="list-group">
						<li class="list-group-item"><a href="/page_view_manager">@Messages.get("page.pageView")</a></li>
						<li class="list-group-item"><a href="/load_page_view_history">@Messages.get("action.pageView.load")</a></li>
						<li class="list-group-item"><a href="/organizer_rating_manager">@Messages.get("page.organizerRating")</a></li>
						<li class="list-group-item"><a href="/load_organizer_rating_history">@Messages.get("action.organizerRating.load")</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

}
