@import play.i18n._
@import spbox.web.view.html.main


@(message: String)

@main(message){

    <div class="error-handling-page">
        <span id="error-number">@message</span>
        <div id="error-container">
            <div>
                <span id="error-company-title">havefun.io</span>
                @if(message == "404"){
                    <span id="error-message">哎呀，你走错路了...</span>
                }
            </div>
            <img src="@routes.Assets.at("images/error_logo.svg")">
        </div>
        <button type="button" onclick="goBack()">返回</button>
    </div>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>

}
