/* Activity pages
================================================== */

// ------ definitions ----------------------------

@activity-content-max-width: 600px;
@defaultActivityFontSize: 14px;
@defaultActivityLineHeight: 23px;
@activityFontFamily: "Langtinghei SC";
@activity-panel-max-width : 1000px;

// Overwriting bootstrap default input styles
.event-display-panel {
    max-width: @activity-panel-max-width;
    border: 1px solid @borderGray;
    margin-bottom: 80px;
    position: relative;
}

.ActivityCarouselFont(@fontSize: 20px; @lineHeight: 28px) {
    font-family: @activityFontFamily;
    color: white;
    font-size: @fontSize;
    line-height: @lineHeight;
    text-shadow: 0px 0px 19px rgba(0, 0, 0, 1);
}

.ActivityFont(@fontSize: @defaultActivityFontSize; @lineHeight: @defaultActivityLineHeight) {
    font-family: @activityFontFamily;
    color: @deepGray;
    font-size: @fontSize;
    line-height: @lineHeight;
}

// ---------- main --------------------------------

#carousel-activity {
    max-width: @activity-panel-max-width;
    .carousel-inner {
        max-height: 600px;
    }
    .carousel .item > img{
        min-width: 1000px;
        min-height: 450px;
    }
    .carousel-control.left, .carousel-control.right {
        background-image: none;
    }
}

.activity {
    &Jumbo {
        margin: auto;
        padding-bottom: 0;
        padding-top: 25px;
    }
    &-block {
        border: 1px solid @darkGray;
    }
    &-main-text {
        position: absolute;
        width: 100%;
        @media @desktop {
            top: 250px;
        }
        @media @mobile{
            top: 100px;
        }
        h1 {
            @media @mobile{
                .ActivityCarouselFont(24px,30px);
            }
            @media @desktop {
                .ActivityCarouselFont(36px,50px);
            }
        }
    }
    &-title {
        font-family: Microsoft YaHei;
        font-size: 20px;
        color: #9F9595;
        line-height: 21px;
        margin: 60px auto 40px;
        @media @mobile {
            margin: 30px auto 30px;
            font-size: 20px;
        }
        border-bottom: 1px solid @darkGray;
        width: 200px;
        h {
            padding: 0 10% 5%;
            background-color: white;
            min-width: 150px;
        }
    }
    &-date-location {
        margin: auto;
        padding: 40px 0;
        display: inline;
        max-width: @activity-content-max-width;
        label {
            font-family: Microsoft YaHei;
            font-size: 16px;
            color: @deepGray;
            line-height: 17px;
            font-weight: normal;
            @media @mobile {
                font-size: 14px;
            }
        }
        a {
            height: 100%;
            width: 100%;
        }
        &:after {
            content: " ";
            display: block;
            clear: both;
        }
        span {
            color: @iconColor;
        }
    }
    &-description-container {
        max-width: @activity-content-max-width;
        margin: auto;
        label {
            text-align: left !important;
        }
    }
    &-description {
        color: @deepGray;
        margin-bottom: 60px;
        @media @mobile {
            margin-bottom: 30px;
        }
        text-align: justify;
        span, p, div, label {
            font-family: Microsoft YaHei;
            font-size: 14px;
            line-height: 26px;
            font-weight: normal;
        }
    }
    &-brief-description-content {
        margin-bottom: 60px;
        text-align: center;
        label {
            font-family: Microsoft YaHei;
            font-size: 20px;
            line-height: 28px;
            font-weight: normal;
            @media @mobile {
                font-size: 16px;
                line-height: 20px;
            }
        }
    }
}

#activity-location-map {
    max-width: @activity-content-max-width;
    height: 0;
    min-height: 0;
    padding: 0;
    margin: auto;
    -webkit-transition: height .5s;
    transition: height .5s;
    background-color: #B2B2B2;
    overflow: hidden;
    img {
        height: 300px;
    }
}

.payment-btn {
    background: @themeColor;
    border: 1px solid @themeColor;
    border-radius: 3px;
    width: 150px;
    color: white;
}

.ticket-sales-window{
    margin: auto;
    max-width: @activity-content-max-width;
    .ticketFloat {
        border: 1px solid @darkGray;
        margin: auto;
        .title {
            .ActivityFont(16px,23px);
            display: inline;
            padding: 0;
        }
        .ticket-title {
            margin: 20px 0px;
        }
        .booking-btn {
            background: @themeColor;
            border: 1px solid @themeColor;
            border-radius: 3px;
            margin: 30px;
            width: 150px;
            color: white;
        }
        .radio {
            padding: 0;
        }
        #ticket-title-border {
            border-bottom: 1px solid @darkGray;
            width: 90%;
            height: inherit;
            position: absolute;
            bottom: 1px;
            margin: auto;
        }
        .ticket-list {
            padding: 10px 10px;
            font-family: Microsoft YaHei;
            font-size: 14px;
            color: @deepGray;
            line-height: 23px;
            .Flex;
            .FlexAlignItems(center);
            @media @mobile{
                div {
                    padding: 0;
                }
            }
        }
    }
}

#activity-preview {
    .Flex;
    .FlexJustifyContent(center);
    .FlexAlignItems(center);
    .FlexDirection(column);
    > div {
        .Flex;
        .FlexDirection(row);
        margin-top: 20px;
        button {
            border-radius: 3px;
            margin-right: 20px;
        }
    }
}

.activity-description-image{
    margin-bottom:20px;
    .Flex;
    .FlexJustifyContent(center);
}

#activity-cover-image-div{
    @media @mobile{
        height: 250px;
    }
    @media @desktop {
        height: 420px;
    }
    padding: 0;
    overflow: hidden;
    width: 100%;
    a {
        width: 100%;
        height: 100%;
        #activity-cover-image{
            width:100%;
            height:auto;
            min-height: 100%;
            /*
            @media @mobile{
                width:auto;
                height:100%;
                min-width: 100%;
            }
            @media @desktop {
                width:100%;
                height:auto;
                min-height: 100%;
            }*/
        }
    }
}

nav.see-through-nav {
    @media @desktop {
        background: rgba(255, 255, 255, 0.3);
        border-bottom: none;
        box-shadow: none;
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        transition-duration: 0.5s;
        .navbar-categories , span {
            color: white !important;
            text-shadow: 0px 0px 21px rgba(33, 33, 33, 1);
        }
        .notification-icon:before {
            color: white !important;
        }
    }
}

div.see-through-nav {
    @media @desktop {
        margin-top: -90px;
    }
}


.img-modal {
    .modal {
        padding: 0 !important;
        vertical-align: middle;
    }
    .modal-dialog{
        width: -webkit-max-content;
    }
    .modal-body {
        img {
            @media @mobile{
                max-height:70vh;
                max-width: 85vw;
            }
            max-width: 85vw;
            max-height: 85vh;
        }
    }
}

#activity-page-main-body {
    margin-bottom: 50px;
}
