@lightGray: #F7F7F7;
@borderGray: #C5C5C5;
@placeholderGray: #9B9B9B;

@defaultCreateEventHeaderFontSize: 20px;
@defaultCreateEventHeaderLineHeight: 38px;
@CreateEventHeaderFontFamily: "Langtinghei SC";

@defaultCreateEventLabelFontSize: 14px;
@defaultCreateEventLabelLineHeight: 14px;
@CreateEventLabelFontFamily: Microsoft YaHei;

.CreateEventHeaderFont (@fontSize: @defaultCreateEventHeaderFontSize; @lineHeight: @defaultCreateEventHeaderLineHeight) {
    font-family: @CreateEventHeaderFontFamily;
    color: @dimGray;
    font-size: @fontSize;
    line-height: @lineHeight;
}

.CreateEventLabelFont (@fontSize: @defaultCreateEventLabelFontSize; @lineHeight: @defaultCreateEventLabelLineHeight) {
    font-family: @CreateEventLabelFontFamily;
    color: @dimGray;
    font-size: @fontSize !important;
    line-height: @lineHeight;
}

//========================================

.create-event-title-container {
    width: 100vw;
    margin: 0;
    #create-event-page-title {
        @media @mobile {
            .CreateEventHeaderFont(18px, 28px);
            margin: 30px 10px;
        }
        @media @desktop {
            .CreateEventHeaderFont(24px, 38px);
            margin: 60px 0;
        }
    }
}

.eventHeader {
    background-color: @lightGray;
    height: 77px;
    padding: 20px 97px;
    @media @mobile {
        text-align: center;
        .CreateEventHeaderFont(14px, 22px);
        padding: 15px 30px;
        height: 50px;
    }
    @media @desktop {
        .CreateEventHeaderFont;
    }
    span{
        @media @mobile {
            float: left;
            height: 100%;
            line-height: 16px;
        }
        margin-right: 1.5em;
        padding:2px 0.5em;
        border: 1px solid @themeColor;
        background: @themeColor;
        border-radius: 3px;
        color: white;
        font-weight: bold;
    }
}

.submit-section-wrapper {
    background-color: @lightGray;
    .btn-group {
        display: block;
    }
    .btn-group > label {
        margin-right: 2%;
    }
}

// Overwriting bootstrap default input styles
.create-event-panel {
    max-width: 800px;
    border: 1px solid @borderGray;
    @media @mobile {
        margin-bottom: 0;
    }
    margin-bottom: 80px;
    label {
        text-align: left !important;
        .CreateEventLabelFont;
        font-weight: normal;
    }
    input, select {
        height: 40px !important;
        margin-top: 5px;
    }
	i.glyphicon-ok {
		margin-top: 8px;
	}
	i.glyphicon-remove {
		margin-top: 8px;
	}
    textarea {
        margin-top: 5px;
    }
}

// Expandable textarea ===========

.txtstuff {
    resize: none; /* remove this if you want the user to be able to resize it in modern browsers */
    overflow: hidden;
}

.hiddendiv {
    display: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word; /* future version of deprecated 'word-wrap' */
}

/* the styles for 'commmon' are applied to both the textarea and the hidden clone */
/* these must be the same for both */
.common {
    width: 500px;
    min-height: 50px;
    font-family: Arial, sans-serif;
    font-size: 13px;
    overflow: hidden;
}

.lbr {
    line-height: 3px;
}

// ===============================

#datetimepicker_start, #datetimepicker_end{
    margin-top: 5px;
    input {
        margin-top: 0 !important;
    }
}

#ticket_container{
    input, select {
        margin-top: 0;
    }
}

.user-info-required-text {
    .CreateEventHeaderFont(16px,20px);
    margin: 20px auto;
}

.file_input_block {
    margin-top: 5px;
}

#create-form{
    .orange_btn{
        background-color:#f8a63a;
        width:100%;
        color:white;
    }
    .btn:hover{
        color:black;
    }
    .red_btn{
        background-color:rgb(217, 83, 79);
        width:100%;
        color:white;
        &_small{
            height:30px;
            width:100%;
        }
    }
    .form-group, .row{
        margin-left:0;
        margin-right:0;
    }
    .delete_button_offset { //overriding the margin:0 from .row styling above
        @media @desktop {
            margin-left: 41.66666667% !important;
        }
    }
}

.no_feedback_icon .form-control-feedback
{
    display:none !important;
}

.file_input_block .btn-file
{
    background-color: @borderGray;
    height:30px;
    border-radius: 3px;
}

.datetimepicker .active
{
    background-image:none !important;
    background-color:#e8962a !important;
}

.delete_button {
    background: white;
    border: 1px solid #d43f3a;
    border-radius: 3px;
    width: 100%;
    max-width: 200px;
}

#compulsory-label {
    text-align: right !important;
}

#createTicketType {
    label {
        background: rgba(73,143,225,0.10);
        border: 1px solid #C5C5C5;
        height: 60px;
        position: relative;
        input {
            opacity: 0;
        }
        h {
            text-align: center;
            position: absolute;
            top: 30%;
            left: 0;
            .CreateEventHeaderFont(18px, 26px);
            font-weight: normal;
        }
    }
}

#addPaidButton, #addFreeButton {
    display: block;
    margin-bottom: 20px;
    padding: 0;
    button {
        border: 1px solid #59D5C3;
        background: white;
        border-radius: 3px;
        font-weight: normal;
        position: relative;
        width: 100%;
    }
}

.ButtonWrapper {
    padding: 30px 0;
    height: 100px;
    margin-bottom: 0;
    .submitBtn{
        background: #417505;
        border: 1px solid #4A4A4A;
        border-radius: 3px;
        font-family: "Langtinghei SC";
        font-size: 14px;
        color: #FFFFFF;
        line-height: 19px;
        width: 100%;
    }
    .delete-event-btn {
        border-radius: 3px;
        border: 1px solid #4A4A4A;
        font-family: "Langtinghei SC";
        font-size: 14px;
        line-height: 19px;
        width: 100%;
    }
}

.user-info-required-text {
    .Flex;
    .FlexAlignItems(center);
    span {
        margin-right: 30px;
    }
    .fa-plus-circle {
        color: @themeColor;
    }
}

.address-input-wrapper {
    -moz-transition: height 2s; /* Firefox 4 */
    -webkit-transition: height 2s; /* Safari and Chrome */
    -o-transition: height 2s; /* Opera */
    transition: height 2s;
}

#section-one-wrapper, #section-two-wrapper, #section-three-wrapper{
    margin-top: 30px;
    min-height: 100px;
}

#admin-publish-buttons {
    > label {
        display: inline-block;
        vertical-align: middle;
        line-height: 30px;
        margin-right: 0;
        text-align: center !important;
        background: white;
        border: 1px solid #C5C5C5;
    }
    .active {
        background: @lightGray;
    }
}

#activity-status-title {
    padding: 20px 0;
}

#ticket_container > .ticket {
    padding: 0;
    margin-bottom: 20px;
}

// Compulsory options switch icons

#compulsory-option-toggle {
    div {
        @media @desktop {
            width: 20%;
            margin-top: 10px;
        }
    }
    input[type=checkbox] {
        display: none;
    }
    label {
        padding-top: 0;
        position: relative;
        padding-left: 20px;
        margin-left: 5px;
        @media @mobile{
            margin-left: 20px;
        }
    }
    input[type=checkbox] + label:before {
        position: absolute;
        top: 2px;
        left: -10px;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        font-size: 26px;
    }
    input[type=checkbox] + label:before{
        content: "\f096";
        color: @darkGray;
    }
    input[type=checkbox]:checked + label:before{
        content: "\f046";
        color: green;
    }
}

// Summernote Editor

.note-editor {
    margin-top: 10px;
}

#create-form .file-preview-image{
    width: 100%;
    height: auto;
}

.file-input .input-group .file-caption {
	z-index: 3;
}