/* Organizer page
================================================== */

// ------ definitions ----------------------------

@defaultOrganizerFontSize: 20px;
@defaultOrganizerLineHeight: 26px;
@organizerFontFamily: Microsoft YaHei;


.OrganizerFont(@fontSize: @defaultOrganizerFontSize; @lineHeight: @defaultOrganizerLineHeight; @fontColor: #2E2E2E) {
    font-family: @organizerFontFamily;
    color: @fontColor;
    font-size: @fontSize;
    line-height: @lineHeight;
}

// ---------- main --------------------------------


.organizer-page{
    .Flex;
    @media @mobile {
        .FlexDirection(column);
    }
    .profile-sidebar{
        background: @lightGray;
        .Flex;
        .FlexDirection(column);
        .FlexWrap(wrap);
        @media @mobile {
            width: 100%;
            height: 150px;
        }
        @media @desktop { // iPad
            width: 280px;
            min-width: 280px;
            min-height: 1000px;
            padding: 0 40px;
        }
        @media(min-width: 992px){
            width: 350px;
            min-width: 350px;
            padding: 0 80px;
        }
        figure{
            @media @mobile {
                margin-top: 30px;
                margin-right: 20px;
            }
            @media @desktop {
                margin-top: 80px;
                text-align: center;
            }
            img {
                .FlexOrder(1);
                max-width: 150px;
                max-height: 150px;
                border-radius: 9999px;
                -webkit-box-shadow: 0px 0px 26px -6px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: 0px 0px 26px -6px rgba(0, 0, 0, 0.75);
                box-shadow: 0px 0px 26px -6px rgba(0, 0, 0, 0.75);
                @media @mobile {
                    max-width: 100px;
                    max-height: 100px;
                }
            }
        }
        .organizer-info{
            .FlexOrder(2);
            #name{
                display: block;
                @media @mobile {
                    .OrganizerFont(14px, 19px);
                }
                @media @desktop {
                    .OrganizerFont(30px, 40px);
                }
                font-family: "Langtinghei SC";
            }
            #address{
                display: block;
                @media @mobile {
                    .OrganizerFont(14px, 19px);
                    margin-top: 5px;
                }
                @media @desktop {
                    .OrganizerFont(20px, 26px);
                    margin-top: 10px;
                }
                font-family: "Langtinghei SC";

            }
            #email{
                display: block;
                @media @mobile {
                    .OrganizerFont(12px, 19px);
                    margin-top: 5px;
                }
                @media @desktop {
                    .OrganizerFont(16px, 26px);
                    margin-top: 10px;
                }
                font-family: "Langtinghei SC";
            }
        }
        .organizer-rating{
            .FlexOrder(3);
            margin-top: 40px;
            @media @mobile {
                margin-top: 5px;
            }
            h {
                .OrganizerFont(@fontColor: #8D6956);
                @media @mobile {
                    display: none;
                }
            }
            #rating{
                @media @mobile {
                    .OrganizerFont(18px, 19px, #D0021B);
                    font-family: "Syncopate Regular";
                }
                @media @desktop {
                    .OrganizerFont(26px, 27px, #D0021B);
                    font-family: "Syncopate Regular";
                }
            }
            span{
                display: inline-block;
                margin-right: 10px;
            }
            span.stars{
                margin-top: 10px;
                span{
                    content: '';
                    display: block;
                    width: 1.5em;
                    height: 1.5em;
                    background: url('../images/star-on.svg');
                    background-size: contain;
                    background-position: 0 0;
                }
            }
        }
        .organizer-bibliography{
            .FlexOrder(4);
            @media @desktop {
                margin-top: 40px;
            }
            @media @mobile {
                 .Flex;
                .FlexDirection(row);
                .FlexAlignItems(center);
                height: 100%;
                div {
                    padding-left: 5%;
                    padding-right: 7.5%;
                     .Flex;
                    .FlexDirection(column);
                    .FlexAlignItems(flex-start);
                }
                span {
                    margin-left: 5px;
                }
            }
            h {
                .OrganizerFont(@fontColor: #8D6956);
                @media @mobile {
                    .OrganizerFont(14px,26px,#8D6956);
                    float: left;
                }
            }
            #info-container {
                width: 100%;
                p, #empty-bibliography {
                    min-height: 72px;
                }
                div{
                    width: 100%;
                    padding: 0;
                }
                p {
                    @media @desktop {
                        .OrganizerFont(14px, 36px);
                        margin-top: 10px;
                    }
                    @media @mobile {
                        .OrganizerFont(@fontSize: 12px, @lineHeight:  18px);
                        margin-top: 5px;
                    }
                    text-align: justify;
                }
                #empty-bibliography{
                    height: 100%;
                    .Flex;
                    .FlexAlignItems(center);
                    .FlexJustifyContent(center);
                    @media @desktop {
                        .OrganizerFont(14px, 36px);
                        margin-top: 10px;
                    }
                    @media @mobile {
                        .OrganizerFont(@fontSize: 14px, @lineHeight:  20px);
                        margin-top: 5px;
                    }
                }
            }
        }
        .glyphicon {
            @media @desktop {
                display: none;
            }
            @media @mobile {
                .Flex;
                .FlexAlignItems(center);
            }
        }
    }
    .organizer-activities{
        .FlexGrow(1);
        .Flex;
        .FlexDirection(column);
        @media @desktop {
            padding: 30px 50px;
        }
        @media @mobile {
            padding: 20px 10px;
        }
        .tint{
            position: relative;
            margin-bottom: 20px;
            @media @desktop {
                width: 320px;
                height: 240px;
                margin-right: 20px;
            }
            @media @mobile {
                width: 100%;
                height: auto;
                border: 1px solid #979797;
            }
            a {
                width: 100%;
            }
            .hover-title{
                position: absolute;
                left: 0;
                @media @desktop {
                    bottom: 30px;
                    -webkit-transition: all .3s ease-in-out;
                    transition: all .3s ease-in-out;
                }
                @media @mobile {
                    bottom: 100px;
                }

                background: rgba(255,255,255,0.8);
                .OrganizerFont(18px, 24px);
                padding: 8px 15px;
            }
            img{
                width: 100%;
                @media @desktop {
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    -webkit-filter: blur(0);
                    filter: blur(0);
                    -webkit-transition: .3s ease-in-out;
                    transition: .3s ease-in-out;
                }
                @media @mobile {
                    height: auto;
                }
            }
            .hover-text{
                .Flex;
                .FlexAlignItems(center);
                .FlexDirection(column);
                position: absolute;
                opacity:0;
                width: 100%;
                @media @desktop {
                    -webkit-transition: all .3s ease-in-out;
                    transition: all .3s ease-in-out;
                }
                @media @mobile {
                    display: none;
                }
                height: 100%;
                top: 0;
                left: 0;
                #name{
                    margin-top: 40px;
                    .OrganizerFont(@fontSize: 22px,@lineHeight: 26px);
                }
                #time{
                    margin-top: 10px;
                    .OrganizerFont(@fontSize: 16px,@lineHeight: 19px);
                }
                #count{
                    margin-top: 40px;
                }
            }
            @media @desktop {
                &:hover {
                    .hover-text {
                        opacity: 1;
                        color: #000000;
                        background: rgba(241, 203, 112, 0.7);
                        cursor: pointer;
                    }
                    img {
                        -webkit-filter: blur(3px);
                        filter: blur(3px);
                    }
                    .hover-title{
                        opacity: 0;
                    }
                }
            }
        }
        .active-activities, .expired-activities{
            .Flex;
            @media @mobile {
                .FlexDirection(column);
            }
            @media @desktop {
                .FlexDirection(row);
                .FlexWrap(wrap);
            }
        }
        .title {
            .FlexOrder(1);
            text-align: left;
            margin: 30px 0;
            padding-bottom: 10px;
            border-bottom: solid 1px #D2D2D2;
            span:before {
                margin: 0;
                margin-right: 5px;
                font-size: 40px;
                color: #9B9B9B;
                @media @mobile {
                    display: none;
                }
            }
            h{
                @media @desktop {
                    .OrganizerFont(@fontColor: #4A4A4A);
                    font-weight: lighter;
                }
                @media @mobile {
                    .OrganizerFont(18px,22px, #4A4A4A);
                }
            }
        }
        #active-events{
            .FlexOrder(2);
            @media @desktop {
                .OrganizerFont(16px, 20px, @themeColor);
            }
            @media @mobile {
                .OrganizerFont(14px, 19px, @themeColor);
            }
            span {
                display: inline-block;
                border: solid 1px @themeColor;
                border-radius: 3px;
                text-align: center;
                margin-left: 10px;
                width: 30px;
            }
        }
        .active-activities{
            .FlexOrder(3);
            margin-top: 20px;
        }
        #expired-events{
            .FlexOrder(4);
            @media @desktop {
                .OrganizerFont(18px, 22px, @themeColor);
                margin-top: 70px;
            }
            @media @mobile {
                .OrganizerFont(14px, 19px, @themeColor);
                margin-top: 30px;
            }
            span {
                display: inline-block;
                border: solid 1px @themeColor;
                border-radius: 3px;
                text-align: center;
                margin-left: 10px;
                width: 30px;
            }
        }
        .expired-activities{
            .FlexOrder(5);
            margin-top: 20px;
        }
    }
}

.mobile-info-container{
    @media @mobile {
        .Flex !important;
        .FlexDirection(row);
        .FlexAlignItems(center);
        .FlexJustifyContent(center);
    }
    #organizer-info-container{
        @media @mobile{
            .Flex;
            .FlexDirection(column);
            .FlexJustifyContent(center);
        }
    }
}

.mobile-event-info {
    @media @mobile {
        .Flex;
        .FlexDirection(column);
        .date, .count {
            .OrganizerFont(14px, 19px);
            margin: 5px 0 5px 22px;
        }
        .date{
            margin-top: 10px;
        }
        .count {
            margin-bottom: 10px;
            span{
                color: #EAB22A;
            }
        }
    }
    @media @desktop {
        display: none;
    }
}