#recommendedActivities{
    position:relative;
    margin-left: 15px;
    margin-right: 15px;
    .carousel-control.left, .carousel-control.right {
        background-image: none
    }
    .carousel-inner {
        padding: 10px;
        margin-right: auto;
        margin-left: auto;
        height: auto;
        @media(max-width: @xsDeviceBreakPoint) {
            padding: 0;
            margin: 0;
        }
        @media(min-width: @twoColumnBreakpoint) {
            width: @twoColumnContainerWidth;
        }
        @media(min-width: @threeColumnBreakpoint) {
            width: @threeColumnContainerWidth;
        }
        .row {
            .Flex;
            .FlexJustifyContent(center);
            width: 100%;
            margin: 0;
            .recommended-event-activity-block {
                @media(max-width: @smallDeviceBreakPoint){
                    padding: 0;
                    max-width: 335px;
                    width: 100%;
                }
                @media(min-width: @twoColumnBreakpoint){
                    width: 50%;
                    padding-left: 15px;
                    padding-right: 15px;
                    display: inline-block;
                    max-width: 335px;
                }
                @media(min-width: @threeColumnBreakpoint){
                    width: 33%;
                }
                .venue-name-title {
                    bottom: 25px;
                }
                .grid-view {
                    @media @desktop {
                        height: 235px;
                    }
                    @media @mobile {
                        height: auto;
                    }
                }
            }
        }
    }

    .recommended-event {
        h5{
            opacity: 1.0;
            padding: 0;
            margin: 0;
        }
        img {
            z-index: 1;
            width: 100%;
            margin: 0 auto 0 auto;
            max-width: 100%;
            position:relative;
            overflow:hidden;
        }
        .price {
            padding: 0px 10px;
            z-index: 4;
            width: 100%;
            height: 20px;
            h5{
                font-family: Microsoft YaHei;
                font-size: 14px;
                color: #FF004B;
                line-height: 17px;
            }
        }
    }
}

.activity-page-recommendation {
    @media @mobile {
        margin-bottom: 20px;
    }
}