
/* User Registration
================================================== */

// ------ definitions ----------------------------


// ---------- main -------------------------------


#register-container {
    label {
        font-family: "Microsoft YaHei";
        @media @desktop {
            font-weight: 300;
            font-size: 14px;
            padding-top: 0;
        }
        @media @mobile {
            font-weight: 300;
        }
    }
    #user-image-upload-preview {
        max-width:300px;
        max-height:300px;
    }
    .deleteImage {
        background: #FFFFFF;
        border: 1px solid #D0021B;
        border-radius: 3px;
        font-family: "Langtinghei SC";
        font-size: 14px;
        color: #D0021B;
        line-height: 19px;
        width: 100px;
        @media @mobile {
            margin-bottom: 10px;
            margin-top: 10px;
        }
    }
    .no_feedback_icon .form-control-feedback {
        display: none !important;
    }
    #register-form {
        padding: 0 10px 0 10px;
    }
    #user-confirm-button {
        background: #417505;
        border-radius: 3px;
        font-family: "Langtinghei SC";
        font-size: 14px;
        color: #FFFFFF;
        line-height: 19px;
    }
    #user-submit-button {
        background: #417505;
        border-radius: 3px;
        font-family: "Langtinghei SC";
        font-size: 14px;
        color: #FFFFFF;
        line-height: 19px;
    }
    #user-delete-button {
        border-radius: 3px;
        font-family: "Langtinghei SC";
        font-size: 14px;
        color: #FFFFFF;
        line-height: 19px;
        @media @desktop {
            margin-left: 20px;
        }
    }
    #button-wrapper {
        width: 100%;
        .Flex;
        .FlexJustifyContent(center);
        margin-top: 30px;
        @media @mobile {
            margin-bottom: 30px;
            .FlexDirection(column);
            .FlexAlignItems(center);
        }
        .user-submit-button, .user-delete-button {
            width: 200px;
            height: 50px;
        }
        .user-submit-button {
            @media @mobile {
                margin-bottom: 10px;
            }
        }
    }
}

