/* Review
================================================== */

// ------ definitions ----------------------------

@activity-review-max-width : 1000px;
@activity-review-min-width : 800px;

@defaultOrganizerFontSize: 14px;
@defaultOrganizerLineHeight: 26px;
@organizerFontFamily: Microsoft YaHei;

.ReviewFont(@fontSize: @defaultOrganizerFontSize; @lineHeight: @defaultOrganizerLineHeight; @fontColor: #2D2D2D) {
    font-family: @organizerFontFamily;
    color: @fontColor;
    font-size: @fontSize;
    line-height: @lineHeight;
}

// ---------- main --------------------------------


textarea[name=review_content] {
    resize        : none;
    width         : 100%;
    height        : 50%;
    border        : 1px solid @deepGray;
    border-radius : 2px;
}

#review-submit-button {
    position         : relative;
    margin           : 20px auto 0;
    float            : right;
    background-color : white;
    border           : 1px solid @deepGray;
    border-radius    : 3px;
    width            : 250px;
    height           : 50px;
    font-family      : "Langtinghei SC";
    font-size        : 20px;
    color            : @deepGray;
    line-height      : 28px;
    @media @mobile {
        width       : 30%;
        font-size   : 14px;
        line-height : 20px;
        height      : 30px;
    }
}

.reviewJumbo {
    margin         : auto;
    padding-bottom : 0 !important;
    max-width      : @activity-review-max-width;
    .review-organiser{
        background-color : #F2F2F2;
        height           : auto;
        max-width        : 1000px;
        padding          : 20px;
        margin           : auto;
        margin-bottom    : 40px;
        @media @mobile {
            div {
                text-align : center !important;
                span {
                    margin : auto;
                }
            }
        }
        .organizer-review-block {
            position      : relative;
            width         : 120px;
            min-width     : 120px;
            height        : 120px;
            border-radius : 9999px;
            background    : white;
            border        : 1px solid @borderGray;
            text-align    : center;
            padding       : 0;
            #organizer-image {
                position      : absolute;
                top           : 10px;
                left          : 10px;
                width         : 100px;
                height        : 100px;
                border-radius : 9999px;
            }
        }
        a {
            @media @desktop {
                .Flex;
                .FlexDirection(row);
                overflow: hidden;
                & > div {
                    margin : 0 10px;
                }
            }
        }
        #organizer-name{
            .ReviewFont(18px,24px);
            cursor : pointer;
        }
        .organiser-info {
            text-align : justify;
            .ReviewFont(14px,26px);
            @media @mobile {
                .ReviewFont(14px,18px);
                margin-top : 20px;

            }
        }
    }
    .review-button{
        text-align : center;
    }
    .reviewRating {
        padding-bottom : 15px;
    }
    .reviewList {
        @media @desktop{
            padding-left  : 50px;
            padding-right : 50px;
        }
        min-height: 100px;
        .individualReview {
            margin-bottom : 4em;
            .reviewUserName {
                text-decoration : underline;
                .ReviewFont(16px,28px);
                @media @mobile{
                    .ReviewFont(14px,20px);
                }
            }
            .reviewCommentTime {
                float : right;
                button {
                    border-radius : 3px;
                }
            }
            .reviewCommentTime > h6 {
                color : #A9A9A9;
                button {
                    margin-top : -30px;
                }
            }
        }
    }
    .pager {
        .previous-page, .next-page {
            background-color : white;
            border           : 1px solid @deepGray;
            border-radius    : 3px;
            font-family      : "Langtinghei SC";
            font-size        : 14px;
            color            : @deepGray;
            line-height      : 20px;
            &:disabled {
                color: @darkGray;
                border-color: @darkGray;
            }
            &:focus {
                outline: none;
            }
        }
    }
    #add-review-form, #activity-review {
        @media @mobile {
            padding: 0;
        }
    }
}

.starRating:not{
    &(old) {
        display        : inline-block;
        width          : 7.5em;
        height         : 1.5em;
        overflow       : hidden;
        vertical-align : bottom;
        >input{
            margin-right : -100%;
            opacity      : 0;
        }
        >label {
            display         : block;
            float           : right;
            position        : relative;
            background      : url('../images/star-off.svg');
            background-size : contain;
        }
        >label:before {
            content         : '';
            display         : block;
            width           : 1.5em;
            height          : 1.5em;
            background      : url('../images/star-on.svg');
            background-size : contain;
            opacity         : 0;
            transition      : opacity 0.2s linear;
        }
        >label:hover:before, >label:hover ~ label:before, {
            opacity : 1;
        }
    }
    &(:hover) >:checked ~ label:before {
        opacity : 1;
    }
}

span.stars {
    span {
        content             : '';
        display             : block;
        width               : 1.5em;
        height              : 1.5em;
        background          : url('../images/star-on.svg');
        background-size     : contain;
        background-position : 0 0;
    }
}

#user-reviews{
    margin-bottom : 30px;
    #no-review-warning {
        width       : 100%;
        text-align  : center;
        font-family : "Langtinghei SC";
        color       : #9B9B9B;
        font-size   : 20px;
        line-height : 32px;
        @media @mobile {
            font-size   : 14px;
            line-height : 20px;
        }
    }
}