#signin-modal{
    .modal-body{
        &input:checked{}
        width: 100%;
        text-align: center;
        -webkit-transition: height .5s;
        transition: height .5s;
        height: 50;
        overflow: hidden;
        background-color: #F5F5F5;
        box-shadow: 0px -2px 4px 0px rgba(124,124,124,0.50);
        .form-control {
            border: 0;
            border-bottom: 1px dashed #ccc;
            padding: 0;
            margin: auto;
            width: 70%;
            color: #8E8E8E;
            .NavFont(14px,19px);
            box-shadow: none;
        }
        .form-group {
            height: 36px;
        }
    }
    .login-dialog{
        margin: auto;
        padding: 20px 0 20px;
        background: white;
        border: 1px solid rgba(161,151,151,0.46);
        box-shadow: 0px 2px 3px 0px rgba(161,151,151,0.53);
        @media @mobile {
            width: 100%;
        }
        @media @desktop {
            width: 460px;
        }
    }
    .login-footer{
        >a {
            .NavFont;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    #login-button {
        background-image: linear-gradient(-180deg, @aquamarine 0%, #48C0B1 100%);
        border-radius: 3px;
        color: white;
        .NavFont;
        width: 40%;
    }
    .third-party-login {
        text-align: center;
        padding-top: 2em;
        margin: auto;
        @media @mobile {
            width:100%;
        }
        @media @desktop {
            width:460px;
        }
        span.label {
            font-weight: bold;
        }
        .form-group {
            display: inline-block;
            margin: 0;
        }
        h4 {
            .NavFont(@fontSize: 12px);
            margin: 0;
        }
        span.buttonText {
            display: inline-block;
            vertical-align: middle;
            font-size: 14px;
            font-weight: bold;
            /* Use the Roboto font that is loaded in the <head> */
            font-family: 'Roboto', sans-serif;
        }
    }
}

#forget-password {
    top: 25%;
}

#googleLoginBtn {
    display: inline-block;
    background: #4285f4;
    color: white;
    width: 74px;
    height: 25px;
    border-radius: 5px;
    white-space: nowrap;
}

#googleLoginBtn:hover {
    cursor: pointer;
}