
/* Global colours
================================================== */
//Site Color Palette
@orange: #f8a63a;
@aquamarine: #59D5C3;
@khaki: #F1CB70;
@bisque: #EBD4C7;
@saddleBrown: #8D6956;
@silver: #A19797;
@darkSlateGray: #454D5D;
@dimGray: #5C5C5C;
@mediumPurple: #A3A7DC;
@cadetBlue: #9EC0C8;
@hotPink: #F3A9C2;
@sandyBrown: #EB9164;
@deepGray: #4A4A4A;
@darkGray: #B4B4B4;
@lightGray: #FBFBFA;
@borderGray: #C5C5C5;
@violetRed: #A61B1D;


//Site wide theme color
@themeColor: @violetRed;

//Category color
@ventureColor: #40C8A7;
@concertColor:#70D2FC;
@sportsColor: #F56F58;
@socialColor: #F7D128;
@entertainmentColor: #745DA5;
@travelColor: @violetRed;
@foodAndDrinksColor: #F5A623;
@teachingColor: @mediumPurple;


//Misc
@filterBarColor: @bisque;
@footerColor: #94A1A5;
@iconColor: @khaki;

/* Fonts
================================================== */

@font-face {
    font-family: "Langtinghei SC";
    src: url("../fonts/LantingheiELSC-reduced.woff") format("woff");
}

@font-face {
    font-family: "Syncopate Regular";
    src: url("../fonts/Syncopate-Regular.woff") format("woff");
}

@font-face {
    font-family: "Aclonica";
    src: url("../fonts/Aclonica.woff") format("woff");
}

/* Custom responsive utility classes
================================================== */

.row-centered {
    text-align:center;
}

.col-centered {
    float:none;
    margin: auto;
}

@media @mobile {
    .col-xs-centered {
        float:none;
        margin: auto;
    }
}

@desktop: ~"(min-width: 768px)";
@mobile:  ~"(max-width: 767px)";

.Flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.FlexOrder(@order){
    -webkit-box-ordinal-group: @order;
    -ms-flex-order: @order;
    -webkit-order: @order;
    order: @order;
}

.FlexDirection(@direction){
    & when (@direction=row) {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row
    }
    & when (@direction=column) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.FlexAlignItems(@position){
    & when (@position=center) {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
    & when (@position=flex-start) {
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
}

.FlexJustifyContent(@position){
    & when (@position=center) {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    & when (@position=space-between) {
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between
    }
    & when (@position=space-around) {
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
}

.FlexWrap(@wrap){
    -webkit-flex-wrap: @wrap;
    -ms-flex-wrap: @wrap;
    flex-wrap: @wrap;
}

.FlexGrow(@grow){
    -webkit-box-flex: @grow;
    -webkit-flex-grow: @grow;
    -ms-flex-positive: @grow;
    flex-grow: @grow;
}

/* Html structure
================================================== */

@footerMobileDeviceHeight: 400px; //For device width < 768px
@footerDesktopHeight: 200px;      //For device width > 768px

.FooterFont {
    font-family: "Langtinghei SC";
    color: @deepGray;
}


html {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    min-height: 100%;
    color: @deepGray;
    margin: 0;
    padding: 0;
    #main-container{
        @media @desktop{
            padding-top: 91px;
        }
        @media @mobile{
            padding-top: 51px;
        }
        width: 100%;
        min-height: 99vh;
        padding-left: 0;
        padding-right: 0;
        @media @desktop {
            padding-bottom: @footerDesktopHeight;
        }
        @media @mobile {
            padding-bottom: @footerMobileDeviceHeight;
        }
    }
}

.btn {
    height: 45px;
}

.btn-sm {
    height: 36px;
}

.footer {
    padding-top: 20px;
    width: 100%;
    background-color: @footerColor;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    @media @desktop {
        height: @footerDesktopHeight;
    }
    @media @mobile {
        height: @footerMobileDeviceHeight;
        text-align: center;
    }
    .row {
        margin: auto;
        height: 70%;
        @media @desktop {
            .footer-about-us {
                width: 20%;
            }
            .footer-contact-us {
                margin-left: 90px;
            }
            width: 750px;
        }
        @media(min-width: 992px) {
            width: 990px;
            .footer-contact-us {
                margin-left: 120px;
            }
        }
        ul {
            h {
                .FooterFont;
                font-size: 16px;
                line-height: 28px;
                margin-bottom: 40px;
                font-weight: bold;
            }
            li {
                list-style-type: none;
                .FooterFont;
                font-size: 14px;
                line-height: 17px;
                margin-top: 15px;
                a {
                    .FooterFont;
                    font-size: 14px;
                    line-height: 17px;
                }
            }
        }
        .footer-contact-us {
            span:before {
                margin-left: 0;
            }
        }
    }
    .company-info {
        position: absolute;
        bottom: 0;
        width: 100%;
        .FooterFont;
        font-size: 10px;
        color: #3A3A3A;
        line-height: 18px;
    }
}

#user-info {
    display: block;
    text-align: center;
}

.jumbotron {
    background-color: white;
    @media(min-width:@gridFloatBreakpoint){
        padding: 0px 15% 48px;
    }
    @media(max-width:@gridFloatBreakpoint){
        padding: 0px 0px 0px;
    }
}

/* Navigation bar
================================================== */

// ------ definitions ----------------------------

//nav bar collapse breakpoint
@gridFloatBreakpoint: 768px;

@defaultNavFontSize: 18px;
@defaultNavLineHeight: 25px;
@NavFontFamily: "Langtinghei SC";

.NavFont (@fontSize: @defaultNavFontSize; @lineHeight: @defaultNavLineHeight) {
    font-family: @NavFontFamily;
    color: @dimGray;
    font-size: @fontSize;
    line-height: @lineHeight;
}

.nav-button-font {
    font-family: @NavFontFamily;
    color: white;
    font-size: 1.125em;
}

// ---------- main --------------------------------

.nav-logo {
    height: 30px;
}

#main-nav {
    max-height: 90px;
}

.navbar {
    text-align: center;
    -webkit-backface-visibility: hidden;
    > .container {
        width: 100%;

        .navbar-brand {
            margin: 0;
            padding: 5px 30px 0px 10px;
            img {
                height: 35px;
            }
        }
    }
    &-header {
        .toggle-container {
            float: right;
            .Flex;
            .FlexDirection(row);
            .mobile-notification{
                @media @desktop{
                    display: none;
                }
                .Flex;
                .FlexDirection(row);
                .FlexAlignItems(center);
                .notification-icon:before {
                    @media @mobile {
                        font-size: 30px;
                        color: #5C5C5C;
                        line-height: 40px;
                    }
                }
                .notification-container{
                    border-radius: 999px;
                    background : #D0021B;
                    width: 20px;
                    height: 20px;
                    margin: 0 10px 0 5px;
                    .unprocessed-info {
                        @media @mobile {
                            font-family: "Langtinghei SC";
                            font-size: 14px;
                            line-height: 22px;
                            color: white;
                        }
                    }
                }
            }
        }
    }
    &-title {
        .NavFont();
        .navbar-items {
            padding-left: 10px;
            padding-right: 10px;
            color: black !important;
        }
        .navbar-categories:hover {
            border-bottom: 5px solid @themeColor;
        }
    }
    &-form[role=search] {
        overflow: hidden;
    }
    .input-group {
        width: 100%;
    }
    &-right {
        @media(max-width:@gridFloatBreakpoint){
            float:none;
            display:inline-block;
        }
        @media @desktop{
            padding-right: 25px;
            position: relative;
        }
        @media(min-width: 992px) {
            padding-right: 50px;
        }
        .dropdown {
            > a {
                padding:0;
            }
        }
        .profile-img {
            text-align: center;
            #user-image {
                max-width: 45px;
                max-height: 45px;
                border-radius: 9999px;
                margin-right: 15px;
            }
        }
    }
    &-fixed-top {
        @media @desktop {
            padding: 25px 0px 15px;
        }
        @media @mobile {
            padding: 0;
        }
        box-shadow: 0px 2px 4px 0px rgba(124,124,124,0.50);
    }
    &-default {
        background-image: none;
        background-color: white;
        span {
            .NavFont(14px,19px);
            color: black;
        }
        .caret {
            color: @themeColor;
        }
        .dropdown {
            .notification-icon:before {
                @media @desktop {
                    font-size: 30px;
                    color: #5C5C5C;
                    line-height: 40px;
                }
            }
            .notification-container{
                border-radius: 999px;
                background : #D0021B;
                width: 20px;
                height: 20px;
                margin: 0 10px 0 5px;
                .unprocessed-info {
                    @media @desktop {
                        font-family: "Langtinghei SC";
                        font-size: 14px;
                        line-height: 22px;
                        color: white;
                    }
                }
            }
            @media(max-width:@gridFloatBreakpoint) {
                display: none;
            }
            @media(min-width:@gridFloatBreakpoint) {
                .NavFont;
                .dropdown-toggle {
                    .NavFont(14px,19px);
                    .Flex;
                    .FlexDirection(row);
                    align-items:center;
                }
                .dropdown-menu {
                    > li {
                        > a {
                            color: black;
                            &:hover {
                                color: @themeColor;
                            }
                        }
                    }
                    .menu-notification > a {
                        .Flex;
                        .FlexDirection(row);
                        .FlexJustifyContent(space-between);
                        .notification-container {
                            text-align: center;
                        }
                    }
                }
            }
        }
        #signin-button{
            .NavFont(18px,25px);
            color: white;
            background: @themeColor;
            border-radius: 3px;
            @media(max-width:@gridFloatBreakpoint){
                width: 100px;
                float:none;
                display:inline-block;
            }
            @media(min-width:@gridFloatBreakpoint){
                margin: 8px 0;
                height: 36px;
            }
        }
        .navbar-toggle {
            background-color: #D0E4E9;
            width: 50px;
            margin-left: 10px;
            margin-right: 10px;
            border-color: white;
            &:hover, &:focus{
                background-color: @themeColor;
            }
            .icon-bar {
                background-color: white;
                width: 28px;
            }
        }
    }
}

.nav-user-email {
    &:focus, &:hover {
        background-color: transparent !important;
    }
}

.addEvent {
    color: black !important;
    @media(max-width:@gridFloatBreakpoint) {
        border-radius: 0px;
    }
    @media(min-width:@gridFloatBreakpoint) {
        background: #D0E4E9;
        border-radius: 40px;
        &:hover{
            background: #D0E4E9 !important;
            color: @themeColor !important;
        }
    }
}

.modal-fullscreen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    .modal-content {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 0;
        box-shadow: none;
        #signin-button {
            .NavFont(18px,25px);
            color: white;
            background: @themeColor;
            border-radius: 3px;
            width: 100px;
            margin: auto;
            float: none;
        }
        .nav-title {
            .NavFont();
            list-style: none;
            text-align: center;
            padding: 0;
            li {
                .navbar-items {
                    color: black;
                }
                padding: 5px;
            }
        }
        .nav-stacked {
            .NavFont();
            li > a {
                padding: 5px;
            }
            .menu-notification > a {
                .Flex;
                .FlexDirection(row);
                .FlexJustifyContent(center);
                .FlexAlignItems(center);
                position: relative;
                .notification-container{
                    position: absolute;
                    top: 7px;
                    right: 25%;
                    border-radius: 999px;
                    background : #D0021B;
                    width: 20px;
                    height: 20px;
                    margin: 0 10px 0 5px;
                    text-align: center;
                    .unprocessed-info {
                        @media @mobile {
                            .Flex;
                            .FlexAlignItems(center);
                            .FlexJustifyContent(center);
                            font-family: "Langtinghei SC";
                            height: 20px;
                            font-size: 14px;
                            color: white;
                        }
                    }
                }
            }
        }
        .nav > li {
            > a {
                color: black;
                &:hover {
                    color: @themeColor;
                }
            }
        }
    }
    .modal-dialog {
        position: fixed;
        margin: 0;
        width: 100%;
        height: 100%;
        padding: 0;
    }
    .btn-modal{
        background-color: @themeColor;
        .nav-button-font;
        border-radius: 3px;
    }
}

.bootstrap-select.btn-group .dropdown-menu {
    background-color: @themeColor;
}

.expiredStamp {
    @media @mobile {
        height: 40% !important;
    }
    @media @desktop {
        height: 150px !important;
    }
}

/* Headline carousel
================================================== */

// ------ definitions ----------------------------

@carouselFontFamily: "Langtinghei SC";
@defaultCarouselFontSize: 20px;
@defaultCarouselLineHeight: 28px;

.CarouselFont(@fontSize: @defaultCarouselFontSize ;@lineHeight: @defaultCarouselLineHeight) {
    font-family: @carouselFontFamily;
    font-size: @fontSize;
    line-Height: @lineHeight;
    color: white;
}

// ---------- main --------------------------------

.carousel-inner {
    @media (min-width: 992px) {
        max-height: 450px;
    }
    @media (max-width: 991px) {
        height: 300px;
    }
    .item {
        height: 100%;
    }
}

.carousel {
    margin-top: -10px;
}

.img-wrapper:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(90deg, #313131 1%, #5A5A5A 11%, rgba(164,164,164,0.00) 50%, #5A5A5A 88%, #313131 100%);
}

.carousel .item img{
    @media @desktop{
        height: auto;
        width: 100%;
    }
    @media @mobile{
        height: 100%;
        max-width: none;
        min-width: 100%;
    }
}

#carousel-index-headline {
    @media @mobile {
        display: none;
    }
}

.carousel-caption {
    text-align: left;
    position: absolute;
    max-height: 400px;
    color: white;
    text-shadow: none;
    top: 0;
    left: 15%;
    @media @desktop{
        padding-top: 25px;
    }
    @media (min-width: 992px){
        padding-top: 55px;
    }
    .carousel-details {
        @media @desktop{
            margin-top: 10px;
        }
        @media (min-width: 992px){
            margin-top: 45px;
        }
    }
    h1 {
        font-weight: bold;
        margin-bottom: 0;
        overflow: hidden;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
        white-space: nowrap;
        @media @desktop{
            .CarouselFont(30px;45px);
            margin: 0;
        }
        @media (min-width: 992px){
            .CarouselFont(48px;66px);
        }
    }
    h3 {
        @media @desktop{
            .CarouselFont(14px, 19px);
            margin-top: 13px;
            margin-bottom: 0;
        }
        @media (min-width: 992px){
            .CarouselFont;
        }
        color: white;
        span:before {
            font-size: 25px;
            margin: 0;
        }
    }
    .price {
        color: #FF004B;
        span:before {
            color: white;
            margin-left: 3px;
        }
    }
    h5 {
        margin: 0;
        @media @desktop{
            .CarouselFont(14px, 19px);
        }
        @media (min-width: 992px){
            .CarouselFont;
        }
    }
    .carousel-activity-link {
        div {
            background: rgba(255,255,255,0.50);
            border: 1px solid #FFFFFF;
            border-radius: 3px;
            text-align: center;
            color: white;
            font-family: "Langtinghei SC";
            @media @desktop {
                margin-top: 23px;
                font-size: 14px;
                width: 100px;
                height: 30px;
                line-height: 30px;
            }
            @media (min-width: 992px){
                width: 150px;
                height: 50px;
                font-size: 20px;
                line-height: 50px;
            }
        }
    }
}

.carousel-indicators {
    bottom: 0;
    li, .active { //override Bootstrap indicator style
        margin: 0 5px;
        @media @desktop {
            width: 17px;
            height: 4px;
        }
        @media @mobile {
            width: 14px;
            height: 3px;
        }
    }
    li {
        display: inline-block;
        vertical-align: middle;
        background-color: #939393;
        border-radius: 0;
        border: 0;
        -webkit-transition: color 0.5s;
        -moz-transition: color 0.5s;
        transition: color 0.5s;
    }
    .active {
        background-color: white;
    }
}


/* Filter
================================================== */


.filter-bar{
    .Flex;
    .FlexAlignItems(center);
    .FlexJustifyContent(center);
    background: #F3F3F3;
    @media @mobile{
        height: 100px;
    }
    @media @desktop{
        height: 130px;
    }
    .filter-bar-container{
        .Flex;
        .FlexJustifyContent(space-around);
        width: 80%;
        @media @mobile{
            display: none;
        }
        label {
            font-family:"Langtinghei SC";
        }
        input[type="radio"] {
            display: none;
            cursor: pointer;
        }
        input + label {
            display:inline-block;
            vertical-align: middle;
        }
        input[type="radio"] + label span {
            display: inline-block;
            width: 19px;
            height: 19px;
            border-radius: 200px;
            margin-right: 5px;
            vertical-align: middle;
            border: solid 2px;
            &[class="all"] {
                border-color: #9B9B9B;
            }
            &[class="VENTURE"] {
                border-color: @ventureColor;
            }
            &[class="CONCERT"] {
                border-color: @concertColor;
            }
            &[class="TEACHING"] {
                border-color: @teachingColor;
            }
            &[class="SPORTS"] {
                border-color: @sportsColor;
            }
            &[class="SOCIAL"] {
                border-color: @socialColor;
            }
            &[class="FOODANDDRINKS"] {
                border-color: @foodAndDrinksColor;
            }
            &[class="TRAVEL"] {
                border-color: @travelColor;
            }
            &[class="ENTERTAINMENT"] {
                border-color: @entertainmentColor;
            }
        }
        input[type="radio"]:checked + label span {
            &[class="all"] {
                background: #9B9B9B;
            }
            &[class="VENTURE"] {
                background: @ventureColor;
            }
            &[class="CONCERT"] {
                background: @concertColor;
            }
            &[class="TEACHING"] {
                background: @teachingColor;
            }
            &[class="SPORTS"] {
                background: @sportsColor;
            }
            &[class="SOCIAL"] {
                background: @socialColor;
            }
            &[class="FOODANDDRINKS"] {
                background: @foodAndDrinksColor;
            }
            &[class="TRAVEL"] {
                background: @travelColor;
            }
            &[class="ENTERTAINMENT"] {
                background: @entertainmentColor;
            }
        }
        input[type="checkbox"] {
            display: none;
        }
        #price-checkbox, #time-checkbox {
            margin-bottom: 0;
            position: relative;
            padding-left: 20px;
            margin-left: 5px;
        }
        input[type="checkbox"] + label:before {
            position: absolute;
            top: -7px;
            left: -10px;
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            text-decoration: inherit;
            font-size: 28px;
        }
        input[type="checkbox"] + label:before{
            content: "\f096";
            color: @darkGray;
        }
        input[type="checkbox"]:checked + label:before{
            content: "\f046";
            color: green;
        }
    }
    .mobile-filter-bar {
        @media @desktop {
            display: none;
        }
        @media @mobile {
            height: 100%;
            input[type="radio"] {
                display: none;
            }
            input[type="radio"] + label {
                width: 45px;
                height: 30px;
                border-radius: 3px;
                text-align: center;
                line-height: 30px;
                margin: 5px;
                font-family: "Langtinghei SC";
                color: #727D80;
                transition: background 0.5s, color 0.5s;
            }
            input[type="radio"]:checked + label {
                color: @themeColor;
                background: #D0D7D9;
            }
            .filter-container-one {
                .Flex !important;
                padding: 0 2% !important;
                width: 100vw !important;
                .FlexJustifyContent(space-between);
                .mobile-category {
                    .Flex;
                    .FlexWrap(wrap);
                    .FlexAlignItems(center);
                    .FlexJustifyContent(center);
                    .FlexGrow(1);
                }
            }
            .filter-container-two {
                .Flex !important;
                padding: 0 2% !important;
                > div {
                    .Flex;
                    .FlexDirection(column);
                    .FlexJustifyContent(center);
                    .FlexAlignItems(center);
                    flex: 1;
                }
                .mobile-time, .mobile-price {
                    .Flex;
                    .FlexJustifyContent(center);
                    .FlexAlignItems(center);
                    label {
                        width: 80px;
                    }
                }
            }
        }
        .glyphicon {
            @media @desktop {
                display: none;
            }
            @media @mobile {
                .Flex;
                .FlexAlignItems(center);
                height: 100%;
            }
        }
    }
}


.dropdown-menu > li > a {
    &:hover {
        color: @themeColor;
        background-color: white;
        background-image: none;
    }
    &:focus {
        color: @themeColor;
        background-color: white;
        background-image: none;
    }
}

.btn-default {
    &:hover, &:focus, &.focus, &:active, &.active{
        color: @themeColor;
        background-color: white;
        border-color: @themeColor;
    }
}

.open > .dropdown-toggle.btn-default {
    color: @orange;
    background-color: white;
    border-color: @orange;
}

.btn {
    background-image: none;
    border: none;
    border-radius: 0px;
}


/* Home page ticket events
================================================== */

@xsDeviceBreakPoint: 767px;
@twoColumnBreakpoint: 768px;
@threeColumnBreakpoint: 1120px;

@twoColumnContainerWidth: 730px;
@threeColumnContainerWidth: 1080px;

/* grid-view css */

#index-page-jumbo {
    padding-right: 0;
    padding-left: 0;
    min-height: 200px;
    .responsive-index-page-container {
        @media(max-width: @xsDeviceBreakPoint) {
            padding: 0;
            margin-left: 7%;
            margin-right: 7%;
        }
        margin-right: auto;
        margin-left: auto;
        margin-top: 35px;
        @media(min-width: @twoColumnBreakpoint) {
            width: @twoColumnContainerWidth;
        }
        @media(min-width: @threeColumnBreakpoint) {
            width: @threeColumnContainerWidth;
        }
    }
    #dummy-loader {
        text-align: center;
        font-family: "Langtinghei SC";
        font-size: 26px;
        @media @mobile {
            font-size: 18px;
        }
    }
}

.logo_image {
    overflow: hidden;
    @media @desktop {
        width: 100%;
        height: 235px;
        img {
            min-height: 235px;
            width: 100%;
        }
    }
    @media @mobile {
        width: 100%;
        height: 74vw; // 4:3 ratio
        img {
            height: 100%;
            width: auto;
            max-width: none;
        }
    }
}

.landing-page-activity-block {
    position: relative;
    @media(max-width: @xsDeviceBreakPoint) {
        margin-bottom: 30px;
        padding: 0;
    }
    @media(min-width: @twoColumnBreakpoint) {
        width: 50%;
        float: left;
        padding: 0 15px;
        margin-bottom: 50px;
    }
    @media(min-width: @threeColumnBreakpoint) {
        width: 33%;
    }
}

.venue-name-title {
    position: absolute;
    bottom: 175px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    float: left;
    z-index: 2;
    .NavFont(@lineHeight: 25px);
    color: #2D2D2D;
}

.grid-view {
    display: block;
    @media @desktop{
        height: 375px;
    }
    .event {
        margin: 0;
        h5{
            opacity: 1.0;
            padding: 0;
            margin: 0;
        }
        img {
            z-index: 1;
            margin: 0 auto 0 auto;
            position:relative;
        }
        .price {
            position: absolute;
            bottom: 10px;
            right: 15px;
            padding: 0px 10px;
            z-index: 4;
            height: 20px;
            h5{
                font-family: Microsoft YaHei;
                font-size: 14px;
                color: #FF004B;
                line-height: 17px;
            }
        }
    }
    h3 {
       opacity: 1;
    }
    .description {
        position: relative;
        text-align: justify;
        color: black;
        padding: 5px 15px;
        min-height: 140px;
        overflow: hidden;
        .bookedQuantity {
            float: left;
        }
        .row {
            margin: 0;
            padding: 2px 0;
        }
        #currentPrice {
            float: right;
        }
        h5 {
            padding: 5px 0px;
            font-size: 12px;
            color: black;
            line-height: 15px;
            font-family: Microsoft YaHei;
            @media @mobile {
                max-height: 37px;
                overflow: hidden;
                white-space: normal;
                text-overflow: ellipsis;
            }
        }
        span {
            padding: 0;
            color: #9B9B9B;
            margin-right: 10px;
            &:before {
                position: absolute;
                top: -3px;
                margin: 0;
                font-size: 25px;
                height: 25px;
            }
        }
        #brief-description {
            font-size: 14px;
            height: 35px;
            overflow: hidden;
        }
    }
    .list-title {
        display: none;
    } 
    .hr {
        height: 3px;
        margin: 0px 10px 0px 10px;
    }
}

/* list view

.list-view {
    position: relative;
    background-color: white;
    padding: 0% 0% 0% 0%;
    margin: -15px auto 0 auto;
    .event {
        position: relative;
        background-color: black;
        margin: 0;
        h3 {
            opacity: 1;
            padding-top: 16px;
        }
        h5 {
            color: black;
            text-align: left;
            opacity: 1.0;
            padding: 0;
            margin: 0;
            padding-top: 5px;
        }
        .price {
            font-weight: 500;
            z-index: 4;
            padding: 1% 0 1%;
            width: 100%;
            text-align: center;
            opacity: 1;
            height: 80px;
        }
        img {
            z-index: 1;
            width: 35%;
            height: auto;
            bottom: 5%;
            margin: 15px 15px 10px 10px;
            position: relative;
            float: left;
            border: solid 1px white;
        }
    }
    .title {
        display: none;
    }
    .list-title {
        z-index: 2;
        font-size: 12px;
        width: 100%;
        height: 50px;
        text-align: center;
        vertical-align: middle;
    }
    .description {
        font-weight: 500;
        z-index: 4;
        padding: 1% 0 1%;
        width: 100%;
        opacity: 1;
        height: 80px;
    }
    .hr {
        display: none;
    }
}

*/

#events-empty{
    .Flex;
    .FlexJustifyContent(center);
    .FlexAlignItems(center);
    height: 300px;
    @media @mobile {
        height: 100px;
    }
    .NavFont(26px, 30px);
}

/* Activity status
================================================== */

.status_EXPIRED {
   opacity : 1;
   .expiredStamp {
       z-index: 4;
       position: absolute;
       left:10%;
       @media @mobile {
           left: 5%;
       }
       top:15%;
       opacity: 1 !important;
    }
   .desaturate {
       -webkit-filter: grayscale(100%);
       filter: grayscale(100%);
   }
}

/* Form pages
================================================== */

.rightAlign {
    text-align: right;
}

.leftAlign{ 
   text-align: left;
}

.centerAlign {
    text-align: center;
    margin: 0 auto 0 auto;
}

.title {
   text-align: center;
}

.labelText {
    color: white;
    padding: 0 30% 0 30%;
}

.formMargin {
    margin-bottom: 10px;
}

.warning {
   color: #E26763;
}

.checking {
    color: #337AB7;
}

.success {
    color: #5CB85C;
}

.label-danger {
    margin-top: 10px;
}

.removeBottom {
    padding-bottom: 0;
    margin-bottom: 0;
}

.marginBotton {
    margin-bottom: 10px;
}

.leftMargin {
   margin-left: 15px;
}

.content {
    text-align: center;
    margin: 20% 10% 20% 10%;
}

a {
    text-decoration: none !important;
}

.vertical {
    &-alignment-helper {
        display:table;
        height: 100%;
        width: 100%;
        pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
    }
    &-align-center {
        /* To center vertically */
        display: table-cell;
        vertical-align: middle;
        pointer-events:none;
    }
}

.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
}

/* make all form-control radius to 0 */
.form-control {
    border-radius: 0px;
    height: 36px;
}

.list-group-item {
    &:first-child {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    &:last-child {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}

/* hide si and logout form at the first place */

.signin-img {
    padding-top: 20px;
}

.container .jumbotron, .container-fluid .jumbotron {
   border-radius: 0px;
}


.category-title-wrapper {
    height: 80px;
    width: 100%;
    margin: auto;
    padding: 30px 20px 15px 30px;
}


/* General info page (delete activity success page... etc)
================================================== */

.info-container {
    @media @desktop {
        padding: 100px;
    }
    @media @mobile {
        padding: 30px 30px 80px 30px;
    }
    font-family: "Langtinghei SC";
    .info-title {
        padding-bottom: 50px;
        h3 {
            @media @mobile {
                font-size: 20px;
            }
        }
    }
    .btn {
        border-radius: 3px;
        @media @mobile {
            font-size: 14px;
            line-height: 26px;
        }
    }
    .btn-success {
        background: #417505;
    }
    .btn-warning {
        background-color: #d9534f;
    }
}


/* Ticket Manager
================================================== */

// -------- template ------------------------------



// ---------- main --------------------------------

#ticket-manager{
    padding: 0;
    #options-wrapper {
        .Flex;
        .FlexAlignItems(center);
        background: #F2F2F2;
        width: 100%;
        margin: 0;
        @media @mobile {
            .FlexDirection(column);
            padding: 30px 5%;
        }
        @media @desktop {
            padding: 30px 0;
        }
        #activity_list {
            width: 100%;
        }
        #show-hide-cut-ticket-toggle {
            @media @mobile {
                margin-top: 20px;
            }
            label {
                text-align: center;
                margin-bottom: 0;
            }
            input[type=checkbox] {
                display: none;
            }
            input[type=checkbox] + label:before {
                position: absolute;
                top: -7px;
                left: -15px;
                font-family: FontAwesome;
                font-style: normal;
                font-weight: normal;
                text-decoration: inherit;
                font-size: 26px;
                content: "\f096";
                color: @darkGray;
            }
            input[type=checkbox]:checked + label:before {
                content: "\f046";
                color: green;
            }
        }
    }
    #ticket-manager-list-container {
        margin: 15px 0;
        width: 100%;
        @media @desktop {
            padding: 0 5%;
        }
        #empty-msg {
            .Flex;
            .FlexJustifyContent(center);
            .FlexAlignItems(center);
            margin: 50px 0;
            @media @mobile {
                margin-top: 50px;
            }
            .NavFont(22px, 30px);
            color: #94A1A5;
            span {
                margin-right: 20px;
            }
        }
        #tickets {
            min-height: 50px;
            padding: 0;
            table {
                max-width: 100%;
                width: 100%;
                font-family: "Langtinghei SC";
            }
        }
        .checked-info, .cut-ticket {
            text-align: center;
        }
        @media @mobile {
            .toggle, .user-name, .user-email, .user-mobile, .purchase-time {
                max-width: 60vw;
                min-width: 60vw;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                text-align: center;
            }
            .toggle {
                text-align: center;
                position: relative;
            }
            .toggle span {
                font-size: 18px;
                color: #5C5C5C;
                position: absolute;
                left: 25%;
            }
        }
        .ticket-name {
            font-family: Microsoft YaHei;
            color: #8D6956;
            @media @mobile {
                font-size: 22px;
                line-height: 36px;
                margin: 20px 0;
            }
            @media @desktop {
                font-size: 26px;
                line-height: 32px;
                margin: 30px 0;
            }
        }
        .cut-ticket span {
            color: @themeColor;
            font-size: 16px;
            line-height: 20px;
        }
        @media @mobile {
            .checked-info {
                max-width: 35vw;
                min-width: 35vw;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
}



/* Activity Manager
================================================== */

// -------- template ------------------------------



// ---------- main --------------------------------

#activity-manager{
    @media @mobile {
        margin-bottom: 0;
    }
    .filter-btn {
        line-height: 15px;
        height: 32px;
        background-image: none !important;
        background-color: white;
        text-decoration: none;
        border: 2px solid @orange;
        color: @orange;
        text-align: center;
        border-radius: 0px;
    }
    .filter-href{
        &-btn{
            .btn;
            width:100%;
            box-shadow: none;
            outline: 0;
            background:none;
            border: none;
        }
    }
    .activity {
        &-manager-controller {
            padding-bottom: 0px;
            text-align: center;
            margin: 20px 0;
            border-bottom: double 3px #D2D2D2;
            width: 100%;
            @media @mobile {
                .Flex;
                .FlexJustifyContent(space-around);
                margin-bottom: 0;
            }
            input[type=checkbox] {
                display: none;
            }
            label{
                &.active, &:focus{
                    box-shadow: none;
                    outline: 0;
                    background:none;
                    border: none;
                }
                &:before {
                    font-family: FontAwesome;
                    font-style: normal;
                    font-weight: normal;
                    text-decoration: inherit;
                    font-size: 26px;
                    content: "\f096";
                    color: @darkGray;
                }
            }
            .active:before{
                content: "\f046";
                color: green;
            }
        }
        &-underline {
            .Flex;
            .FlexAlignItems(center);
            padding: 20px 0;
            border-bottom: solid 2px #D2D2D2;
            @media @mobile {
                .Flex;
                .FlexDirection(column);
                padding: 10px 0;
                margin: 0;
            }
            .manager-options {
                .Flex;
                .FlexAlignItems(center);
                @media @mobile {
                    .FlexDirection(row);
                    margin-bottom: 10px;
                }
                .expired-time {
                    .Flex;
                    .FlexAlignItems(center);
                    .FlexJustifyContent(center);
                    .FlexDirection(row);
                    p {
                        margin-bottom: 0;
                        font-size: 18px;
                        line-height: 22px;
                        @media @mobile {
                            font-size: 12px;
                        }
                    }
                }
                span:before {
                    font-size: 18px;
                    color: #2E2E2E;
                    margin-right: 10px;
                }
                .admin-controller {
                    .Flex;
                    .FlexAlignItems(center);
                    .FlexJustifyContent(center);
                    color: #2E2E2E;
                    font-family: "Langtinghei SC";
                    font-size: 18px;
                    line-height: 22px;
                    @media @mobile {
                        font-size: 16px;
                    }
                    &:hover {
                        color: @themeColor;
                        font-size: 20px;
                    }
                }
            }
            div {
                @media @mobile {
                    width: 100%;
                    padding: 0;
                }
            }

        }
    }
    .activity-manager-title {
        label {
            font-family: "Langtinghei SC";
            font-size: 22px;
            line-height: 32px;
            margin-bottom: 0;
            @media @mobile {
                font-size: 18px;
                margin: 15px 0;
            }
        }
        @media @mobile {
            text-align: center;
        }
    }
    .filter-quarter {
        width: 25%;
        border-bottom: 0px;
    }

    .glyphicon-star {
        color: @themeColor;
        font-size: large;
        &-empty {
            color: @themeColor;
            font-size: larger;
        }
    }
}




/* Loading icon
================================================== */

// -------- template ------------------------------

#loading{
    width: 100%;
    .Flex;
    position: absolute;
    .FlexAlignItems(center);
    .FlexJustifyContent(center);
    z-index: 999;
    left: 0;
    img {
        height: 60px;
        width: 60px;
    }
}

// ---------- main --------------------------------

#index-page-loading{
    #loading;
    @media @mobile{
        top: 200px;
    }
    @media @desktop{
        top: 550px;
    }
    @media (min-width:992px){
        top: 700px;
    }
}

#personal-center-loading {
    #loading;
    top: 300px;
    @media @mobile {
        position: fixed;
        top: 180px;
    }
}

#organizer-page-loading {
    #loading;
    top: 300px;
    @media (min-width: 992px) {
        left: 140px;
    }
    @media @desktop {
        left: 220px;
    }
    @media @mobile {
        position: fixed;
        top: 90px;
    }
}

#ticket-manager-page-loading {
    #loading;
    top: 300px;
    @media @mobile {
        position: fixed;
        top: 180px;
    }
}

#activity-page-review-loading {
    #loading;
    top: 50px;
}

/* Error page
================================================== */

// -------- template ------------------------------

// ---------- main --------------------------------


.error-handling-page {
    .Flex;
    .FlexDirection(column);
    width: 100%;
    height: 100%;
    .FlexAlignItems(center);
    .FlexJustifyContent(center);
    @media @mobile {
        margin-bottom: 100px;
    }

    #error-number {
        font-family: "Syncopate Regular";
        @media @desktop {
            font-size: 7.5em;
            margin-bottom: 30px;
        }
        @media @mobile {
            font-size: 5em;
            margin-top: 30px;
            margin-bottom: 20px;
        }
    }
    #error-container{
        .Flex;
        @media @desktop {
            .FlexDirection(row);
        }
        @media @mobile {
            .FlexDirection(column);
            .FlexAlignItems(center);
        }
        div {
            .Flex;
            .FlexDirection(column);
            @media @mobile {
                .FlexOrder(2);
                .FlexAlignItems(center);
            }
            #error-company-title {
                font-family: "Aclonica";
                color: #871416;
                font-size: 5em;
                @media @mobile {
                    font-size: 2.5em;
                }
            }
            #error-message {
                font-family: Microsoft YaHei;
                font-size: 2em;
                @media @mobile {
                    font-size: 1.5em;
                    line-height: 2em;
                    margin: 0 10%;
                }
            }
        }
        img {
            width: 200px;
            height: 200px;
            @media @desktop{
                margin-left: 30px;
            }
            @media @mobile {
                .FlexOrder(1);
                width: 150px;
                height: 150px;
            }

        }
    }
    button {
        margin-top: 20px;
        border-radius: 3px;
        background-image: linear-gradient(-180deg, #B4EC51 0%, #429321 100%);
        border: 1px solid #9B9B9B;
        font-family: "Langtinghei SC";
        font-size: 1.2em;
        line-height: 1.5em;
        width: 100px;
        height: 40px;
    }
}