/* My tickets
================================================== */

// ------ definitions ----------------------------

@defaultMyTicketsFontSize: 16px;
@defaultMyTicketsLineHeight: 22px;
@myTicketsFontFamily: Microsoft YaHei;
@myTicketsCountDownFontFamily: "Langtinghei SC";

// Overwriting bootstrap default input styles

.MyTicketsFont(@fontSize: @defaultMyTicketsFontSize; @lineHeight: @defaultMyTicketsLineHeight; @fontFamily: @myTicketsFontFamily; @fontColor: black) {
    font-family: @fontFamily;
    color: @fontColor;
    font-size: @fontSize;
    line-height: @lineHeight;
}

@ticketContainerDesktopHeight: 230px;
@ticketContainerMobileHeight: 100px;

// ---------- main --------------------------------

.personal-my-tickets {
    .Flex;
    .FlexWrap(wrap);
    .FlexJustifyContent(center);
    .month-section{
        .FlexOrder(1);
        font-weight: bold;
        .month{
            @media @mobile {
                .MyTicketsFont(@fontSize: 30px; @lineHeight: 40px; @fontColor: #C4C4C4);
            }
            @media @desktop {
                .MyTicketsFont(@fontSize: 48px; @lineHeight: 66px; @fontColor: #C4C4C4);
            }
        }
        .year{
            @media @mobile {
                .MyTicketsFont(@fontSize: 16px; @lineHeight: 24px; @fontColor: #C4C4C4);
            }
            @media @desktop {
                .MyTicketsFont(@fontSize: 24px; @lineHeight: 36px; @fontColor: #C4C4C4);
            }
        }
    }
    .ticket-container {
        .FlexOrder(1);
        .Flex;
        background: #F8F8F8;
        border: 1px solid #ADADAD;
        position: relative;
        @media @mobile {
            margin: 15px 0;
            height: @ticketContainerMobileHeight;
        }
        @media @desktop {
            margin: 25px 0;
            padding: 10px;
            height: @ticketContainerDesktopHeight;
        }
        .example-qr {
            position: absolute;
            top: 0;
            right: 0;
            @media @desktop {
                width: 40px;
                height: 40px;
            }
            @media @mobile {
                width: 20px;
                height: 20px;
            }
        }
        .qrCode-link {
            .Flex;
            height: 100%;
            width: 100%;
            cursor: pointer;
            .FlexAlignItems(center);
        }
        .count-down-timer, #left-separator, .ticket-info {
            height: 100%;
        }
        #event-title, #event-ticket-title, #event-time, #event-venue, .count-down-timer>h, #clock-icon {
            display: block;
        }
        .count-down-timer {
            width: 15%;
            .FlexOrder(1);
            text-align: center;
            @media @mobile {
                min-width: 70px;
            }
            @media @desktop {
                min-width: 120px;
            }
            h {
                @media @mobile {
                    .MyTicketsFont(@fontColor: @themeColor, @fontSize: 12px, @lineHeight: 14px, @fontFamily: @myTicketsCountDownFontFamily);
                    font-weight: lighter;
                    margin-top: 10px;
                }
                @media @desktop {
                    margin-top: 30px;
                    .MyTicketsFont(@fontColor: @themeColor, @fontSize: 22px, @lineHeight: 30px);
                }
            }
            #clock-icon {
                @media @mobile {
                    max-height: 40px;
                }
                &:before {
                    color: #9B9B9B;
                    margin: 0;
                    @media @mobile {
                        font-size: 35px;
                    }
                    @media @desktop {
                        font-size: 60px;
                    }
                }
            }
            span {
                @media @mobile {
                    .MyTicketsFont(@fontColor: @themeColor, @fontSize: 13px, @lineHeight: 14px, @fontFamily: @myTicketsCountDownFontFamily);
                    font-weight: bold;
                }
                @media @desktop {
                    .MyTicketsFont(@fontColor: @themeColor, @fontSize: 16px, @lineHeight: 22px);
                }
            }
        }
        #left-separator {
            .FlexOrder(2);
            color: white;
            text-shadow: -1px 0 #ADADAD, 0 1px #ADADAD, 1px 0 #ADADAD, 0 -1px #ADADAD;
            @media @mobile {
                font-size: 12px;
                line-height: 7px;
                width: 10px;
                height: 100%;
            }
            @media @desktop {
                font-size: 39px;
                line-height: 16px;
                width: 15px;
                height: 110%;
                padding-top: 2px;
            }
        }
        .ticket-info {
            .FlexOrder(3);
            -webkit-flex: 1 0 0;
            flex: 1 0 0;
            overflow: hidden;
            @media @mobile {
                padding: 10px 10px 0 10px;
            }
            @media @desktop {
                padding: 30px 30px 0 30px;
            }
            #event-title {
                @media @mobile {
                    .MyTicketsFont(@fontSize: 12px; @lineHeight: 14px);
                }
                @media @desktop {
                    .MyTicketsFont;
                }
                @media(min-width: @smallDeviceBreakPoint){
                    .MyTicketsFont(@fontSize: 20px; @lineHeight: 28px);
                }
            }
            #event-time, #event-venue, #event-ticket-name {
                font-weight: lighter;
                @media @mobile {
                    .MyTicketsFont(@fontColor: @deepGray, @fontSize: 10px, @lineHeight:12px);
                }
                @media @desktop {
                    .MyTicketsFont(@fontColor: @deepGray, @fontSize: 14px, @lineHeight:18px);
                }
                @media(min-width: @smallDeviceBreakPoint){
                    .MyTicketsFont(@fontColor: @deepGray);
                }
            }
            #event-ticket-name {
                text-overflow: ellipsis;
                overflow: hidden;
            }
            #event-time {
                @media @mobile {
                    margin-top: 5px;
                }
                @media @desktop {
                    margin-top: 10px;
                }
                @media (min-width: @smallDeviceBreakPoint) {
                    margin-top: 30px;
                }
            }
            #event-venue {
                @media @mobile {
                    margin-top: 3px;
                }
                @media @desktop {
                    margin-top: 10px;
                }
            }
        }
    }
    .my-ticket-qrcode-modal {
        .modal-body {
            img {
                max-width: 80%;
                height: auto;
            }
        }
    }
    #no-ticket {
        text-align: center;
        margin: 100px 0 150px 0;
        font-family: @myTicketsCountDownFontFamily;
    }
    .active-tickets {
        .FlexOrder(1);
        width: 100%;
    }
    .expired-tickets {
        position: relative;
        .FlexOrder(2);
        @media @mobile {
            height: @ticketContainerMobileHeight;
            width: 100%;
        }
        @media @desktop {
            height: 170px;
            width: 45%;
            margin-right: 2.5%;
            margin-left: 2.5%;
        }
        overflow: hidden;
        .ticket-info {
            padding: 15px 10px 0 10px;
            #event-time {
                margin-top: 5px;
            }
            #event-time, #event-venue, #event-ticket-name {
                font-weight: lighter;
                @media @mobile {
                    .MyTicketsFont(@fontColor: @deepGray, @fontSize: 10px, @lineHeight:12px);
                }
                @media @desktop {
                    .MyTicketsFont(@fontColor: @deepGray, @fontSize: 14px, @lineHeight:18px);
                }
            }
        }
        .expired-stamp-container {
            position: absolute;
            right: -30px;
            @media @desktop {
                top: 0;
            }
            @media @mobile {
                right: -15px;
            }
            height: 100%;
            img {
                height: 100%;
            }
        }
    }
}