/* User Personal Page
================================================== */

// ------ definitions ----------------------------

@defaultPersonalPageFontSize: 20px;
@defaultPersonalPageLineHeight: 28px;
@personalPageFontFamily: "Langtinghei SC";

.PersonalPageFont (@fontSize: @defaultPersonalPageFontSize; @lineHeight: @defaultPersonalPageLineHeight) {
    font-family: @personalPageFontFamily;
    font-size: @fontSize;
    line-height: @lineHeight;
}

@smallDeviceBreakPoint: 992px;

// ---------- main -------------------------------


.personal-page-container {
    postiion: relative;
    .Flex;
    @media @mobile {
        .FlexDirection(column);
    }
    .profile-sidebar {
        .user-option-list {
            @media @mobile {
                border-bottom: solid 1px #DBDBDB;
                min-height: 50px;
            }
            a {
                cursor: pointer;
            }
            li {
                -webkit-transform: translateZ(0) scale(1, 1);
                -webkit-transition: all .1s linear;
                transition: all .1s linear;
                &:hover, &.highlighted-option {
                    @media @mobile {
                        span {
                            border-bottom: 5px solid #F1CB70;
                        }
                    }
                    @media @desktop {
                        background: #8D6956;
                        i, span {
                            color: white;
                        }
                    }

                }
                [class*="flaticon-"]:before {
                    font-size: 30px;
                }
                i {
                    color: #9B9B9B;
                }
                span {
                    color: @deepGray;
                }
            }
        }
    }
    .profile-sidebar {
        @media @mobile {
            width: 100%;
            height: 200px;
            .Flex;
            .FlexDirection(column);
        }
        @media @desktop {
            min-height: 1000px;
            min-width: 250px;
            width: 250px;
            background: @lightGray;
        }
        @media (min-width: @smallDeviceBreakPoint) {
            width: 350px;
            min-width: 350px;
        }
        position: relative;

        .user-profile {
            @media @mobile {
                width: 100%;
                padding: 25px 0 25px 0;
                .Flex;
                .FlexDirection(row);
                .FlexJustifyContent(center);
                background: @lightGray;
                border: 1px solid #DBDBDB;
            }
            .profile-img {
                @media @mobile {
                    width: -webkit-max-content;
                    width: -moz-max-content;
                    width: max-content;
                    margin-right: 10%;
                }
                @media @desktop {
                    width: 100%;
                    margin-top: 60px;
                }
                text-align: center;
                #user-image {
                    @media @mobile {
                        max-width: 100px;
                        max-height: 100px;
                    }
                    max-width: 150px;
                    max-height: 150px;
                    border-radius: 9999px;
                    -webkit-box-shadow: 0px 0px 26px -6px rgba(0, 0, 0, 0.75);
                    -moz-box-shadow: 0px 0px 26px -6px rgba(0, 0, 0, 0.75);
                    box-shadow: 0px 0px 26px -6px rgba(0, 0, 0, 0.75);
                }
            }
            .user-info-container{
                .Flex;
                .FlexDirection(column);
                h1 {
                    @media @mobile {
                        font-size: 18px;
                        line-height: 19px;
                    }
                    @media @desktop {
                        font-size: 30px;
                        line-height: 35px;
                        margin-top: 20px;
                    }
                    text-align: center;
                    font-family: "Langtinghei SC";
                    color: #2E2E2E;
                }
                #user_address{
                    @media @mobile {
                        font-size: 14px;
                        line-height: 19px;
                    }
                    @media @desktop {
                        font-size: 20px;
                        line-height: 26px;
                        margin-top: 20px;
                    }
                }
            }
            label {
                text-align: center;
                width: 100%;
            }
        }
        .user-option-list {
            @media @desktop {
                margin: 50px 0;
            }
            @media @mobile {
                .FlexGrow(1);
                .Flex;
                .FlexAlignItems(center);
            }
            ul {
                padding: 0;
                @media @mobile {
                    .Flex;
                    .FlexDirection(row);
                    width: 100%;
                    margin: 0;
                }
                a {
                    .FlexGrow(1);
                    li {
                        @media @mobile {
                            padding: 0;
                            text-align: center;
                        }
                        @media @desktop {
                            padding: 15px 10px 15px;
                        }
                        @media(min-width: @smallDeviceBreakPoint){
                            padding: 15px 60px 15px;
                        }
                        list-style-type: none;
                        i {
                            @media @mobile {
                                display: none;
                            }
                            @media @desktop {
                                margin: 0 20px;
                            }
                        }
                        span {
                            @media @mobile {
                                .PersonalPageFont(14px,19px);
                                padding-bottom: 5px;
                            }
                            @media @desktop {
                                .PersonalPageFont;
                            }
                        }
                    }
                }
            }
        }
    }
    .profile-main {
        @media @desktop {
            .FlexGrow(1);
            position: relative;
        }
        @media @mobile {
        }
        width: 100%;
        .my-events-heading {
            @media @desktop {
                .PersonalPageFont;
            }
            @media @mobile {
                .PersonalPageFont(18px, 22px);
            }

            color: #5C5C5C;
        }
        .event-container {
            background: #F8F8F8;
            border: 1px solid #E7E7E7;
            margin: 15px 0;
            padding: 10px;
            .event-name {
                @media @mobile {
                    .PersonalPageFont(16px, 22px);
                }
                .PersonalPageFont;
                color: #4A90E2;
                @media @mobile {
                    padding: 5px 0;
                }
                padding-top: 10px;
                padding-bottom: 10px;
            }
            .event-details {
                @media @mobile {
                    .PersonalPageFont(13px, 18px);
                }
                .PersonalPageFont(16px, 22px);
                color: #000000;
                @media @mobile {
                    padding: 5px 0;
                }
                padding-top: 10px;
                padding-bottom: 10px;
                h {
                    padding-right: 30px;
                }
            }
            .event-buttons {
                @media @mobile {
                    font-size: 13px;
                }
                font-size: 16px;
                font-weight: normal;
                line-height: 22px;
                @media @mobile {
                    padding: 10px 0;
                }
                padding-top: 30px;
                padding-bottom: 10px;
                text-align: left;
                a {
                    border: none;
                    background: none;
                    outline: 0;
                    color: #9B9B9B;
                    padding-right: 50px;
                }
                [class*="flaticon-"]:before {
                    font-size: 25px;
                    margin: 0;
                }
            }
        }
        .personal-my-events {
            .organized-container, .attended-container {
                @media @mobile {
                    margin: 30px 10px;
                }
                margin: 60px;
            }
            .zero-event-notice {
                display: block;
                text-align: center;
                color: @themeColor;
                font-family: @myTicketsCountDownFontFamily;
                text-decoration: underline;
                @media @mobile {
                    margin: 50px 0 100px 0;
                }
                @media @mobile {
                    margin: 50px 0 100px 0;

                }
            }
        }
        .personal-update-information {
            @media @mobile {
                margin-right: 10%;
                margin-left: 10%;
            }
            #delete-profile-pic {
                margin-top: 20px;
            }
            #personal-user-image{
                width: 100%;
                max-width: 300px;
                height: auto;
            }
            .deleteImage {
                background: #FFFFFF;
                border: 1px solid #D0021B;
                border-radius: 3px;
                font-family: "Langtinghei SC";
                font-size: 14px;
                color: #D0021B;
                line-height: 19px;
                width: 100px;
                @media @mobile {
                    margin-bottom: 10px;
                    margin-top: 10px;
                }
            }
            #user-submit-button {
                background: #417505;
                border-radius: 3px;
                font-family: "Langtinghei SC";
                font-size: 14px;
                color: #FFFFFF;
                line-height: 19px;
                @media @mobile {
                    margin-bottom: 20px;
                }
            }
            #user-delete-button {
                border-radius: 3px;
                font-family: "Langtinghei SC";
                font-size: 14px;
                color: #FFFFFF;
                line-height: 19px;
                @media @desktop {
                    margin-left: 20px;
                }
            }
            label {
                font-family: "Microsoft YaHei";
                font-size: 14px;
                font-weight: 300;
                @media @desktop {
                    padding: 0;
                }
                @media @mobile {
                    font-size: 12px;
                }

            }
        }
        .personal-my-tickets {
            @media @mobile {
                padding: 15px 10px;
            }
            @media @desktop {
                padding: 60px;
            }
        }
        .personal-update-password {
            .Flex;
            .FlexAlignItems(center);
            .FlexJustifyContent(center);
            @media @desktop {
                margin-top: 100px;
            }
            @media @mobile {
                margin-top: 50px;
            }
            #update-password-page {
                width: 80%;
                max-width: 500px;
                @media @desktop {
                    padding: 0;
                }
                label {
                    font-family: "Microsoft YaHei";
                    font-size: 14px;
                    font-weight: 300;
                    @media @desktop {
                        padding: 0;
                    }
                    @media @mobile {
                        font-size: 12px;
                    }
                }
                .button-container {
                    width: 100%;
                    text-align: right;
                    @media @mobile {
                        text-align: center;
                    }
                    #password-update-button {
                        border-radius: 3px;
                        font-family: "Langtinghei SC";
                        font-size: 14px;
                        background: #417505;
                        color: white;
                    }
                }
            }
        }
        .personal-update-organizer-setting {
            .Flex;
            .FlexAlignItems(center);
            .FlexJustifyContent(center);
            @media @desktop {
                margin-top: 100px;
            }
            @media @mobile {
                margin-top: 50px;
            }
            #update-organizer-setting-page {
                width: 80%;
                max-width: 500px;
                @media @desktop {
                    padding: 0;
                }
                label {
                    font-family: "Microsoft YaHei";
                    font-size: 14px;
                    font-weight: 300;
                    @media @desktop {
                        padding: 0;
                    }
                    @media @mobile {
                        font-size: 12px;
                    }
                }
                .button-container {
                    width: 100%;
                    text-align: right;
                    @media @mobile {
                        text-align: center;
                    }
                    #organizer-setting-update-button {
                        border-radius: 3px;
                        font-family: "Langtinghei SC";
                        font-size: 14px;
                        background: #417505;
                        color: white;
                    }
                }
            }
        }
    }
}


