@import spbox.web.view.html.main
@import play.i18n._
@(message: String)(organizerRating: Map[String, Double])


@main(message) {

<div class="col-sm-12">
	<div class="control-label">
		<label><h1>@Messages.get("page.organizerRating")</h1></label>
	</div>
</div>

<div class="col-sm-12 table-responsive">	
	<table class="table">
		<thead>
			<tr>
				<th>@Messages.get("organizerRating.organizerEmail")</th>
				<th>@Messages.get("organizerRating.rate")</th>
			</tr>
		</thead>
		<tbody>
			@if(organizerRating != null) {
				@for((organizerEmail, rate) <- organizerRating) {
					<tr>
						<td>@organizerEmail</td>
						<td>@rate</td>
					</tr>
				}
			}
		</tbody>
	</table>
</div>



}
