@import spbox.web.view.html.main
@import play.i18n._
@(message: String)(pageViewCount: Map[String, Long])


@main(message) {

<div class="col-sm-12">
	<div class="control-label">
		<label><h1>@Messages.get("page.pageView")</h1></label>
	</div>
</div>

<div class="col-sm-12 table-responsive">	
	<table class="table">
		<thead>
			<tr>
				<th>@Messages.get("pageView.pageUrl")</th>
				<th>@Messages.get("pageView.count")</th>
			</tr>
		</thead>
		<tbody>
			@if(pageViewCount != null) {
				@for((page, count) <- pageViewCount) {
					<tr>
						<td>@page</td>
						<td>@count</td>
					</tr>
				}
			}
		</tbody>
	</table>
</div>



}
